﻿@page
@model Power_X1_iCT.Pages.Setup.SetupRobotToTrayUnloaderModel
@{
}
@Html.AntiForgeryToken()
<head>
    <link rel="stylesheet" href="/_content/Platform.HMI/css/setup.css" />
</head>
<div class="backgroundImage">
    <img src="~/img/Modules/robot-tray-offloader.png" />
</div>
<div class="col-12 row">
    <div class="col-5">
        <div class="main-settings-sempro-card">
            <div class="row" style="margin:0px">
                <button class="smallbutton" id="ExecuteLockCoversButton" title="Lock" style="display:block;">
                    <img src="/_content/Platform.HMI/icons/lock.png" width="30">
                </button>
                <button class="smallbutton" id="ExecuteUnlockCoversButton" title="Unlock" style="display:none">
                    <img src="/_content/Platform.HMI/icons/unlock.png" width="30">
                </button>
                <button class="halvebutton" id="ExecuteInitializeButton" title="Initialize">
                    <img src="/_content/Platform.HMI/icons/init.png" width="30">
                </button>
                <button class="halvebutton" id="ExecuteStartButton" title="Start">
                    <img src="/_content/Platform.HMI/icons/play.png" width="40">
                </button>
                <button class="halvebutton" id="ExecuteStopButton" title="Stop">
                    <img src="/_content/Platform.HMI/icons/stop.png" width="40">
                </button>
                <div class="statusBar" id="RobotToTrayUnloaderStatus">Ready</div>
                <div class="stateBar" id="RobotToTrayUnloaderState">Stopped</div>
                &nbsp;
                <button class="smallbutton" title="Setup" id="SetupMainRobotToTrayUnloader" style="float:right;">
                    <img src="/_content/Platform.HMI/icons/settings.png" width="30">
                </button>
            </div>
        </div>
        <div class="main-settings-sempro-card">
            <h5 class="font-weight-bold d-inline-flex settings-label">Processes</h5>
            <div class="row">
                <span class="process-label">Inspection</span>
                <div>
                    <button class="halvebutton" title="Execute" id="ExecuteInspectionToInfeedCommand">
                        <img src="/_content/Platform.HMI/icons/arrow_left.png" width="30">
                    </button>
                    <button class="halvebutton" title="Execute" id="ExecuteInspectionCommand">
                        <img src="/_content/Platform.HMI/icons/arrow_right.png" width="30">
                    </button>
                </div>
                <div class="statusBar" id="InspectionStatus">Ready</div>
                &nbsp;
                <button class="button" title="Setup" id="SetupInspection" style="float:right; width:50px;">
                    <img src="/_content/Platform.HMI/icons/settings.png" width="30">
                </button>
            </div>
            <div>
                <div class="row">
                    <span class="process-label">Robot</span>
                    <div style="visibility:hidden">
                        <form method="post">
                            <button class="button" title="Execute">
                                <img src="/_content/Platform.HMI/icons/repeat_once.png" width="30">
                            </button>
                        </form>
                    </div>
                    <div class="statusBar" id="RobotProcessStatus">Ready</div>
                    &nbsp;
                    <button class="button" title="Setup" id="SetupRobot" style="float:right; width: 50px">
                        <img src="/_content/Platform.HMI/icons/settings.png" width="30">
                    </button>
                    <button class="smallbutton" title="Teach place" id="openTeachPlacePositionsButton" style="float:right;">
                        <img src="/_content/Platform.HMI/icons/assistant.png" style="width: 40px;height: 35px;">
                    </button>
                </div>
                <div class="row">
                    <span class="process-label">Robot pick</span>
                    <button class="button" title="Execute" id="ExecuteRobotPickCommand">
                        <img src="/_content/Platform.HMI/icons/repeat_once.png" width="30">
                    </button>
                    <div class="statusBar" id="RobotProcessStatus" style="visibility:hidden">Ready</div>
                    &nbsp;
                    <button class="button" title="Setup" id="SetupRobotPick" style="float:right; width: 50px">
                        <img src="/_content/Platform.HMI/icons/settings.png" width="30">
                    </button>
                </div>
                <div class="row">
                    <span class="process-label">Robot place</span>
                    <button class="button" title="Execute" id="ExecuteRobotPlaceCommand">
                        <img src="/_content/Platform.HMI/icons/repeat_once.png" width="30">
                    </button>
                    <div class="statusBar" id="RobotProcessStatus" style="visibility:hidden">Ready</div>
                    &nbsp;
                    <button class="button" title="Setup" id="SetupRobotPlace" style="float:right; width: 50px">
                        <img src="/_content/Platform.HMI/icons/settings.png" width="30">
                    </button>
                </div>
                <div class="row">
                    <span class="process-label">Robot home</span>
                    <button class="button" title="Execute" id="ExecuteRobotHomeCommand">
                        <img src="/_content/Platform.HMI/icons/repeat_once.png" width="30">
                    </button>
                    <div class="statusBar" id="RobotProcessStatus" style="visibility:hidden">Ready</div>
                    &nbsp;
                    <button class="button" title="Setup" id="SetupRobotHome" style="float:right; width: 50px">
                        <img src="/_content/Platform.HMI/icons/settings.png" width="30">
                    </button>
                </div>
            </div>
        </div>
        <div class="main-settings-sempro-card">
            <h5 class="font-weight-bold d-inline-flex settings-label">Resources</h5>
            <div>
                <div class="row">
                    <span class="process-label">Camera 3D</span>
                    <button class="button" title="Debug" id="Debug3dCameraController">
                        <img src="/_content/Platform.HMI/icons/tool.png" width="30">
                     </button>
                     <div class="statusBar" id="Camera3dControllerStatus">Ready</div>
                    </div>
                <div class="row">
                    <span class="process-label">Scanning stage</span>
                    <button class="button" title="Debug" id="DebugScanningStage">
                        <img src="/_content/Platform.HMI/icons/tool.png" width="30">
                    </button>
                    <div class="statusBar" id="ScanningstageStatus">Ready</div>
                </div>
                <div class="row">
                    <span class="process-label">Robot</span>
                    <button class="button" title="Debug" id="DebugRobot">
                        <img src="/_content/Platform.HMI/icons/tool.png" width="30">
                    </button>
                    <div class="statusBar" id="RobotStatus">Ready</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-7">
        <div style="display: inline-flex">
            @* Main process *@
            <div id="SetupMainRobotToTrayUnloaderContainer" style="display:none;" class="settings">
                @await Html.PartialAsync("Main/RobotToTrayUnloaderSettingsPartial")
            </div>

            @* Sub processes *@
            <div id="SetupInspectionContainer" style="display:none;" class="settings">
                @await Html.PartialAsync("Subprocesses/InspectionSettingsPartial")
            </div>
            <div id="SetupRobotContainer" style="display:none;" class="settings">
                @await Html.PartialAsync("Subprocesses/RobotSettingsPartial")
            </div>
            <div id="SetupRobotPickContainer" style="display:none;" class="settings">
                @await Html.PartialAsync("Subprocesses/RobotPickSettingsPartial")
            </div>
            <div id="SetupRobotPlaceContainer" style="display:none;" class="settings">
                @await Html.PartialAsync("Subprocesses/RobotPlaceSettingsPartial")
            </div>
            <div id="SetupRobotHomeContainer" style="display:none;" class="settings">
                @await Html.PartialAsync("Subprocesses/RobotHomeSettingsPartial")
            </div>

            @* Resources *@
            <div id="Debug3dCameraControllerContainer" style="display:none;min-width:520px" class="settings">
                @await Html.PartialAsync("Resources/_3dCameraControllerDebugPartial")
            </div>
            <div id="DebugScanningStageContainer" style="display:none;min-width:520px" class="settings">
                @await Html.PartialAsync("Resources/ScanningStageDebugPartial")
            </div>
            <div id="DebugRobotContainer" style="display:none;min-width:520px" class="settings">
                @await Html.PartialAsync("Resources/RobotDebugPartial")
            </div>
        </div>
    </div>
 </div>
<div id="teachPlacePositionsModal" class="modal fade">
    <div class="modal-dialog" style="left:-490px;top:90px;">

        <!-- Modal content-->
        <div class="assistant-modal-content  modal-content">
        </div>
    </div>
</div>
<script src="/_content/RobotToTrayUnloader.HMI/js/robotToTrayUnloader.js"></script>

<script title="commands">
    $("#ExecuteLockCoversButton").click(function (e) {
        e.preventDefault();
        disableButtonTimeout("ExecuteLockCoversButton", true, 100);
        $.ajax({
            url: "/Setup/Setup?handler=LockCovers",
            type: 'POST',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (response) {
                console.log(response);
            },
        });
    });

    $("#ExecuteUnlockCoversButton").click(function (e) {
        e.preventDefault();
        disableButtonTimeout("ExecuteUnlockCoversButton", true, 100);
        $.ajax({
            url: "/Setup/Setup?handler=UnlockCovers",
            type: 'POST',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (response) {
                console.log(response);
            },
        });
    });

    $("#ExecuteInitializeButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupRobotToTrayUnloader", "Initialize");
    });

    $("#ExecuteStartButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupRobotToTrayUnloader", "Start");
    });

    $("#ExecuteStopButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupRobotToTrayUnloader", "Stop");
    });

    $("#ExecuteInspectionToInfeedCommand").click(function (e) {
        e.preventDefault();
        sendCommand("SetupRobotToTrayUnloader", "ToInfeedCommand");
    });

    $("#ExecuteInspectionCommand").click(function (e) {
        e.preventDefault();
        sendCommand("SetupRobotToTrayUnloader", "InspectionCommand");
    });

    $("#ExecuteRobotPickCommand").click(function (e) {
        e.preventDefault();
        sendCommand("SetupRobotToTrayUnloader", "RobotPickCommand");
    });

    $("#ExecuteRobotPlaceCommand").click(function (e) {
        e.preventDefault();
        sendCommand("SetupRobotToTrayUnloader", "RobotPlaceCommand");
    });

    $("#ExecuteRobotHomeCommand").click(function (e) {
        e.preventDefault();
        sendCommand("SetupRobotToTrayUnloader", "RobotHomeCommand");
    });

</script>

<script title="Assistants">
    $('#openTeachPlacePositionsButton').click(function () {
        $('#teachPlacePositionsModal .assistant-modal-content').load('./Assistants/TeachPlacePositions/TeachPlacePositionsAssistant');
        $("#teachPlacePositionsModal").modal({ backdrop: 'static', keyboard: false }, 'show');

        // OnClose, remove all divs / javascript
        $('#teachPlacePositionsModal').on('hidden.bs.modal', function () {
            resetModalContent('teachPlacePositionsModal');
        });
    });

    function resetModalContent(modalName) {
        // Select the modal content element
        const modalContent = $('#' + modalName + ' .modal-content');
        // Remove all child elements within the modal content
        modalContent.empty();
        // Remove any event listeners attached to the modal content
        modalContent.off();
    }

    </script>

<script title="Simulation">
    $(function () {
        $("#Simulation").change(function (e) {
            e.preventDefault();
            sendCommand("SetupRobotToTrayUnloader", "SimulationChanged");
        });
    })
</script>

<script title="Velocity">
    $(function () {
        $("#VelocityPercentage").change(function (e) {
            e.preventDefault();
            var percentage = $("#VelocityPercentage")[0].value;
            sendCommand("SetupRobotToTrayUnloader", "SetVelocityPercentage", percentage);
        });
    });
</script>
