﻿@page
@model Power_X1_iCT.Pages.SetupModel
@{
}
<head>
    <script src="/_content/Platform.HMI/js/combobox.js"></script>
    <link rel="stylesheet" href="/_content/Platform.HMI/css/setup.css" />
    <link rel="stylesheet" href="/_content/Platform.HMI/css/togglebutton.css" />
    <link rel="stylesheet" href="/_content/Platform.HMI/css/dropdownbox.css" />
    <link rel="stylesheet" href="/_content/Platform.HMI/css/settings.css" />
</head>

<div id="ClearMaterialModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Clear all material</h4>
                <button type="button" class="close" data-dismiss="modal" style="float:right">&times;</button>
            </div>
            <div class="modal-body">
                <div style="height: 40px">
                    Are you sure you want to remove all material?
                    &nbsp;
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="AcceptClearMaterial">
                        Accept
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ReInitPLCModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reinitialize PLC</h4>
                <button type="button" class="close" data-dismiss="modal" style="float:right">&times;</button>
            </div>
            <div class="modal-body">
                <div style="height: 40px">
                    You are sure you want to reinitialize the PLC?
                    &nbsp;
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="AcceptReInitPLC">
                        Accept
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="RestartWindowsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Restart windows</h4>
                <button type="button" class="close" data-dismiss="modal" style="float:right">&times;</button>
            </div>
            <div class="modal-body">
                <div style="height: 40px">
                    You are sure you want to restart windows?
                    &nbsp;
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="AcceptRestartWindows">
                        Accept
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="StopChromeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Close HMI</h4>
                <button type="button" class="close" data-dismiss="modal" style="float:right">&times;</button>
            </div>
            <div class="modal-body">
                <div style="height: 80px">
                    You are sure you want to stop the HMI?
                    The application will continue to run in background.
                    &nbsp;
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="AcceptStopHMI">
                        Accept
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dryRunModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <label class="checkBox textbox" hidden>
                        <input type="checkbox" name="Enable" @(!Model.DryRunSettingsModel.Enable ? "checked" : "") value="true">
                        <input type="hidden" name="Enable" value="false" />
                        <span class="checkmark "></span>
                    </label>

                    @if (Model.DryRunSettingsModel.DryRunWithMagazinesAvailable && !Model.DryRunSettingsModel.Enable)
                    {
                        <div class="settings-card" id="DryRunWithMagazinesAvailable">
                            <div class="row" style="margin:0px">
                                <label>Without magazines:</label>
                                <label class="checkBox textbox">
                                    <input type="checkbox" name="DryRunWithMagazines" @(Model.DryRunSettingsModel.DryRunWithMagazines ? "checked" : "") value="true">
                                    <input type="hidden" name="DryRunWithMagazines" value="false" />
                                    <span class="checkmark "></span>
                                </label>
                            </div>
                        </div>
                        <text>&nbsp;</text>
                    }
                    <button id="dryRunFormSubmitButton" asp-page-handler="ChangeDryRunEnabled" hidden>
                    </button>
                    <div id="dry-run-modal-body-text">
                    </div>
                </form>
            </div>
            &nbsp;
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@sharedLocalizer["Cancel"]</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="dryRunChangeConfirmButton">@sharedLocalizer["Confirm"]</button>
            </div>
        </div>
    </div>
</div>
@*
<div id="dryRunModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="dry-run-modal-body-text">
                @sharedLocalizer["Are you sure you want to perform this action?"]
            </div>
            &nbsp;
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@sharedLocalizer["Cancel"]</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="dryRunChangeConfirmButton">@sharedLocalizer["Confirm"]</button>
            </div>
        </div>
    </div>
</div>*@

<div class="row container-fluid">
    <div class="module-card" style="min-width:200px">
        <a href="MagazineLoader/SetupMagazineLoader">
            <img src="~/img/Modules/magazine-loader.png" title="Magazine loader" />
        </a>
    </div>
    <div class="module-card">
        <a href="PressModule/SetupPressModule">
            <img src="~/img/Modules/press-module.png" title="Press" />
        </a>
    </div>
    <div class="module-card">
        <a href="RobotToTrayUnloader/SetupRobotToTrayUnloader">
            <img src="~/img/Modules/robot-tray-offloader.png" title="Robot to tray unloader" />
        </a>
    </div>
    @await Html.PartialAsync("_LineControlSettingsPartial.cshtml")
    @await Html.PartialAsync("_LotModePartial.cshtml")
    @await Html.PartialAsync("_NavigationPartial.cshtml")
</div>