﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form method="post">
        <button class="button" id="CloseSetupForming" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
        </button>
    </form>
    <form method="post">
        <h2>Form settings</h2>
        <div>&nbsp;</div>
        <div class="settings-card">
            <div class="row">
                <label for="FormTopPosition" class="col-5">Top position</label>
                <input class="textbox" id="FormTopPosition" name="FormTopPosition" type="number" value="@Model.FormingSettingsModel.FormTopPosition.ToString("F2")" min="1.00" max="1025.00" step="0.01" data-decimal="2" oninput="enforceNumberValidation(this)"/>
                <label for="FormTopPosition">mm</label>
            </div>
            <div class="row">
                <label for="FormClosePosition" class="col-5">Close position</label>
            <input class="textbox" id="FormClosePosition" name="FormClosePosition" type="number" value="@Model.FormingSettingsModel.FormClosePosition.ToString("F2")" min="1.00" max="225.00" step="0.01" data-decimal="2" oninput="enforceNumberValidation(this)" />
                <label for="FormClosePosition">mm</label>
            </div>
             <div class="row">
                <label for="FormSafePosition" class="col-5">Safe position</label>
            <input class="textbox" id="FormSafePosition" name="FormSafePosition" type="number" value="@Model.FormingSettingsModel.FormSafePosition.ToString("F2")" min="1.00" max="225.00" step="0.01" data-decimal="2" oninput="enforceNumberValidation(this)" />
                <label for="FormSafePosition">mm</label>
            </div>
            <div class="row">
                <label for="FormRemovePosition" class="col-5">Remove position</label>
            <input class="textbox" id="FormRemovePosition" name="FormRemovePosition" type="number" value="@Model.FormingSettingsModel.FormRemovePosition.ToString("F2")" min="1.00" max="225.00" step="0.01" data-decimal="2" oninput="enforceNumberValidation(this)" />
                <label for="FormRemovePosition">mm</label>
            </div>
            <div class="row">
                <label for="FormMaintenancePosition" class="col-5">Maintenance position</label>
            <input class="textbox" id="FormMaintenancePosition" name="FormMaintenancePosition" type="number" value="@Model.FormingSettingsModel.FormMaintenancePosition.ToString("F2")" min="1.00" max="225.00" step="0.01" data-decimal="2" oninput="enforceNumberValidation(this)" />
                <label for="FormMaintenancePosition">mm</label>
            </div>
            <div class="row">
                <label for="FormVelocity" class="col-5">Velocity</label>
            <input class="textbox" id="FormVelocity" name="FormVelocity" type="number" value="@Model.FormingSettingsModel.FormVelocity" min="1" max="150" step="1" data-decimal="0" oninput="enforceNumberValidation(this)" />
                <label for="FormVelocity">mm/s</label>
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="text-center">
            <button class="button" asp-page-handler="DownloadFormingSettingsToPLC" title="Download to PLC">
            <img src="/_content/Platform.HMI/icons/download.png" width="30">
            </button>
            <button class="button" asp-page-handler="SaveFormingSettings" title="Save to database">
            <img src="/_content/Platform.HMI/icons/save.png" width="30">
            </button>
            <button class="button" asp-page-handler="RefreshFormingSettingsFromRecipe" title="Load from database">
            <img src="/_content/Platform.HMI/icons/back.png" width="30">
            </button>
        </div>
    </form>