@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form method="post">
        <button class="button" id="CloseSetupTrimming" title="Close settings" style="float:right; width:50px; height:50px">
            <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
        </button>
    </form>
    <form method="post">
    <h2>Trimming settings</h2>
    <div>&nbsp;</div>
    <div class="settings-card">

        <div class="row">
            <label for="TrimTopPosition" class="col-5">Top position</label>
            <input class="textbox" id="TrimTopPosition" name="TrimTopPosition" type="number" value="@Model.TrimmingSettingsModel.TrimTopPosition.ToString("F2")" " min="1" max="1025" step="0.01" data-decimal="2" oninput="enforceNumberValidation(this)" />
            <label for="TopPosition">mm</label>
        </div>
        <div class="row">
            <label for="TrimClosePosition" class="col-5">Close position</label>
            <input class="textbox" id="TrimClosePosition" name="TrimClosePosition" type="number" value="@Model.TrimmingSettingsModel.TrimClosePosition.ToString("F2")" " min="1.00" max="225.00" step="0.01" data-decimal="2" oninput="enforceNumberValidation(this)" />
            <label for="TrimClosePosition">mm</label>
        </div>
        <div class="row">
            <label for="TrimSafePositionZ" class="col-5">Safe position z</label>
            <input class="textbox" id="TrimSafePositionZ" name="TrimSafePosition" type="number" value="@Model.TrimmingSettingsModel.TrimSafePosition.ToString("F2")" " min="1.00" max="225.00" step="0.01" data-decimal="2" oninput="enforceNumberValidation(this)" />
            <label for="TrimSafePositionZ">mm</label>
        </div>
        <div class="row">
            <label for="TrimRemovePosition" class="col-5">Remove position</label>
            <input class="textbox" id="TrimRemovePosition" name="TrimRemovePosition" type="number" value="@Model.TrimmingSettingsModel.TrimRemovePosition.ToString("F2")" " min="1" max="225" step="0.01" data-decimal="2" oninput="enforceNumberValidation(this)" />
            <label for="TrimRemovePosition">mm</label>
        </div>
        <div class="row">
            <label for="TrimMaintenancePosition" class="col-5">Maintenance position</label>
            <input class="textbox" id="TrimMaintenancePosition" name="TrimMaintenancePosition" type="number" value="@Model.TrimmingSettingsModel.TrimMaintenancePosition.ToString("F2")" " min="1.00" max="225.00" step="0.01" data-decimal="2" oninput="enforceNumberValidation(this)" />
            <label for="TrimMaintenancePosition">mm</label>
        </div>
        <div class="row">
            <label for="TrimVelocity" class="col-5">Velocity</label>
            <input class="textbox" id="TrimVelocity" name="TrimVelocity" type="number" value="@Model.TrimmingSettingsModel.TrimVelocity" min="1" max="150" step="1" data-decimal="0" oninput="enforceNumberValidation(this)" />
            <label for="Velocity">mm/s</label>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="text-center">
        <button class="button" asp-page-handler="DownloadTrimmingSettingsToPLC" title="Download to PLC">
            <img src="/_content/Platform.HMI/icons/download.png" width="30">
        </button>
        <button class="button" asp-page-handler="SaveTrimmingSettings" title="Save to database">
            <img src="/_content/Platform.HMI/icons/save.png" width="30">
        </button>
        <button class="button" asp-page-handler="RefreshTrimmingSettingsFromRecipe" title="Load from database">
            <img src="/_content/Platform.HMI/icons/back.png" width="30">
        </button>
    </div>
</form>
