﻿    <form method="post">
        <button class="button" id="CloseMaintenanceTrimming" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
        </button>
    </form> 
    <h2>Trim maintenance</h2>
    <div>&nbsp;</div>
    <div class="settings-card">
        <div class="row" style="margin-left: 10px">
            <button class="button" id="RemoveTrimTool" title="Remove tool">
            Remove tool
        </button>
        </div>
        &nbsp;
        <div class="row" style="margin-left: 10px">
            <button class="button" id="GoToTrimMaintenance" title="Go to maintenance position">
            Maintenance
        </button>
        </div>        
    </div>    


<script title="commands">
    $("#RemoveTrimTool").click(function (e) {
        e.preventDefault();
        sendCommand("SetupPressModule", "RemoveTrimTool");
    });

    $("#GoToTrimMaintenance").click(function (e) {
        e.preventDefault();
        sendCommand("SetupPressModule", "TrimMaintenance");
    });    
</script>

