﻿<div class="recipe-card">
    <div class="row">
        <div class="col-sm-10">
            <h2>Device recipe</h2>
        </div>
        <div class="col-sm-2">
            <div method="post" style="float:right">
                <button class="smallbutton" id="CloseDeviceRecipe" title="Close settings">
                    <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
                </button>
            </div>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-12">
            <div class="recipe-settings-card">
                <div class="row">
                    <label for="DeviceSizeZ" class="col-7">Device size Z</label>
                    <input class="textbox form-control" id="DeviceSizeZ" name="Device.DeviceSizeZ" type="number" value="@Model.Recipe.Device.DeviceSizeZ" min="1.00" max="1025.00" step="any" data-decimal="0" oninput="enforceNumberValidation(this)" required />
                    <label for="DeviceSizeZ">mm</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        Please fill in a value between 1 and 25!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>         