﻿<div class="recipe-card">
    <div class="row">
        <div class="col-sm-10">
            <h2>Form recipe</h2>
        </div>
        <div class="col-sm-2">
            <div method="post" style="float:right">
                <button class="smallbutton" id="CloseFormRecipe" title="Close settings">
                    <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
                </button>
            </div>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-12">
            <div class="recipe-settings-card">
                <div class="row">
                    <label for="FormTopPosition" class="col-sm-7">Top position </label>
                    <input class="textbox form-control" id="FormTopPosition" type="number" name="Form.TopPosition" asp-format="{0:0.00}" value="@Model.Recipe.Form.TopPosition" min="1.00" max="1025.00" step="any" data-decimal="0" oninput="enforceNumberValidation(this)" required />
                    <label for="FormTopPosition">mm</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        Please fill in a value between 1 and 1025!
                    </div>
                </div>
                <div class="row">
                    <label for="FormClosePosition" class="col-sm-7">Close position</label>
                    <input class="textbox form-control" id="FormClosePosition" name="Form.ClosePosition" asp-format="{0:0.00}" type="number" value="@Model.Recipe.Form.ClosePosition" min="1.00" max="225.00" step="any" data-decimal="2" oninput="enforceNumberValidation(this)" required />
                    <label for="FormClosePosition">mm</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        Please fill in a value between 1 and 225!
                    </div>
                </div>
                <div class="row">
                    <label for="FormVelocity" class="col-sm-7">Velocity</label>
                    <input class="textbox form-control" id="FormVelocity" name="Form.Velocity" asp-format="{0:0.00}" type="number" value="@Model.Recipe.Form.Velocity" min="10" max="150" step="5" data-decimal="2" oninput="enforceNumberValidation(this)" required />
                    <label for="FormVelocity">mm/s</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        Please fill in a value between 1 and 225!
                    </div>
                </div>
                <div class="row">
                    <label for="FormRemovePosition" class="col-sm-7">Remove position</label>
                    <input class="textbox form-control" id="FormRemovePosition" name="Form.RemovePosition" asp-format="{0:0.00}" type="number" value="@Model.Recipe.Form.RemovePosition" min="1.00" max="225.00" step="any" data-decimal="2" oninput="enforceNumberValidation(this)" required />
                    <label for="FormRemovePosition">mm</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        Please fill in a value between 1 and 225!
                    </div>
                </div>
                <div class="row">
                    <label for="FormMaintenancePosition" class="col-sm-7">Maintenance position</label>
                    <input class="textbox form-control" id="FormMaintenancePosition" name="Form.MaintenancePosition" asp-format="{0:0.00}" type="number" value="@Model.Recipe.Form.MaintenancePosition" min="1.00" max="225.00" step="any" data-decimal="2" oninput="enforceNumberValidation(this)" required />
                    <label for="FormMaintenancePosition">mm</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        Please fill in a value between 1 and 225!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>         