﻿<div class="recipe-card">
    <div class="row">
        <div class="col-sm-10">
            <h2>Magazine recipe</h2>
        </div> 
        <div class="col-sm-2">
            <div method="post" style="float:right">
                <button class="smallbutton" id="CloseMagazineRecipe" title="Close settings">
                    <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
                </button>
            </div>
        </div>        
    </div> 
    &nbsp;
        <div class="row" >
            <div class="col-7">
                <div class="recipe-settings-card">
                    <div class="row">
                        <label for="SlotCount" class="col-7">a. Slot count </label>
                        <input class="textbox form-control" id="SlotCount" type="number" name="Magazine.SlotCount" value="@Model.Recipe.Magazine.SlotCount" min="1.00" max="25.00" step="any" data-decimal="0" oninput="enforceNumberValidation(this)" required />
                        <label for="SlotCount">#</label>
                        <div class="invalid-feedback row" style="margin-left:40%">
                            Please fill in a value between 1 and 25!
                        </div>
                    </div>
                    <div class="row">
                        <label for="MagazineSlotOffset" class="col-7">b. Slot offset Z</label>
                        <input class="textbox form-control" id="MagazineSlotOffset" name="Magazine.SlotOffset" asp-format="{0:0.00}" type="number" value="@Model.Recipe.Magazine.SlotOffset" min="1" max="50" step="any" data-decimal="2" oninput="enforceNumberValidation(this)" required />
                        <label for="MagazineSlotOffset">mm</label>
                        <div class="invalid-feedback row" style="margin-left:40%">
                            Please fill in a value between 1 and 50!
                        </div>
                    </div>
                    <div class="row">
                        <label for="MagazineBottomSlotOffset" class="col-7">c. Bottom to lowest slot offset Z</label>
                        <input class="textbox form-control" id="MagazineBottomSlotOffset" name="Magazine.BottomSlotOffset" asp-format="{0:0.00}" type="number" value="@Model.Recipe.Magazine.BottomSlotOffset" min="1.00" max="30.00" step="any" data-decimal="2" oninput="enforceNumberValidation(this)" required />
                        <label for="MagazineBottomSlotOffset">mm</label>
                        <div class="invalid-feedback row" style="margin-left:40%">
                            Please fill in a value between 1 and 30!
                        </div>
                    </div>
                    <div class="row">
                        <label for="MagazineWidth" class="col-7">d. Width</label>
                        <input class="textbox form-control" id="MagazineWidth" name="Magazine.Width" type="number" value="@Model.Recipe.Magazine.Width" min="1.00" max="225.00" step="any" data-decimal="2" oninput="enforceNumberValidation(this)" required />
                        <label for="MagazineWidth">mm</label>
                        <div class="invalid-feedback row" style="margin-left:40%">
                            Please fill in a value between 1 and 225!
                        </div>
                    </div>
                    <div class="row">
                        <label for="DevicesPerSlot" class="col-7">e. Devices per slot</label>
                        <input class="textbox form-control" id="DevicesPerSlot" name="Magazine.DevicesPerSlot" type="number" value="@Model.Recipe.Magazine.DevicesPerSlot" min="1" max="3" step="any" data-decimal="0" oninput="enforceNumberValidation(this)" required />
                        <label for="DevicesPerSlot">#</label>
                        <div class="invalid-feedback row" style="margin-left:40%">
                            Please fill in a value between 1 and 3!
                        </div>
                    </div>
                </div>
            </div>           
            <div class="col-5">
            <img class="recipe-settings-image" src="/_content/Platform.HMI/img/magazine_dimensions.png" width="350" />
            </div>
        </div>
    </div>   

