﻿<link rel="stylesheet" href="/_content/Platform.HMI/css/dropdownbox.css" />
<div class="recipe-card">
    <div class="row">
        <div class="col-sm-10">
            <h2>Robot outfeed recipe</h2>
        </div>
        <div class="col-sm-2">
            <div method="post" style="float:right">
                <button class="smallbutton" id="CloseRobotTrayRecipe" title="Close settings">
                    <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
                </button>
            </div>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-12">
            <div class="recipe-settings-card">
                <div class="row">
                    <label for="DefaultVelocityPercentage" class="col-7">Default velocity percentage</label>
                    <input class="textbox form-control" id="DefaultVelocityPercentage" name="Robot.DefaultVelocityPercentage" type="number" value="@Model.Recipe.Robot.DefaultVelocityPercentage" min="10" max="100" step="5" data-decimal="0" oninput="enforceNumberValidation(this)" required />
                    <label for="DefaultVelocityPercentage">%</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        Please fill in a value between 10 and 100!
                    </div>
                </div>
                <div class="row">
                    <label for="RobotCount" class="col-7">Number of outfeed locations</label>
                    <input class="textbox form-control" id="RobotCount" name="Robot.Count" type="number" value="@Model.Recipe.Robot.Count" min="1" max="6" step="1" data-decimal="0" oninput="enforceNumberValidation(this)" required />
                    <label for="RobotCount">#</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        Please fill in a value between 1 and 6!
                    </div>
                </div>
                <div class="row ">
                    <label for="tray1" class="col-7">Tray 1</label>
                    <div class="custom-select">
                        <select id="tray1" name="Robot.Tray1">
                            <option value="Disabled">Disabled</option>
                            <option value="Disabled">Disabled</option>
                            <option value="Ok">Ok</option>
                            <option value="Reject">Reject</option>
                            <option value="Rework">Rework</option>
                        </select>
                    </div>
                </div>
                <div class="row" id="rowTray2">
                    <label for="tray2" class="col-7">Tray 2</label>
                    <div class="custom-select">
                        <select id="tray2" name="Robot.Tray2">
                            <option value="Disabled">Disabled</option>
                            <option value="Disabled">Disabled</option>
                            <option value="Ok">Ok</option>
                            <option value="Reject">Reject</option>
                            <option value="Rework">Rework</option>
                        </select>
                    </div>
                </div>
                <div class="row" id="rowTray3">
                    <label for="tray3" class="col-7">Tray 3</label>
                    <div class="custom-select">
                        <select id="tray3" name="Robot.Tray3">
                            <option value="Disabled">Disabled</option>
                            <option value="Disabled">Disabled</option>
                            <option value="Ok">Ok</option>
                            <option value="Reject">Reject</option>
                            <option value="Rework">Rework</option>
                        </select>
                    </div>
                </div>
                <div class="row" id="rowTray4">
                    <label for="tray4" class="col-7">Tray 4</label>
                    <div class="custom-select">
                        <select id="tray4" name="Robot.Tray4">
                            <option value="Disabled">Disabled</option>
                            <option value="Disabled">Disabled</option>
                            <option value="Ok">Ok</option>
                            <option value="Reject">Reject</option>
                            <option value="Rework">Rework</option>
                        </select>
                    </div>
                </div>
                <div class="row" id="rowTray5">
                    <label for="tray5" class="col-7">Tray 5</label>
                    <div class="custom-select">
                        <select id="tray5" name="Robot.Tray5">
                            <option value="Disabled" selected>Disabled</option>
                            <option value="Disabled">Disabled</option>
                            <option value="Ok">Ok</option>
                            <option value="Reject">Reject</option>
                            <option value="Rework">Rework</option>
                        </select>
                    </div>
                </div>
                <div class="row" id="rowTray6">
                    <label for="tray6" class="col-7">Tray 6</label>
                    <div class="custom-select">
                        <select id="tray6" name="Robot.Tray6">
                            <option value="Disabled" selected>Disabled</option>
                            <option value="Disabled">Disabled</option>
                            <option value="Ok">Ok</option>
                            <option value="Reject">Reject</option>
                            <option value="Rework">Rework</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/_content/Platform.HMI/js/combobox.js"></script>

<script>
    document.getElementById("RobotCount").addEventListener('change', showLocations);
    document.addEventListener("DOMContentLoaded", function (event) {

        var tray1 = document.getElementById("tray1");
        tray1.value = "@Model.Recipe.Robot.Tray1";

        var tray2 = document.getElementById("tray2");
        tray2.value = "@Model.Recipe.Robot.Tray2";

        var tray3 = document.getElementById("tray3");
        tray3.value = "@Model.Recipe.Robot.Tray3";

        var tray4 = document.getElementById("tray4");
        tray4.value = "@Model.Recipe.Robot.Tray4";

        var tray5 = document.getElementById("tray5");
        tray5.value = "@Model.Recipe.Robot.Tray5";

        var tray6 = document.getElementById("tray6");
        tray6.value = "@Model.Recipe.Robot.Tray6";

        addComboboxHandler();

        showLocations();
    });

function showLocations() {
    var count = document.getElementById("RobotCount").value;
    var rowTray2 = document.getElementById("rowTray2");
    var rowTray3 = document.getElementById("rowTray3");
    var rowTray4 = document.getElementById("rowTray4");
    var rowTray5 = document.getElementById("rowTray5");
    var rowTray6 = document.getElementById("rowTray6");

    rowTray2.style.display = "none";
    rowTray3.style.display = "none";
    rowTray4.style.display = "none";
    rowTray5.style.display = "none";
    rowTray6.style.display = "none";
    if (count > 1) {
        rowTray2.style.display = "flex";
    }

    if (count > 2) {
        rowTray3.style.display = "flex";
    }

    if (count > 3) {
        rowTray4.style.display = "flex";
    }
    if (count > 4) {
        rowTray5.style.display = "flex";
    }

    if (count > 5) {
        rowTray6.style.display = "flex";
    }
}
</script>


