﻿<div class="recipe-card">
    <div class="row">
        <div class="col-sm-10">
            <h2>Tray recipe</h2>
        </div>
        <div class="col-sm-2">
            <div method="post" style="float:right">
                <button class="smallbutton" id="CloseTrayRecipe" title="Close settings">
                    <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
                </button>
            </div>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-7">
            <div class="recipe-settings-card">
                <div class="row">
                    <label for="PocketOffSetX" class="col-7">a. Pocket pitch X</label>
                    <input class="textbox form-control" id="PocketOffSetX" name="Tray.PocketOffSetX" type="number" value="@Model.Recipe.Tray.PocketOffsetX" min="1.00" max="1025.00" step="any" data-decimal="2" oninput="enforceNumberValidation(this)" required />
                    <label for="PocketOffSetX">mm</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        Please fill in a value between 1 and 1025!
                    </div>
                </div>
                <div class="row">
                    <label for="PocketOffSetY" class="col-7">b. Pocket pitch Y</label>
                    <input class="textbox form-control" id="PocketOffSetY" name="Tray.PocketOffsetY" value="@Model.Recipe.Tray.PocketOffsetY" type="number" min="1.00" max="1025.00" step="any" data-decimal="2" oninput="enforceNumberValidation(this)" required />
                    <label for="PocketOffSetX">mm</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        Please fill in a value between 1 and 1025!
                    </div>
                </div>
                <div class="row">
                    <label for="TrayToFirstPocketOffsetX" class="col-7">c. Tray to first pocket offset X</label>
                    <input class="textbox form-control" id="TrayToFirstPocketOffsetX" name="Tray.TrayToFirstPocketOffsetX" type="number" value="@Model.Recipe.Tray.TrayToFirstPocketOffsetX" min="1.00" max="225.00" step="any" data-decimal="2" oninput="enforceNumberValidation(this)" required />
                    <label for="TrayToFirstPocketOffsetX">mm</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        Please fill in a value between 1 and 225!
                    </div>
                </div>
                <div class="row">
                    <label for="TrayToFirstPocketOffsetY" class="col-7">d. Tray to first pocket offset Y</label>
                    <input class="textbox form-control" id="TrayToFirstPocketOffsetY" name="Tray.TrayToFirstPocketOffsetY" type="number" value="@Model.Recipe.Tray.TrayToFirstPocketOffsetY" min="1.00" max="225.00" step="any" data-decimal="2" oninput="enforceNumberValidation(this)" required />
                    <label for="TrayToFirstPocketOffsetY">mm</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        Please fill in a value between 1 and 225!
                    </div>
                </div>
                <div class="row">
                    <label for="TrayHeight" class="col-7">e. Tray height</label>
                    <input class="textbox form-control" id="TrayHeight" name="Tray.TrayHeight" type="number" value="@Model.Recipe.Tray.TrayHeight" min="1.00" max="100.00" step="any" data-decimal="2" oninput="enforceNumberValidation(this)" required />
                    <label for="TrayHeight">mm</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        Please fill in a value between 1 and 100!
                    </div>
                </div>
                <div class="row">
                    <label for="PocketDepth" class="col-7">f. Pocket depth</label>
                    <input class="textbox form-control" id="PocketDepth" name="Tray.PocketDepth" type="number" value="@Model.Recipe.Tray.PocketDepth" min="1.00" max="40.00" step="any" data-decimal="2" oninput="enforceNumberValidation(this)" required" />
                    <label for="PocketDepth">mm</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        Please fill in a value between 1 and 40!
                    </div>
                </div>
                <div class="row">
                    <label for="DeviceToPocketOffsetZ" class="col-7">Device to pocket offset Z</label>
                    <input class="textbox form-control" id="DeviceToPocketOffsetZ" name="Tray.DeviceToPocketOffsetZ" type="number" value="@Model.Recipe.Tray.DeviceToPocketOffsetZ" min="1.00" max="10.00" step="any" data-decimal="2" oninput="enforceNumberValidation(this)" required" />
                    <label for="DeviceToPocketOffsetZ">mm</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        Please fill in a value between 1 and 10!
                    </div>
                </div>
                <div class="row">
                    <label for="RowCount" class="col-7">Row count</label>
                    <input class="textbox form-control" id="RowCount" name="Tray.RowCount" type="number" value="@Model.Recipe.Tray.RowCount" min="1" max="25" step="1" data-decimal="0" oninput="enforceNumberValidation(this)" required" />
                    <label for="RowCount">#</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        @sharedLocalizer["Please fill in a value between"] 1 @sharedLocalizer["and"] 25!
                    </div>
                </div>
                <div class="row">
                    <label for="ColumnCount" class="col-7">Column count</label>
                    <input class="textbox form-control" id="ColumnCount" name="Tray.ColumnCount" type="number" value="@Model.Recipe.Tray.ColumnCount" min="1" max="25" step="1" data-decimal="0" oninput="enforceNumberValidation(this)" required" />
                    <label for="ColumnCount">#</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        @sharedLocalizer["Please fill in a value between"] 1 @sharedLocalizer["and"] 25!
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <img class="recipe-settings-image" src="/_content/Platform.HMI/img/tray_dimensions.png" />
        </div>
    </div>
</div>