﻿<div class="recipe-card">
    <div class="row">
        <div class="col-sm-10">
            <h2>Trim recipe</h2>
        </div>
        <div class="col-sm-2">
            <div method="post" style="float:right">
                <button class="smallbutton" id="CloseTrimRecipe" title="Close settings">
                    <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
                </button>
            </div>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-12">
            <div class="recipe-settings-card">
                <div class="row">
                    <label for="TrimTopPosition" class="col-sm-7">Top position </label>
                    <input class="textbox form-control" id="TrimTopPosition" type="number" name="Trim.TopPosition" asp-format="{0:0.00}" value="@Model.Recipe.Trim.TopPosition" min="1.00" max="1025.00" step="any" data-decimal="0" oninput="enforceNumberValidation(this)" required />
                    <label for="TrimTopPosition">mm</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        Please fill in a value between 1 and 1025!
                    </div>
                </div>
                <div class="row">
                    <label for="TrimClosePosition" class="col-sm-7">Close position</label>
                    <input class="textbox form-control" id="TrimClosePosition" name="Trim.ClosePosition" asp-format="{0:0.00}" type="number" value="@Model.Recipe.Trim.ClosePosition" min="1.00" max="225.00" step="any" data-decimal="2" oninput="enforceNumberValidation(this)" required />
                    <label for="TrimClosePosition">mm</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        Please fill in a value between 1 and 225!
                    </div>
                </div>
                <div class="row">
                    <label for="TrimVelocity" class="col-sm-7">Velocity</label>
                    <input class="textbox form-control" id="TrimVelocity" name="Trim.Velocity" asp-format="{0:0.00}" type="number" value="@Model.Recipe.Trim.Velocity" min="10" max="150" step="5" data-decimal="2" oninput="enforceNumberValidation(this)" required />
                    <label for="TrimVelocity">mm/s</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        Please fill in a value between 1 and 225!
                    </div>
                </div>
                <div class="row">
                    <label for="TrimRemovePosition" class="col-sm-7">Remove position</label>
                    <input class="textbox form-control" id="TrimRemovePosition" name="Trim.RemovePosition" asp-format="{0:0.00}" type="number" value="@Model.Recipe.Trim.RemovePosition" min="1.00" max="225.00" step="any" data-decimal="2" oninput="enforceNumberValidation(this)" required />
                    <label for="TrimRemovePosition">mm</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        Please fill in a value between 1 and 225!
                    </div>
                </div>
                <div class="row">
                    <label for="TrimMaintenancePosition" class="col-sm-7">Maintenance position</label>
                    <input class="textbox form-control" id="TrimMaintenancePosition" name="Trim.MaintenancePosition" asp-format="{0:0.00}" type="number" value="@Model.Recipe.Trim.MaintenancePosition" min="1.00" max="225.00" step="any" data-decimal="2" oninput="enforceNumberValidation(this)" required />
                    <label for="TrimMaintenancePosition">mm</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        Please fill in a value between 1 and 225!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>         