﻿@page
@model Power_X1_iCT.Pages.Setup.SetupPressModuleModel
@{
}
@Html.AntiForgeryToken()
<head>
    <link rel="stylesheet" href="/_content/Platform.HMI/css/setup.css" />
</head>

<div class="backgroundImage">
    <img src="~/img/Modules/press-module.png" />
</div>
<div class="col-12 row">
    <div class="col-5">
        <div class="main-settings-sempro-card">
            <div class="row" style="margin:0px">
                <button class="smallbutton" id="ExecuteLockCoversButton" title="Lock" style="display:block;">
                    <img src="/_content/Platform.HMI/icons/lock.png" width="30">
                </button>
                <button class="smallbutton" id="ExecuteUnlockCoversButton" title="Unlock" style="display:none">
                    <img src="/_content/Platform.HMI/icons/unlock.png" width="30">
                </button>
                <button class="halvebutton" id="ExecuteInitializeButton" title="Initialize">
                    <img src="/_content/Platform.HMI/icons/init.png" width="30">
                </button>
                <button class="halvebutton" id="ExecuteStartButton" title="Start">
                    <img src="/_content/Platform.HMI/icons/play.png" width="40">
                </button>
                <button class="halvebutton" id="ExecuteStopButton" title="Stop">
                    <img src="/_content/Platform.HMI/icons/stop.png" width="40">
                </button>
                <div class="statusBar" id="PressModuleStatus">Ready</div>
                <div class="stateBar" id="PressModuleState">Stopped</div>
                &nbsp;
                <button class="smallbutton" title="Setup" id="SetupMainPressModule" style="float:right;">
                    <img src="/_content/Platform.HMI/icons/settings.png" width="30">
                </button>
            </div>
        </div>
        <div class="main-settings-sempro-card">
            <h5 class="font-weight-bold d-inline-flex settings-label">Processes</h5>
            <div class="row">
                <span class="subject-label">Trim</span>
                <button class="button" title="Execute" id="ExecuteTrimmingButton">
                    <img src="/_content/Platform.HMI/icons/repeat_once.png" width="30">
                </button>
                <div class="statusBar" id="TrimmingStatus">Ready</div>
                &nbsp;
                <button class="button" title="Setup" id="SetupTrimming" style="float:right; width:50px;">
                    <img src="/_content/Platform.HMI/icons/settings.png" width="30">
                </button>
                <button class="button" title="Maintenance" id="MaintenanceTrimming" style="float:right; width:50px;">
                    <img src="/_content/Platform.HMI/icons/tool.png" width="30">
                </button>
            </div>
            <div class="row">
                <span class="subject-label">Waste handler</span>
                <button class="button" title="Execute" id="ExecuteWasteHandlerButton" style="visibility: hidden">
                    <img src="/_content/Platform.HMI/icons/repeat_once.png" width="30">
                </button>
                <div class="statusBar" id="WasteHandlerStatus">Ready</div>
                &nbsp;
                <button class="button" title="Setup" id="SetupWasteHandler" style="float:right; width: 50px">
                    <img src="/_content/Platform.HMI/icons/settings.png" width="30">
                </button>
            </div>
            <div class="row">
                <span class="subject-label">Dambar check</span>
                <button class="button" title="Execute" id="ExecuteDambarButton">
                    <img src="/_content/Platform.HMI/icons/repeat_once.png" width="30">
                </button>
                <div class="statusBar" id="DambarCheckStatus">Ready</div>
                &nbsp;
                <button class="button" title="Setup" id="SetupDambar" style="float:right; width: 50px" hidden>
                    <img src="/_content/Platform.HMI/icons/settings.png" width="30">
                </button>
            </div>
            <div class="row">
                <span class="subject-label">Form</span>
                <button class="button" title="Execute" id="ExecuteFormingButton">
                    <img src="/_content/Platform.HMI/icons/repeat_once.png" width="30">
                </button>
                <div class="statusBar" id="FormingStatus">Ready</div>
                &nbsp;                       
                <button class="button" title="Setup" id="SetupForming" style="float:right; width:50px;">
                    <img src="/_content/Platform.HMI/icons/settings.png" width="30">
                </button>
                <button class="smallbutton" title="Maintenance" id="MaintenanceForming" style="float:right;">
                    <img src="/_content/Platform.HMI/icons/tool.png" width="30">
                </button>                       
            </div>
            <div class="row">
                <span class="process-label">Index handler</span>
                <div>
                    <button class="halvebutton" title="Execute" id="ExecuteIndexerToPickButton">
                        <img src="/_content/Platform.HMI/icons/arrow_left.png" width="30">
                    </button>                                
                    <button class="halvebutton" title="Execute" id="ExecuteIndexerToPlaceButton">
                        <img src="/_content/Platform.HMI/icons/arrow_right.png" width="30">
                    </button>
                </div>
                <div class="statusBar" id="IndexHandlerStatus">Ready</div>
                &nbsp;
                <button class="button" title="Setup" id="SetupIndexToPick" style="float:right; width:50px;" hidden>
                    <img src="/_content/Platform.HMI/icons/settings.png" width="30">
                </button>
            </div>
        </div>
        <div class="main-settings-sempro-card">
            <h5 class="font-weight-bold d-inline-flex settings-label">Resources</h5>
            <div style="overflow: auto; max-height: 470px; overflow-x:hidden">
                <div class="row">
                    <span class="subject-label">Trim tool</span>
                    <button class="button" title="Debug" id="DebugTrim">
                        <img src="/_content/Platform.HMI/icons/tool.png" width="30">
                    </button>
                    <div class="statusBar" id="TrimStatus">Ready</div>>
                </div>
                <div class="row">
                    <span class="subject-label">Form tool</span>
                    <button class="button" title="Debug" id="DebugForm">
                        <img src="/_content/Platform.HMI/icons/tool.png" width="30">
                    </button>
                    <div class="statusBar" id="FormStatus">Ready</div>
                </div>
                <div class="row">
                    <span class="subject-label">Indexer</span>
                    <button class="button" title="Debug" id="DebugIndexer">
                        <img src="/_content/Platform.HMI/icons/tool.png" width="30">
                    </button>
                    <div class="statusBar" id="IndexerStatus">Ready</div>
                </div>
                <div class="row">
                    <span class="subject-label">Dambar</span>
                    <button class="button" title="Debug" id="DebugDambar">
                        <img src="/_content/Platform.HMI/icons/tool.png" width="30">
                    </button>
                    <div class="statusBar" id="DambarStatus">Ready</div>
                </div>
                <div class="row">
                    <span class="subject-label">Waste bin</span>
                    <button class="button" title="Debug" id="DebugWasteBin">
                        <img src="/_content/Platform.HMI/icons/tool.png" width="30">
                    </button>
                    <div class="statusBar" id="WasteBinStatus" hidden>Ready</div>
                </div>
                <div class="row">
                    <span class="subject-label">Vacuum cleaner</span>
                    <button class="button" title="Debug" id="DebugVacuumCleaner">
                        <img src="/_content/Platform.HMI/icons/tool.png" width="30">
                    </button>
                    <div class="statusBar" id="VacuumCleanerStatus">Ready</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-7">
        <div style="display: inline-flex">
            @* Main process *@
            <div id="SetupMainPressModuleContainer" style="display:none;" class="settings">
                @await Html.PartialAsync("Main/PressModuleSettingsPartial.cshtml")
            </div>

            @* Sub processes *@
            <div id="SetupTrimmingContainer" style="display:none;" class="settings">
                @await Html.PartialAsync("Subprocesses/_TrimmingSettingsPartial.cshtml")
            </div>
            <div id="SetupFormingContainer" style="display:none;" class="settings">
                @await Html.PartialAsync("Subprocesses/_FormingSettingsPartial")
            </div>
            <div id="SetupWasteHandlerContainer" style="display:none;" class="settings">
                @await Html.PartialAsync("Subprocesses/_WasteHandlerSettingsPartial")
            </div>
            <div id="MaintenanceTrimmingContainer" style="display:none" class="settings">
                @await Html.PartialAsync("Subprocesses/_TrimmingMaintenancePartial")
            </div>
            <div id="MaintenanceFormingContainer" style="display:none" class="settings">
                @await Html.PartialAsync("Subprocesses/_FormingMaintenancePartial")
            </div>

            @* Resources *@
            <div id="DebugTrimContainer" style="display:none;min-width:520px" class="settings">
                @await Html.PartialAsync("Resources/TrimDebugPartial")
            </div>
            <div id="DebugFormContainer" style="display:none;min-width:520px" class="settings">
                @await Html.PartialAsync("Resources/FormDebugPartial")
            </div>
            <div id="DebugIndexerContainer" style="display:none;min-width:520px" class="settings">
                @await Html.PartialAsync("Resources/IndexerDebugPartial")
            </div>
            <div id="DebugDambarContainer" style="display:none;min-width:520px" class="settings">
                @await Html.PartialAsync("Resources/DambarDebugPartial")
            </div>
            <div id="DebugWasteBinContainer" style="display:none;min-width:520px" class="settings">
                @await Html.PartialAsync("Resources/WasteBinDebugPartial")
            </div>
            <div id="DebugVacuumCleanerContainer" style="display:none;min-width:520px" class="settings">
                @await Html.PartialAsync("Resources/VacuumCleanerDebugPartial")
            </div>
        </div>
    </div>
</div>
<script src="/_content/PressModule.HMI/js/pressModule.js"></script>
<script title="commands">
    $("#ExecuteLockCoversButton").click(function (e) {
        e.preventDefault();
        disableButtonTimeout("ExecuteLockCoversButton", true, 100);
        $.ajax({
            url: "/Setup/Setup?handler=LockCovers",
            type: 'POST',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (response) {
                console.log(response);
            },
        });
    });

    $("#ExecuteUnlockCoversButton").click(function (e) {
        e.preventDefault();
        disableButtonTimeout("ExecuteUnlockCoversButton", true, 100);
        $.ajax({
            url: "/Setup/Setup?handler=UnlockCovers",
            type: 'POST',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (response) {
                console.log(response);
            },
        });
    });

    $("#ExecuteInitializeButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupPressModule", "Initialize");
    });

    $("#ExecuteStartButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupPressModule", "Start");
    });

    $("#ExecuteStopButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupPressModule", "Stop");
    });

    $("#ExecuteTrimmingButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupPressModule", "Trim");
    });

    $("#ExecuteDambarButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupPressModule", "Dambar");
    });

    $("#ExecuteFormingButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupPressModule", "Form");
    });

    $("#ExecuteIndexerToPickButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupPressModule", "IndexerToPick");
    });

    $("#ExecuteIndexerToPlaceButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupPressModule", "IndexerToPlace");
    });
</script>

<script title="Simulation">
    $(function () {
        $("#Simulation").change(function (e) {
            e.preventDefault();
            sendCommand("SetupPressModule", "SimulationChanged");
        });
    })
</script>

<script title="Velocity">
    $(function () {
        $("#VelocityPercentage").change(function (e) {
            e.preventDefault();
            var percentage = $("#VelocityPercentage")[0].value;
            // submit form with ajax
            $.ajax(
                {
                    type: 'POST',
                    dataType: 'JSON',
                    url: './SetupPressModule?handler=SetVelocityPercentage',
                    data: { percentage: percentage },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    error:
                        function (response) {
                            console.log(response);
                            alert("Error: " + "PLC returned error string");
                        }
                });
        });
    });
</script>
