﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form method="post">
        <button class="button" id="CloseSetupLoadMagazine" title="Close settings" style="float:right; width:50px; height:50px">
            <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
        </button>
    </form>
    <form method="post">
        <h2>Load magazine settings</h2>
        <div>&nbsp;</div>
        <div class="settings-card">
            <div class="row">
                <label for="UpperConveyorZ" class="col-5">Upper conveyor Z</label>
                <input class="textbox" id="UpperConveyorZ" name="UpperConveyorZ" type="number" value="@Model.LoadMagazineSettingsModel.UpperConveyorZ.ToString("F2")" min="1.00" max="1025.00" step="0.10" />
                <label for="UpperConveyorZ">mm</label>
            </div>
            <div class="row">
                <label for="SlotCount" class="col-5">Slot count </label>
                <input class="textbox" id="SlotCount" name="SlotCount" type="number" value="@Model.LoadMagazineSettingsModel.SlotCount" min="1.00" max="25.00" step="1" />
                <label for="SlotCount">#</label>
            </div>
            <div class="row">
                <label for="StartPickOffsetZ" class="col-5">Start pick offset Z</label>
                <input class="textbox" id="StartPickOffsetZ" name="StartPickOffsetZ" type="number" value="@Model.LoadMagazineSettingsModel.StartPickOffsetZ.ToString("F2")" min="1.00" max="225.00" step="0.1" />
                <label for="StartPickOffsetZ">mm</label>
            </div>
            <div class="row">
                <label for="EndPickOffsetZ" class="col-5">End pick offset Z</label>
                <input class="textbox" id="EndPickOffsetZ" name="EndPickOffsetZ" type="number" value="@Model.LoadMagazineSettingsModel.EndPickOffsetZ.ToString("F2")" min="1.00" max="225.00" step="0.1" />
                <label for="EndPickOffsetZ">mm</label>
            </div>
            <div class="row">
                <label for="PickY" class="col-5">Pick Y</label>
                <input class="textbox" id="PickY" name="PickY" type="number" value="@Model.LoadMagazineSettingsModel.PickY.ToString("F2")" min="1.00" max="225.00" step="0.1" />
                <label for="PickY">mm</label>
            </div>
            <div class="row">
                <label for="MagazinePositionLiftSafePositionY" class="col-5">Lift safe position Y</label>
                <input class="textbox" id="MagazinePositionLiftSafePositionY" name="MagazinePositionLiftSafePositionY" type="number" value="@Model.LoadMagazineSettingsModel.MagazinePositionLiftSafePositionY.ToString("#,##0.00#")" min="1.00" max="225.00" step="0.1" />
                <label for="MagazinePositionLiftSafePositionY">mm</label>
            </div>
            <div class="row">
                <label for="LoadVelocityY" class="col-5">Velocity Y</label>
                <input class="textbox" id="LoadVelocityY" name="LoadVelocityY" type="number" value="@Model.LoadMagazineSettingsModel.LoadVelocityY.ToString("F0")" min="10.00" max="200.00" step="5" />
                <label for="LoadVelocityY">mm/s</label>
            </div>
             <div class="row">
                <label for="LoadVelocityZ" class="col-5">Velocity Z</label>
                <input class="textbox" id="LoadVelocityZ" name="LoadVelocityZ" type="number" value="@Model.LoadMagazineSettingsModel.LoadVelocityZ.ToString("F0")" min="10.00" max="200.00" step="5" />
                <label for="LoadVelocityZ">mm/s</label>
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="text-center">
            <button class="button" asp-page-handler="DownloadLoadMagazineSettingsToPLC" title="Download to PLC">
                <img src="/_content/Platform.HMI/icons/download.png" width="30">
            </button>
            <button class="button" asp-page-handler="SaveLoadMagazineSettings" title="Save to database">
                <img src="/_content/Platform.HMI/icons/save.png" width="30">
            </button>
            <button class="button" asp-page-handler="RefreshLoadMagazineSettingsFromRecipe" title="Load from database">
                <img src="/_content/Platform.HMI/icons/back.png" width="30">
            </button>
        </div>
    </form>
