﻿@using Microsoft.Extensions.Localization;
@using Platform.HMI.Assistants;
@using RobotTrayUnloader.Pages.Assistants;
@inject IStringLocalizer<BaseAssistantModel> localizer;

<div style="border:solid 2px orange; max-width:100%;max-height:100%; padding:20px;border-radius:0.5rem;    box-shadow: 0.5rem 0.5rem 0.75rem rgba(0, 0, 0, 0.25);width:400px;margin:auto">
    <div class="row d-flex justify-content-center align-items-center">
        <img src="/_content/Platform.HMI/icons/arrow_up.png" style="width: 100px;" />
    </div>
    <div class="row d-flex justify-content-center align-items-center">
        <img src="/_content/Platform.HMI/icons/chip3d.png" style="width: 200px;" />
    </div>
    &nbsp;
    <button class="button" style="height:50px; border:solid 1px black" id="materialRemovedButton">
        @localizer["Material removed"]
    </button>
</div>
<script>
    $('#materialRemovedButton').click(function () {
        disableButton('previousButton', true);
        disableButton('nextButton', true);

        var currentPageIndex = $('#currentPageIndex').text() - 1;
        var url = './Assistants/TeachPlacePositions/TeachPlacePositionsAssistant?handler=MaterialRemovedCommand'
        $.ajax({
            type: 'POST',
            url: url,
            data: { currentPageIndex: currentPageIndex },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (error) {
                console.log(error);
            }
        });
    })
</script>