﻿@using Microsoft.Extensions.Localization;
@using Platform.HMI.Assistants;
@using RobotTrayUnloader.Pages.Assistants;
@inject IStringLocalizer<BaseAssistantModel> localizer;

<div class="row">
    <div name="pre-conditions" style="width:375px;padding:0px 10px">
        <h2>@localizer["Setup"]</h2>
        &nbsp;
        <div class="assistant-card" style="display:block;width: 322px;">
            <div class="row">
                <label for="CoversLocked" class="col-6" style="color: black">@localizer["Covers locked"]</label>
                <label class="checkBox row" style="width:150px">
                    <input type="checkbox" id="CoversLocked" disabled>
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="row">
                <div>
                    <button class="button" id="ExecuteTeachLockCoversButton" title="Stop" style="border:1px solid black" disabled>
                        <img src="/_content/Platform.HMI/icons/lock.png" width="35" />
                    </button>
                </div>
                <div>
                    <button class="button" id="ExecuteTeachUnlockCoversButton" title="Stop" style="border:1px solid black" disabled>
                        <img src="/_content/Platform.HMI/icons/unlock.png" width="35" />
                    </button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div>
                    <button class="button" id="ExecuteTeachInitializeButton" title="Initialize" style="border:1px solid black">
                        <img src="/_content/Platform.HMI/icons/init.png" width="30">
                    </button>
                </div>
                <div>
                    <button class="button" id="ExecuteTeachStopButton" title="Stop" style="border:1px solid black">
                        <img src="/_content/Platform.HMI/icons/stop.png" width="40">
                    </button>
                </div>
            </div>
            <div class="row">
                <div>
                    <div class="stateBar" id="RobotTrayUnloaderState" style="width:150px">Stopped</div>
                </div>
                <div>
                    <div class="statusBar" id="TeachPlacePositionsStatus" style="width:150px">Ready</div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 0px 10px">
        <h2>@localizer["Teach"]</h2>
        &nbsp;
        <div class="assistant-card" style="display:block;width: 315px;">
            <button class="button" style="border:solid 1px black;width:160px;display: inline-flex;align-items: center;" id="startToHomeButton">
                <img src="/_content/RobotToTrayUnloader.HMI/icons/robot-warning.png" style="width: 35px; margin-right: 5px;" />
                <span style="color:black;width: 120px;">@localizer["To home"]</span>
            </button>
            <button class="button" style="border:solid 1px black;width:160px;display: inline-flex;align-items: center;" id="startPickProductButton">
                <img src="/_content/RobotToTrayUnloader.HMI/icons/robot-warning.png" style="width: 35px; margin-right: 5px;" />
                <span style="color:black;width: 120px;">@localizer["Pick product"]</span>
            </button>
            <hr />
            <div class="row" style="display: flex; align-items: center;">
                <label for="TrayNumber" class="col-3" style="color:black">@localizer["Tray nr."]</label>
                <input class="textbox" style="color:black;border-color:black" id="TrayNumber" name="TrayNumber" type="number" value="1" min="1" max="6" step="1" data-decimal="0" oninput="enforceNumberValidation(this)" />
                <label for="TrayNumber" style="color:black">#</label>
            </div>
            <div class="row" style="display: flex; align-items: center;">
                <label for="Row" class="col-3" style="color:black">@localizer["Row"]</label>
                <input class="textbox" style="color:black;border-color:black" id="Row" name="Row" type="number" value="1" min="1" max="5" step="1" data-decimal="0" oninput="enforceNumberValidation(this)" />
                <label for="Row" style="color:black">#</label>
            </div>
            <div class="row" style="display: flex; align-items: center;">
                <label for="Column" class="col-3" style="color:black">@localizer["Column"]</label>
                <input class="textbox" style="color:black;border-color:black" id="Column" name="Column" type="number" value="1" min="1" max="5" step="1" data-decimal="0" oninput="enforceNumberValidation(this)" />
                <label for="Column" style="color:black">#</label>
            </div>
            <button class="button" style="height:50px;width:160px;border: 1px solid black;display: inline-flex;align-items: center;" id="startToPlaceButton">
                <img src="/_content/RobotToTrayUnloader.HMI/icons/robot-warning.png" style="width: 35px; margin-right: 5px;" />
                <span style="color:black;width: 120px;">@localizer["To tray"]</span>
            </button>
        </div>

    </div>
    &nbsp;
    <div style="padding:0px 10px">
        <h2>@localizer["Parameters"]</h2>
        &nbsp;
        <div class="assistant-card" style="display:block;width: 520px;">
            <form id="robotSettingsForm" method="post">
                <div class="row" hidden>
                    <label for="BaseCount" class="col-5">Base count</label>
                    <input class="textbox" id="BaseCount" name="BaseCount" type="number" value="@Model.RobotSettingsModel.BaseCount.ToString("F0")" min="1" max="8" step="1" />
                    <label for="BaseCount">#</label>
                </div>
                <div class="row" hidden>
                    <label for="DefaultVelocityPercentage" class="col-5">Default velocity percentage </label>
                    <input class="textbox" id="DefaultVelocityPercentage" name="DefaultVelocityPercentage" type="number" value="@Model.RobotSettingsModel.DefaultVelocityPercentage.ToString("F0")" min="10" max="100" step="5" />
                    <label for="DefaultVelocityPercentage">%</label>
                </div>
                &nbsp;
                <div class="row">
                    <label class="col-3" style="color:black">Name</label>
                    <label style="width:115px;color:black;border-color:black">X [mm]</label>
                    <label style="width:115px;color:black;border-color:black">Y [mm]</label>
                    <label style="width:115px;color:black;border-color:black">Rotation Z [°]</label>
                </div>
                <div class="row">
                    <label class="col-3" style="color:black">Tray 1</label>
                    <input class="textbox" style="width:110px;color:black;border-color:black" id="Tray1TrayOffsetX" name="Tray1TrayOffsetX" type="number" value="@Model.RobotSettingsModel.Tray1TrayOffsetX.ToString("F2")" min="-100" max="100" step="any" />
                    <input class="textbox" style="width:110px;color:black;border-color:black" id="Tray1TrayOffsetX" name="Tray1TrayOffsetY" type="number" value="@Model.RobotSettingsModel.Tray1TrayOffsetY.ToString("F2")" min="-100" max="100" step="any" />
                    <input class="textbox" style="width:110px;color:black;border-color:black" id="Tray1TrayOffsetX" name="Tray1TrayOffsetRZ" type="number" value="@Model.RobotSettingsModel.Tray1TrayOffsetRZ.ToString("F2")" min="-100" max="100" step="any" />
                </div>
                <div class="row">
                    <label class="col-3" style="color:black">Tray 2</label>
                    <input class="textbox" style="width:110px;color:black;border-color:black" id="Tray2TrayOffsetX" name="Tray2TrayOffsetX" type="number" value="@Model.RobotSettingsModel.Tray2TrayOffsetX.ToString("F2")" min="-100" max="100" step="any" />
                    <input class="textbox" style="width:110px;color:black;border-color:black" id="Tray2TrayOffsetX" name="Tray2TrayOffsetY" type="number" value="@Model.RobotSettingsModel.Tray2TrayOffsetY.ToString("F2")" min="-100" max="100" step="any" />
                    <input class="textbox" style="width:110px;color:black;border-color:black" id="Tray2TrayOffsetX" name="Tray2TrayOffsetRZ" type="number" value="@Model.RobotSettingsModel.Tray2TrayOffsetRZ.ToString("F2")" min="-100" max="100" step="any" />
                </div>
                <div class="row">
                    <label class="col-3" style="color:black">Tray 3</label>
                    <input class="textbox" style="width:110px;color:black;border-color:black" id="Tray3TrayOffsetX" name="Tray3TrayOffsetX" type="number" value="@Model.RobotSettingsModel.Tray3TrayOffsetX.ToString("F2")" min="-100" max="100" step="any" />
                    <input class="textbox" style="width:110px;color:black;border-color:black" id="Tray3TrayOffsetX" name="Tray3TrayOffsetY" type="number" value="@Model.RobotSettingsModel.Tray3TrayOffsetY.ToString("F2")" min="-100" max="100" step="any" />
                    <input class="textbox" style="width:110px;color:black;border-color:black" id="Tray3TrayOffsetX" name="Tray3TrayOffsetRZ" type="number" value="@Model.RobotSettingsModel.Tray3TrayOffsetRZ.ToString("F2")" min="-100" max="100" step="any" />
                </div>
                <div class="row">
                    <label class="col-3" style="color:black">Tray 4</label>
                    <input class="textbox" style="width:110px;color:black;border-color:black" id="Tray4TrayOffsetX" name="Tray4TrayOffsetX" type="number" value="@Model.RobotSettingsModel.Tray4TrayOffsetX.ToString("F2")" min="-100" max="100" step="any" />
                    <input class="textbox" style="width:110px;color:black;border-color:black" id="Tray4TrayOffsetX" name="Tray4TrayOffsetY" type="number" value="@Model.RobotSettingsModel.Tray4TrayOffsetY.ToString("F2")" min="-100" max="100" step="any" />
                    <input class="textbox" style="width:110px;color:black;border-color:black" id="Tray4TrayOffsetX" name="Tray4TrayOffsetRZ" type="number" value="@Model.RobotSettingsModel.Tray4TrayOffsetRZ.ToString("F2")" min="-100" max="100" step="any" />
                </div>
                <div class="row">
                    <label class="col-3" style="color:black">Tray 5</label>
                    <input class="textbox" style="width:110px;color:black;border-color:black" id="Tray5TrayOffsetX" name="Tray5TrayOffsetX" type="number" value="@Model.RobotSettingsModel.Tray5TrayOffsetX.ToString("F2")" min="-100" max="100" step="any" />
                    <input class="textbox" style="width:110px;color:black;border-color:black" id="Tray5TrayOffsetX" name="Tray5TrayOffsetY" type="number" value="@Model.RobotSettingsModel.Tray5TrayOffsetY.ToString("F2")" min="-100" max="100" step="any" />
                    <input class="textbox" style="width:110px;color:black;border-color:black" id="Tray5TrayOffsetX" name="Tray5TrayOffsetRZ" type="number" value="@Model.RobotSettingsModel.Tray5TrayOffsetRZ.ToString("F2")" min="-100" max="100" step="any" />
                </div>
                <div class="row">
                    <label class="col-3" style="color:black">Tray 6</label>
                    <input class="textbox" style="width:110px;color:black;border-color:black" id="Tray6TrayOffsetX" name="Tray6TrayOffsetX" type="number" value="@Model.RobotSettingsModel.Tray6TrayOffsetX.ToString("F2")" min="-100" max="100" step="any" />
                    <input class="textbox" style="width:110px;color:black;border-color:black" id="Tray6TrayOffsetX" name="Tray6TrayOffsetY" type="number" value="@Model.RobotSettingsModel.Tray6TrayOffsetY.ToString("F2")" min="-100" max="100" step="any" />
                    <input class="textbox" style="width:110px;color:black;border-color:black" id="Tray6TrayOffsetX" name="Tray6TrayOffsetRZ" type="number" value="@Model.RobotSettingsModel.Tray6TrayOffsetRZ.ToString("F2")" min="-100" max="100" step="any" />
                </div>
                <div class="text-center">
                    <button class="button" id="DownloadRobotSettingsToPLC" title="Download to PLC" style="border: 1px solid black;">
                        <img src="/_content/Platform.HMI/icons/download.png" width="30">
                    </button>
                    <button class="button" id="SaveRobotSettings" title="Save to database" style="border: 1px solid black;">
                        <img src="/_content/Platform.HMI/icons/save.png" width="30">
                    </button>
                    <button class="button" id="RefreshRobotSettingsFromRecipe" title="Load from database" style="border: 1px solid black;">
                        <img src="/_content/Platform.HMI/icons/back.png" width="30">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var currentRecipeRevision = 0;

    $("#ExecuteTeachLockCoversButton").click(function (e) {
        e.preventDefault();
        disableButton('ExecuteLockCoversButton', true, 200);
        var url = '/Setup/Setup?handler=LockCovers'
        $.ajax({
            type: 'POST',
            url: url,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
    $("#ExecuteTeachUnlockCoversButton").click(function (e) {
        e.preventDefault();
        disableButton('ExecuteUnlockCoversButton', true, 200);
        var url = '/Setup/Setup?handler=UnlockCovers'
        $.ajax({
            type: 'POST',
            url: url,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
    $("#ExecuteTeachInitializeButton").click(function (e) {
        e.preventDefault();
        disableButton('ExecuteInitializeButton', true);
        var url = './Assistants/TeachPlacePositions/TeachPlacePositionsAssistant?handler=Initialize'
        $.ajax({
            type: 'POST',
            url: url,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
    $("#ExecuteTeachStopButton").click(function (e) {
        e.preventDefault();
        disableButton('ExecuteStopButton', true);
        var url = './Assistants/TeachPlacePositions/TeachPlacePositionsAssistant?handler=Stop'
        $.ajax({
            type: 'POST',
            url: url,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (error) {
                console.log(error);
            }
        });
    });

    $('#startToPlaceButton').click(function () {
        disableButton('previousButton', true);
        disableButton('nextButton', true);
        disableButtonTimeout('startToPlaceButton', true, 200);

        //data
        var trayNumber = document.getElementById("TrayNumber").value;
        console.log('TrayNumber: ' + trayNumber)
        var column = document.getElementById("Column").value;
        console.log('Column: ' + column)
        var row = document.getElementById("Row").value;
        console.log('Row: ' + row)

        var currentPageIndex = $('#currentPageIndex').text() - 1;
        console.log('currentPageIndex: ' + currentPageIndex)
        var url = './Assistants/TeachPlacePositions/TeachPlacePositionsAssistant?handler=ToTrayCommand'
        $.ajax({
            type: 'POST',
            url: url,
            data: { currentPageIndex: currentPageIndex, trayNumber: trayNumber, row:row, column:column },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
    $("#startToHomeButton").click(function (e) {
        e.preventDefault();
        disableButtonTimeout('startToHomeButton', true, 200);

        var currentPageIndex = $('#currentPageIndex').text() - 1;
        var url = './Assistants/TeachPlacePositions/TeachPlacePositionsAssistant?handler=ToHomeCommand'
        $.ajax({
            type: 'POST',
            url: url,
            data: { currentPageIndex: currentPageIndex },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (error) {
                console.log(error);
            }
        });
    });    
    $("#startPickProductButton").click(function (e) {
        e.preventDefault();
        disableButtonTimeout('startPickProductButton', true, 200);

        var currentPageIndex = $('#currentPageIndex').text() - 1;
        var url = './Assistants/TeachPlacePositions/TeachPlacePositionsAssistant?handler=PickupCommand'
        $.ajax({
            type: 'POST',
            url: url,
            data: { currentPageIndex: currentPageIndex },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (error) {
                console.log(error);
            }
        });
    });

    $("#DownloadRobotSettingsToPLC").click(function (e) {
        e.preventDefault();
        disableButtonTimeout('DownloadRobotSettingsToPLC', true, 200);
        var formData = $("#robotSettingsForm").serialize();

        var url = './Assistants/TeachPlacePositions/TeachPlacePositionsAssistant?handler=DownloadRobotSettingsToPLC'
        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (error) {
                console.log(error);
            }
        });
    });

    $("#SaveRobotSettings").click(function (e) {
        e.preventDefault();
        disableButtonTimeout('SaveRobotSettings', true, 200);
        var formData = $("#robotSettingsForm").serialize();

        var url = './Assistants/TeachPlacePositions/TeachPlacePositionsAssistant?handler=SaveRobotSettings'
        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (error) {
                console.log(error);
            }
        });
    });

    $("#RefreshRobotSettingsFromRecipe").click(function (e) {
        e.preventDefault();
        disableButton('RefreshRobotSettingsFromRecipe', true);
        var formData = $("#robotSettingsForm").serialize();

        var url = './Assistants/TeachPlacePositions/TeachPlacePositionsAssistant?handler=RefreshRobotSettingsFromRecipe'
        $.ajax({
            type: 'POST',
            url: url,
            data: { model: formData, revision: currentRecipeRevision },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (robotSettings) {
                console.log("Refresh: robot Settings (JSON):", JSON.stringify(robotSettings, null, 2));
                // Set form values based on the properties of the model
                $.each(robotSettings.model, function (key, value) {
                    // Set the value directly using the property name
                    $("#robotSettingsForm [name='" + key + "']").val(value);
                });
                disableButton('RefreshRobotSettingsFromRecipe', false);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });

    $(document).ready(function () {

        initializeData()

        function initializeData() {
            $.ajax({
                url: "/Setup/Setup?handler=AreCoversLocked",
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (locked) {
                    disableButton('ExecuteLockCoversButton', locked);
                    disableButton('ExecuteUnlockCoversButton', !locked);
                    document.getElementById('CoversLocked').checked = locked;
                },
                error: function (response) {
                    console.log(response);
                },
            });
            $.ajax({
                url: "./Assistants/TeachPlacePositions/TeachPlacePositionsAssistant?handler=GetState",
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (state) {
                    receiveStateChanged(state);
                },
                error: function (response) {
                    console.log(response);
                },
            });

            function receiveStateChanged(state) {
                var item = document.getElementById('RobotTrayUnloaderState');
                $(item).removeClass('stopping');
                $(item).removeClass('stopped');
                $(item).removeClass('starting');
                $(item).removeClass('running');
                $(item).removeClass('error');
                item.textContent = state.state;
                $(item).addClass(state.state.toLowerCase());
            }

            $.ajax({
                url: "./Assistants/TeachPlacePositions/TeachPlacePositionsAssistant?handler=GetStatus",
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (status) {
                    receiveStatusChanged(status);
                },
                error: function (response) {
                    console.log(response);
                },
            });

            function receiveStatusChanged(status) {
                var item = document.getElementById('TeachPlacePositionsStatus');
                console.log(status);
                $(item).removeClass('ready');
                $(item).removeClass('error');
                $(item).removeClass('busy')
                item.textContent = status.status;
                $(item).addClass(status.status.toLowerCase());
            }

            $.ajax({
                url: './Assistants/TeachPlacePositions/TeachPlacePositionsAssistant?handler=GetCurrentRecipeRevision',
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (revision) {
                    console.log("Revision (JSON):", JSON.stringify(revision, null, 2));
                    currentRecipeRevision = revision.revision;
                },
                error: function (response) {
                    console.log(response);
                },
            });
        }
    });
</script>
