@using Authorization.Lib;
@using Localization;
@using Microsoft.AspNetCore.Identity
@using Power_X1_ICT
@using DatabaseManager.Application
@namespace Power_X1_ICT.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Mvc.Localization;
@using Platform.HMI
@inject IHtmlLocalizer<SharedResource> sharedLocalizer
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
@inject RoleManager<IdentityRole> roleManager