﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="/_content/Platform.HMI/css/production.css" />
</head>
<div>
    <img class="main-production-image" src="~/img/machine-3D.jpg"/>
</div>
