﻿@page
@model MagazineLoader.Pages.LowerConveyorFullAssist
@{
}
@Html.AntiForgeryToken()
<link rel="stylesheet" href="~/css/events.css">
<div class="container-fluid">
    <span style="padding: 1rem" class="row">Lower deck is full</span>
    <span style="padding: 1rem" class="row">The lower deck full sensor indicates the deck is full</span>
    <div style="display:table; flex-direction:column;">
        <span style="padding: 1rem" class="row">1. Please remove the empty magazines.</span>
        <span style="padding: 1rem" class="row">2. Press button <img src="/_content/Platform.HMI/icons/icons/green_checkmark.png" width="30"> to continue production.</span>
    </div>
</div>

<form method="post" style="margin-top:50px; max-width:368px; padding:1rem">
    <div class="settings-card">
        <div class="row" style="margin:auto">
            <button class="button" id="ExecuteContinueButton" title="Continue">
                <img src="/_content/Platform.HMI/icons/green_checkmark.png" width="30">
            </button>
            &nbsp;
            <button class="button" id="ExecuteStopButton" title="Stop">
                <img src="/_content/Platform.HMI/icons/stop.png" width="40">
            </button>
        </div>       
    </div>
</form>

<script title="commands">
    $("#ExecuteContinueButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/MagazineLoader/LowerConveyorFullAssist", "Continue")
    });
    $("#ExecuteStopButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/MagazineLoader/LowerConveyorFullAssist", "Stop")
    });
    </script>

