﻿<div class="container-fluid">
        <span style="padding: 1rem" class="row">There is no magazine at the loader lift </span>
        <span style="padding: 1rem" class="row">Failed to provide material because the magazine is no longer present </span>
        <div style="display:table; flex-direction:column;">
            <p style="display:table-row"><span style="display: table-cell">1. Make sure there is a magazine present</span></p>
            <p style="display:table-row"><span style="display: table-cell">2. Check if the sensor is working correctly</span></p>
        </div>
</div>

