﻿<div class="container-fluid">
        <span style="padding: 1rem" class="row">Provide door is not closed</span>
        <span style="padding: 1rem" class="row">Cannot continue production with the provide door open </span>
        <div style="display:table; flex-direction:column;">
            <p style="display:table-row"><span style="display: table-cell">1. Close the provide door</span></p>
            <p style="display:table-row"><span style="display: table-cell">2. Check if the sensor is working correctly</span></p>
        </div>
</div>

