﻿@page
@model MagazineLoader.Pages.MagazineMissingInLiftAssist
@{
}
@Html.AntiForgeryToken()
<link rel="stylesheet" href="~/css/events.css">
<div class="container-fluid">
    <span style="padding: 1rem" class="row">Magazine is missing in lift</span>
    <span style="padding: 1rem" class="row">In material tracking a magazine is present, but the clamp sensor is false.</span>
    <div style="display:table; flex-direction:column;">
        <p style="display:table-row"><span style="display: table-cell">- Check if the magazine is present and REMOVE it if present</span></p>
        <p style="display:table-row"><span style="display: table-cell">- Check if the magazine present sensor is working</span></p>
        <p style="display:table-row"><span style="display: table-cell">Press button 'Removed' to continue without magazine</span></p>

    </div>
</div>

<form method="post" style="margin-top:50px; max-width:368px; padding:1rem">
    <div class="settings-card">
        <div class="row" style="margin:auto">
            <button class="button" id="ExecuteMagazineMissingInLiftRetryButton" title="Removed">
               Removed
            </button>
            &nbsp;
            <button class="button" id="ExecuteStopButton" title="Stop">
                <img src="/_content/Platform.HMI/icons/stop.png" width="40">
            </button>
        </div>       
    </div>
</form>

<script title="commands">
    $("#ExecuteMagazineMissingInLiftRetryButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/MagazineLoader/MagazineMissingInLiftAssist", "Retry");
        document.getElementById('ExecuteMagazineMissingInLiftRetryButton').disabled = true;
    });
    $("#ExecuteStopButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/MagazineLoader/MagazineMissingInLiftAssist", "Stop")
    });
    </script>

