﻿@page
@model MagazineLoader.Pages.MagazineUnknownInLiftAssist
@{
}
@Html.AntiForgeryToken()
<link rel="stylesheet" href="~/css/events.css">
<div class="container-fluid">
    <span style="padding: 1rem" class="row">Magazine in lift is unknown</span>
    <span style="padding: 1rem" class="row">In material tracking a magazine is not present, but the clamp sensor is true.</span>
    <div style="display:table; flex-direction:column;">
        <p style="display:table-row"><span style="display: table-cell">- Check if the magazine is present and REMOVE it if present</span></p>
        <p style="display:table-row"><span style="display: table-cell">- Check if the magazine present sensor is working</span></p>
        <p style="display:table-row"><span style="display: table-cell">Press removed to continue without magazine</span></p>

    </div>
</div>

<form method="post" style="margin-top:50px; max-width:368px; padding:1rem">
    <div class="settings-card">
        <div class="row" style="margin:auto">
            <button class="button" id="ExecuteMagazineUnknownInLiftRetryButton" title="Retry">
               Removed
            </button>
            &nbsp;
            <button class="button" id="ExecuteMagazineUnknownInLiftStopButton" title="Stop">
                <img src="/_content/Platform.HMI/icons/stop.png" width="40">
            </button>
        </div>       
    </div>
</form>

<script title="commands">
    AddExecuteButtonClick("ExecuteMagazineUnknownInLiftRetryButton", "Retry");

    $("#ExecuteMagazineUnknownInLiftStopButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/MagazineLoader/MagazineUnknownInLiftAssist", "Stop");
        document.getElementById('ExecuteMagazineUnknownInLiftStopButton').disabled = true;
    });

    function AddExecuteButtonClick(buttonName, commandName) {
            $(buttonName).click(function (e) {
                e.preventDefault();
                sendCommand("Events/MagazineLoader/MagazineUnknownInLiftAssist", commandName);
                document.getElementById(buttonName).disabled = true;
            });
    }
    </script>

