﻿@page
@model MagazineLoader.Pages.MagazineLoaderLoadMainDoorNotLockedAssist
@{
}
@Html.AntiForgeryToken()
<link rel="stylesheet" href="~/css/events.css">
<div class="container-fluid">
    <span style="padding: 1rem" class="row">Process load magazine can not load a new magazine because magazine loader main door is not locked.</span>
    <span style="padding: 1rem" class="row">1. Close magazine loader main door.</span>
    <span style="padding: 1rem" class="row">2. Press button <img src="/_content/Platform.HMI/icons/icons/green_checkmark.png" width="30"> to retry locking magazine loader main door.</span>
</div>

<form method="post" style="margin-top:50px; max-width:368px; padding:1rem">
    <div class="settings-card">
        <div class="row" style="margin:auto">
            <button class="button" id="ExecuteRetryButton" title="Retry">
                <img src="/_content/Platform.HMI/icons/green_checkmark.png" width="30">
            </button>
            &nbsp;
            <button class="button" id="ExecuteStopButton" title="Stop">
                <img src="/_content/Platform.HMI/icons/stop.png" width="40">
            </button>
        </div>       
    </div>
</form>

<script title="commands">
    $("#ExecuteRetryButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/MagazineLoader/MagazineLoaderLoadMainDoorNotLockedAssist", "Retry")
    });
    $("#ExecuteStopButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/MagazineLoader/MagazineLoaderLoadMainDoorNotLockedAssist", "Stop")
    });
    </script>

