﻿@page
@model MagazineLoader.Pages.MaterialDidNotReachOutfeedAssist
@{
}
@Html.AntiForgeryToken()
<link rel="stylesheet" href="~/css/events.css">
<div class="container-fluid">
    <span style="padding: 1rem" class="row">Material did not reach the outfeed position</span>
    <span style="padding: 1rem" class="row">The material was detected at the transfer, but did not completely leave the magazine loader.</span>
    <div style="display:table; flex-direction:column;">
        <p style="display:table-row"><span style="display: table-cell">- Press button 'Retry' to try to push the same slot again</span></p>
        <p style="display:table-row"><span style="display: table-cell">- Press button 'Unlock' to stop the equipment to be able to remove the material</span></p>
        <p style="display:table-row"><span style="display: table-cell">- Press button 'Material removed' when the material has been removed</span></p>

    </div>
</div>

<form method="post" style="margin-top:50px; max-width:533px; padding:1rem">
    <div class="settings-card">
        <div class="row" style="margin:auto">
            <button class="button" id="ExecuteMaterialDidNotReachOutfeedPositionRetry" title="Retry">
               Retry
            </button>
            &nbsp;
            <button class="button" id="ExecuteMaterialDidNotReachOutfeedPositionUnlockButton">
                <img src="/_content/Platform.HMI/icons/unlock.png" style="width:35px;margin-left: -7px;" />
            </button>
            &nbsp;
            <button class="button" id="ExecuteMaterialDidNotReachOutfeedPositionRemovedMaterialButton" title="Removed material" disabled>
                Removed material
            </button>
        </div>       
    </div>
</form>

<script title="commands">
    $("#ExecuteMaterialDidNotReachOutfeedPositionRetry").click(function (e) {
        e.preventDefault();
        sendCommand("Events/MagazineLoader/MaterialDidNotReachOutfeed", "Retry");
        disableButtonTimeout("ExecuteMaterialDidNotReachOutfeedPositionRetry", true, 200)
    });
    $("#ExecuteMaterialDidNotReachOutfeedPositionUnlockButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/MagazineLoader/MaterialDidNotReachOutfeed", "Stop")
        disableButtonTimeout("ExecuteMaterialDidNotReachOutfeedPositionUnlockButton", true, 200)
    });
    $("#ExecuteMaterialDidNotReachOutfeedPositionRemovedMaterialButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/MagazineLoader/MaterialDidNotReachOutfeed", "RemovedMaterial")
        disableButtonTimeout("ExecuteMaterialDidNotReachOutfeedPositionRemovedMaterialButton", true, 2000)
    });

    $(() => {
        //Create a connection to the signalR hub to receive message updates
        var connection = new signalR.HubConnectionBuilder().withUrl("/SystemHub").build();

        connection.on("MagazineLoaderStateUpdate", function () {
            getMagazineLoaderState();
        });

        async function start() {
            try {
                await connection.start().then(function () {
                    getMagazineLoaderState();
                });
            } catch (err) {
                console.log(err);
                setTimeout(start, 5000);
            }
        };

        connection.onclose(async () => {
            await start();
        });

        // Start the connection
        start();

        function getMagazineLoaderState() {
        $.ajax({
            url: "Events/MagazineLoader/MaterialDidNotReachOutfeed?handler=GetState",
            type: 'POST',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (state) {
                receiveMagazineLoaderStateChanged(state);
            },
            error: function (response) {
                console.log("Error handler");
                console.log(response);
            },
        });

        function receiveMagazineLoaderStateChanged(state) {

                if (state.state.toLowerCase() == 'stopped') {
                    disableButton('ExecuteMaterialDidNotReachOutfeedPositionRemovedMaterialButton', false)
                }
                if (state.state.toLowerCase() == 'running') {
                    disableButton('ExecuteMaterialDidNotReachOutfeedPositionUnlockButton', false);
                    disableButton('ExecuteMagazineMissingInLiftRetryButton', false);
                }
                else {
                    disableButton('ExecuteMagazineMissingInLiftRetryButton', true);
                }
        }
    }
    });
    </script>

