﻿<div class="container-fluid">
        <span style="padding: 1rem" class="row">Magazine loader failed to load magazine</span>
        <span style="padding: 1rem" class="row">The sensor at the front of the loading deck did not find a magazine </span>
        <div style="display:table; flex-direction:column;">
            <p style="display:table-row"><span style="display: table-cell">1. Make sure there is a magazine present</span></p>
            <p style="display:table-row"><span style="display: table-cell">2. Check if the sensor is working correctly</span></p>
        </div>
</div>

