﻿@page
@using Localization;
@using MagazineLoader.HMI.Pages.Event.Events;
@using MagazineLoader.Pages
@using Microsoft.AspNetCore.Mvc.Localization;
@model MagazineLoader.Pages.UpperConveyorEmptyAssist
@{
}
@inject IHtmlLocalizer<EventResource> localizer;
@inject IHtmlLocalizer<SharedResource> sharedLocalizer;
@Html.AntiForgeryToken()
<link rel="stylesheet" href="~/css/events.css">
<div class="container-fluid">
    <span style="padding: 1rem" class="row">@localizer["Upper deck is empty"]</span>
    <span style="padding: 1rem" class="row">@localizer["The upper deck empty sensor indicates the deck is empty"]</span>
    <div style="display:table; flex-direction:column;">
        <p style="display:table-row"><span style="display: table-cell">- @localizer["Please load the new magazines and press button"] <img src="/_content/Platform.HMI/icons/green_checkmark.png" width="30"> @localizer["to restart production"].</span></p>
    </div>
    <div style="display:table; flex-direction:column;">
        <p style="display:table-row"><span style="display: table-cell">- @localizer["Press close lot button to close the lot"].</span></p>
    </div>
    <div style="display:table; flex-direction:column;">
        <p style="display:table-row"><span style="display: table-cell">- @localizer["Check if the front most magazine is in the correct orientation"]. </span></p>
    </div>
    <div style="display:table; flex-direction:column;">
        <p style="display:table-row"><span style="display: table-cell">- @localizer["Press button"] <img src="/_content/Platform.HMI/icons/stop.png" width="40"> @localizer["to stop the machine"].</span></p>
    </div>
</div>

<form method="post" style="margin-top:50px; max-width:540px; padding:1rem">
    <div class="settings-card">
        <div class="row" style="margin:auto">
            <button class="button" id="ExecuteUpperConveyorEmptyRetryButton" title="Retry">
                <img src="/_content/Platform.HMI/icons/green_checkmark.png" width="30">
            </button>
            &nbsp;
            <button class="button" id="ExecuteUpperConveyorEmptyStopButton" title="Stop">
                <img src="/_content/Platform.HMI/icons/stop.png" width="40">
            </button>
            &nbsp;
            <button class="button" id="ExecuteUpperConveyorEmptyCloseLotButton" title="CloseLot">
                @sharedLocalizer["Close lot"]
            </button>
        </div>
    </div>
</form>

<script title="commands">
    $("#ExecuteUpperConveyorEmptyRetryButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/MagazineLoader/UpperConveyorEmptyAssist", "Retry")
        disableButtonTimeout("ExecuteUpperConveyorEmptyRetryButton", true, 200)
    });
    $("#ExecuteUpperConveyorEmptyStopButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/MagazineLoader/UpperConveyorEmptyAssist", "Stop")
        disableButtonTimeout("ExecuteUpperConveyorEmptyStopButton", true, 200)
    });
    $("#ExecuteUpperConveyorEmptyCloseLotButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/MagazineLoader/UpperConveyorEmptyAssist", "CloseLot")
        disableButtonTimeout("ExecuteUpperConveyorEmptyCloseLotButton", true, 2000)
    });

</script>

