﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form method="post">
    <button class="button" id="CloseSetupInspection" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>
<form method="post">
    <h2>Inspection settings</h2>
    <div>&nbsp;</div>
    <div class="settings-card">
        <div class="row">
            <label for="NoAOI" class="col-5">Disable inspection</label>
            <div class="col-1">
                </div>
                <div class="col-1">
                    <label class="checkBox textbox">
                        <input type="checkbox" id="NoAOI" name="NoAOI" @(Model.InspectionSettingsModel.NoAOI ? "checked" : "") value="Model.InspectionSettingsModel.NoAOI" onclick="setCheckBoxValue('NoAOI')">
                        <span class="checkmark "></span>
                        <input name="NoAOI" type="hidden" value="false">
                    </label>
                </div>
            </div>
        <div class="row">
            <label for="InfeedPosition" class="col-5">Infeed position</label>
            <input class="textbox" id="InfeedPosition" name="InfeedPosition" type="number" value="@Model.InspectionSettingsModel.InfeedPosition.ToString("F2")" min="1.00" max="30" step="0.10" />
            <label for="InfeedPosition">mm</label>
        </div>
        <div class="row">
            <label for="OutfeedPosition" class="col-5">Outfeed position </label>
            <input class="textbox" id="OutfeedPosition" name="OutfeedPosition" type="number" value="@Model.InspectionSettingsModel.OutfeedPosition.ToString("F2")" min="1.00" max="266" step="0.10" />
            <label for="OutfeedPosition">mm</label>
        </div>
        <div class="row">
            <label for="ToInspectionVelocityPositionOffset" class="col-5">Inspection velocity position offset </label>
            <input class="textbox" id="ToInspectionVelocityPositionOffset" name="ToInspectionVelocityPositionOffset" type="number" value="@Model.InspectionSettingsModel.ToInspectionVelocityPositionOffset.ToString("F2")" min="1.00" max="100.00" step="1" />
            <label for="ToInspectionVelocityPositionOffset">mm</label>
        </div>
        <div class="row">
            <label for="StartInspectionPosition" class="col-5">Start inspection position</label>
            <input class="textbox" id="StartInspectionPosition" name="StartInspectionPosition" type="number" value="@Model.InspectionSettingsModel.StartInspectionPosition.ToString("F2")" min="100" max="200.00" step="0.1" />
            <label for="StartInspectionPosition">mm</label>
        </div>
        <div class="row">
            <label for="StopInspectionPosition" class="col-5">Stop inspection position</label>
            <input class="textbox" id="StopInspectionPosition" name="StopInspectionPosition" type="number" value="@Model.InspectionSettingsModel.StopInspectionPosition.ToString("F2")" min="150" max="265.00" step="0.1" />
            <label for="StopInspectionPosition">mm</label>
        </div>
        <div class="row">
            <label for="Velocity" class="col-5">Velocity</label>
            <input class="textbox" id="Velocity" name="Velocity" type="number" value="@Model.InspectionSettingsModel.Velocity" min="10" max="400" step="5" />
            <label for="Velocity">mm/s</label>
        </div>   
        <div class="row">
            <label for="InspectionVelocity" class="col-5">Inspection velocity</label>
            <input class="textbox" id="InspectionVelocity" name="InspectionVelocity" type="number" value="@Model.InspectionSettingsModel.InspectionVelocity" min="10" max="100" step="1" />
            <label for="InspectionVelocity">mm/s</label>
        </div>
        <div class="row">
            <label for="InspectionCommandNumber" class="col-5">Command number 3D</label>
            <input class="textbox" id="InspectionCommandNumber" name="InspectionCommandNumber" type="number" value="@Model.InspectionSettingsModel.InspectionCommandNumber.ToString("F0")" min="-1" max="1000" step="any" />
            <label for="InspectionCommandNumber">#</label>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="text-center">
        <button class="button" asp-page-handler="DownloadInspectionSettingsToPLC" title="Download to PLC">
            <img src="/_content/Platform.HMI/icons/download.png" width="30">
        </button>
        <button class="button" asp-page-handler="SaveInspectionSettings" title="Save to database">
            <img src="/_content/Platform.HMI/icons/save.png" width="30">
        </button>
        <button class="button" asp-page-handler="RefreshInspectionSettingsFromRecipe" title="Load from database">
            <img src="/_content/Platform.HMI/icons/back.png" width="30">
        </button>
    </div>
</form>

<script>
    function setCheckBoxValue(checkboxName){
        var element = document.getElementById(checkboxName);
            element.value = element.checked;
    }
</script>