﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form method="post">
    <button class="button" id="CloseSetupRobotHome" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>
<form method="post">
    <h2>Robot home settings</h2>
    <div>&nbsp;</div>
    <div class="settings-card">
        <div class="row">
            <label for="PositionX" class="col-5">Position X</label>
            <input class="textbox" id="HomePositionX" name="HomePositionX" type="number" value="@Model.RobotHomeSettingsModel.HomePositionX.ToString("F2")" min="1.00" max="1025.00" step="0.10" />
            <label for="PositionX">mm</label>
        </div>
        <div class="row">
            <label for="PositionY" class="col-5">Position Y </label>
            <input class="textbox" id="HomePositionY" name="HomePositionY" type="number" value="@Model.RobotHomeSettingsModel.HomePositionY.ToString("F2")" min="1.00" max="30.00" step="0.1" />
            <label for="PositionY">mm</label>
        </div>
        <div class="row">
            <label for="PositionZ" class="col-5">Position Z</label>
            <input class="textbox" id="HomePositionZ" name="HomePositionZ" type="number" value="@Model.RobotHomeSettingsModel.HomePositionZ.ToString("F2")" min="1.00" max="225.00" step="0.1" />
            <label for="PositionZ">mm</label>
        </div>
        <div class="row">
            <label for="PositionR" class="col-5">Position R</label>
            <input class="textbox" id="HomePositionR" name="HomePositionR" type="number" value="@Model.RobotHomeSettingsModel.HomePositionR.ToString("F2")" min="-180" max="270" step="90" />
            <label for="PositionR">deg</label>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="text-center">
        <button class="button" asp-page-handler="DownloadRobotHomeSettingsToPLC" title="Download to PLC">
            <img src="/_content/Platform.HMI/icons/download.png" width="30">
        </button>
        <button class="button" asp-page-handler="SaveRobotHomeSettings" title="Save to database">
            <img src="/_content/Platform.HMI/icons/save.png" width="30">
        </button>
        <button class="button" asp-page-handler="RefreshRobotHomeSettingsFromRecipe" title="Load from database">
            <img src="/_content/Platform.HMI/icons/back.png" width="30">
        </button>
    </div>
</form>