﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form method="post">
    <button class="button" id="CloseSetupRobot" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>
<form method="post">
    <h2>Robot settings</h2>
    <div>&nbsp;</div>
    <div class="settings-card">
        <div class="row">
            <label for="BaseCount" class="col-5">Base count</label>
            <input class="textbox" id="BaseCount" name="BaseCount" type="number" value="@Model.RobotSettingsModel.BaseCount.ToString("F0")" min="1" max="8" step="1" />
            <label for="BaseCount">#</label>
        </div>
        <div class="row">
            <label for="DefaultVelocityPercentage" class="col-5">Default velocity percentage </label>
            <input class="textbox" id="DefaultVelocityPercentage" name="DefaultVelocityPercentage" type="number" value="@Model.RobotSettingsModel.DefaultVelocityPercentage.ToString("F0")" min="10" max="100" step="5" />
            <label for="DefaultVelocityPercentage">%</label>
        </div>
       &nbsp;
        <div class="row">
            <label class="col-3">Name</label>
            <label style="width:115px">X [mm]</label>
            <label style="width:115px">Y [mm]</label>
            <label style="width:115px">Rotation Z [°]</label>
        </div>
        <div class="row">
            <label class="col-3">Tray 1</label>
            <input class="textbox" style="width:110px" id="Tray1TrayOffsetX" name="Tray1TrayOffsetX" type="number" value="@Model.RobotSettingsModel.Tray1TrayOffsetX.ToString("F2")" min="-100" max="100" step="any" />
            <input class="textbox" style="width:110px" id="Tray1TrayOffsetX" name="Tray1TrayOffsetY" type="number" value="@Model.RobotSettingsModel.Tray1TrayOffsetY.ToString("F2")" min="-100" max="100" step="any" />
            <input class="textbox" style="width:110px" id="Tray1TrayOffsetX" name="Tray1TrayOffsetRZ" type="number" value="@Model.RobotSettingsModel.Tray1TrayOffsetRZ.ToString("F2")" min="-100" max="100" step="any" />
        </div>
        <div class="row">
            <label class="col-3">Tray 2</label>
            <input class="textbox" style="width:110px" id="Tray2TrayOffsetX" name="Tray2TrayOffsetX" type="number" value="@Model.RobotSettingsModel.Tray2TrayOffsetX.ToString("F2")" min="-100" max="100" step="any" />
            <input class="textbox" style="width:110px" id="Tray2TrayOffsetX" name="Tray2TrayOffsetY" type="number" value="@Model.RobotSettingsModel.Tray2TrayOffsetY.ToString("F2")" min="-100" max="100" step="any" />
            <input class="textbox" style="width:110px" id="Tray2TrayOffsetX" name="Tray2TrayOffsetRZ" type="number" value="@Model.RobotSettingsModel.Tray2TrayOffsetRZ.ToString("F2")" min="-100" max="100" step="any" />
        </div>
        <div class="row">
            <label class="col-3">Tray 3</label>
            <input class="textbox" style="width:110px" id="Tray3TrayOffsetX" name="Tray3TrayOffsetX" type="number" value="@Model.RobotSettingsModel.Tray3TrayOffsetX.ToString("F2")" min="-100" max="100" step="any" />
            <input class="textbox" style="width:110px" id="Tray3TrayOffsetX" name="Tray3TrayOffsetY" type="number" value="@Model.RobotSettingsModel.Tray3TrayOffsetY.ToString("F2")" min="-100" max="100" step="any" />
            <input class="textbox" style="width:110px" id="Tray3TrayOffsetX" name="Tray3TrayOffsetRZ" type="number" value="@Model.RobotSettingsModel.Tray3TrayOffsetRZ.ToString("F2")" min="-100" max="100" step="any" />
        </div>
        <div class="row">
            <label class="col-3">Tray 4</label>
            <input class="textbox" style="width:110px" id="Tray4TrayOffsetX" name="Tray4TrayOffsetX" type="number" value="@Model.RobotSettingsModel.Tray4TrayOffsetX.ToString("F2")" min="-100" max="100" step="any" />
            <input class="textbox" style="width:110px" id="Tray4TrayOffsetX" name="Tray4TrayOffsetY" type="number" value="@Model.RobotSettingsModel.Tray4TrayOffsetY.ToString("F2")" min="-100" max="100" step="any" />
            <input class="textbox" style="width:110px" id="Tray4TrayOffsetX" name="Tray4TrayOffsetRZ" type="number" value="@Model.RobotSettingsModel.Tray4TrayOffsetRZ.ToString("F2")" min="-100" max="100" step="any" />
        </div>
        <div class="row">
            <label class="col-3">Tray 5</label>
            <input class="textbox" style="width:110px" id="Tray5TrayOffsetX" name="Tray5TrayOffsetX" type="number" value="@Model.RobotSettingsModel.Tray5TrayOffsetX.ToString("F2")" min="-100" max="100" step="any" />
            <input class="textbox" style="width:110px" id="Tray5TrayOffsetX" name="Tray5TrayOffsetY" type="number" value="@Model.RobotSettingsModel.Tray5TrayOffsetY.ToString("F2")" min="-100" max="100" step="any" />
            <input class="textbox" style="width:110px" id="Tray5TrayOffsetX" name="Tray5TrayOffsetRZ" type="number" value="@Model.RobotSettingsModel.Tray5TrayOffsetRZ.ToString("F2")" min="-100" max="100" step="any" />
        </div>
        <div class="row">
            <label class="col-3">Tray 6</label>
            <input class="textbox" style="width:110px" id="Tray6TrayOffsetX" name="Tray6TrayOffsetX" type="number" value="@Model.RobotSettingsModel.Tray6TrayOffsetX.ToString("F2")" min="-100" max="100" step="any" />
            <input class="textbox" style="width:110px" id="Tray6TrayOffsetX" name="Tray6TrayOffsetY" type="number" value="@Model.RobotSettingsModel.Tray6TrayOffsetY.ToString("F2")" min="-100" max="100" step="any" />
            <input class="textbox" style="width:110px" id="Tray6TrayOffsetX" name="Tray6TrayOffsetRZ" type="number" value="@Model.RobotSettingsModel.Tray6TrayOffsetRZ.ToString("F2")" min="-100" max="100" step="any" />
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="text-center">
        <button class="button" asp-page-handler="DownloadRobotSettingsToPLC" title="Download to PLC">
            <img src="/_content/Platform.HMI/icons/download.png" width="30">
        </button>
        <button class="button" asp-page-handler="SaveRobotSettings" title="Save to database">
            <img src="/_content/Platform.HMI/icons/save.png" width="30">
        </button>
        <button class="button" asp-page-handler="RefreshRobotSettingsFromRecipe" title="Load from database">
            <img src="/_content/Platform.HMI/icons/back.png" width="30">
        </button>
    </div>
</form>