﻿<form method="post">
    <button class="button" id="CloseFormDebug" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>
<form method="post">
    <h2>Form tool</h2>
    <div>&nbsp;</div>
    <div class="settings-card">
        <h3>Tool</h3>
        &nbsp;
        <div class="row" style="margin-left:115px">
            <label style="width:130px">Actual</label>
            <label style="width:130px">Setpoint</label>
        </div>
        <div class="row">
            &nbsp;
            <label for="FormActualPositionZ" style="width:80px; margin-left:10px">Position Z</label>
            <input class="textbox" id="FormActualPositionZ" type="number" disabled />
            <input class="textbox" id="FormPositionZ" name="FormPositionZ" type="number" runat="server" value="0.1" min="0" max="1000" step="0.1" />
            <label for="FormPositionY">mm</label>
            <button class="halvebutton" id="FormGoToZButton" name="FormGoToButton" style="margin-right:10px">
                Go to
            </button>
        </div>
        &nbsp;
        <div class="row">
            &nbsp;
            <label for="FormVelocityZ" style="width:80px; margin-left:10px">Velocity</label>
            <input class="textbox" id="FormVelocityZ" name="FormVelocityZ" type="number" runat="server" value="10" min="1" max="150" step="5" />
            <label for="FormVelocityZ">mm/s</label>
        </div>
        &nbsp;
    </div>
    &nbsp;
    <div class="settings-card">
        <h3>Sensors</h3>
        &nbsp;
        <div class="row col-11">
            <label class="checkBox" style="width:50px">
                <input type="checkbox" id="FormToolLocked" disabled>
                <span class="checkmark"></span>
                Locked
            </label>
        </div>
        &nbsp;
    </div>
</form>

<script>
    $("#FormGoToZButton").click(function (e) {
        e.preventDefault();
        var position = document.getElementById("FormPositionZ").value;
        var velocity = document.getElementById("FormVelocityZ").value;

        let url = "./SetupPressModule" + "?handler=FormGoToZ";
        $.ajax({
            type: "POST",
            url: url,
            data: { input1: position, input2: velocity},
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (response) {
                console.log("Error handler");
                console.log(response);
            },
            success: function (response) {
                console.log(response);
                $('#result').text(response.message);
            }
        });
    });
</script>


