﻿<form method="post">
    <button class="button" id="CloseIndexerDebug" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>
<form method="post">
    <h2>Indexer</h2>
    <div class="settings-card">
        <h3>Index bar</h3>
        <div class="row">
            <div style="margin: auto auto">
                <button class="button" id="IndexerLeftButton" name="IndexerLeft">
                    <img src="/_content/Platform.HMI/icons/arrow_left.png" width="40">
                </button>
                <button class="button" id="IndexerRightButton" name="IndexerRight">
                    <img src="/_content/Platform.HMI/icons/arrow_right.png" width="40">
                </button>
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div style="margin: auto auto">
                <button class="button" id="IndexerUpButton" name="IndexerUp">
                    <img src="/_content/Platform.HMI/icons/arrow_up.png" width="40">
                </button>

                <button class="button" id="IndexerDownButton" name="IndexerDown">
                    <img src="/_content/Platform.HMI/icons/arrow_down.png" width="40">
                </button>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="settings-card">
        <h3>Vacuum</h3>
        <div class="row">
            <div style="margin: auto auto;" class="row col-11">
                <label class="checkBox" style="width:50px">
                    <input type="checkbox" id="IndexerVacuum1Checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="checkBox" style="width:50px">
                    <input type="checkbox" id="IndexerVacuum2Checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="checkBox" style="width:50px">
                    <input type="checkbox" id="IndexerVacuum3Checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="checkBox" style="width:50px">
                    <input type="checkbox" id="IndexerVacuum4Checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="checkBox" style="width:50px">
                    <input type="checkbox" id="IndexerVacuum5Checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="checkBox" style="width:50px">
                    <input type="checkbox" id="IndexerVacuum6Checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div style="margin: auto auto" class="row col-12">
                <div class="col-2"></div>
                <button class="button" id="VacuumOnButton" disabled>
                    <img src="/_content/Platform.HMI/icons/VacuumOn.png" width="50">
                </button>

                <button class="button" id="VacuumOffButton" disabled>
                    <img src="/_content/Platform.HMI/icons/stop.png" width="45">
                </button>
                <div class="col-2"></div>
            </div>
        </div>
        <div class="row">
            <div style="margin: auto auto" class="row col-12">
                <div class="col-2"></div>
                <button class="button" id="ActivateBlowOffButton" disabled>
                    <img src="/_content/Platform.HMI/icons/BlowOff.png" width="50">
                </button>
                <button class="button" id="DeactivateBlowOffButton" disabled>
                    <img src="/_content/Platform.HMI/icons/stop.png" width="45">
                </button>
                <div class="col-2"></div>
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div class="row col-11" style="margin: auto auto;">
                <label class="checkBox">
                    <input type="checkbox" id="IndexerIsVacuumOn1Checkbox" disabled>
                    <span class="checkmark"></span>
                    Has vacuum
                </label>
                <label class="checkBox">
                    <input type="checkbox" id="IndexerIsVacuumOn2Checkbox" disabled>
                    <span class="checkmark"></span>
                    Has vacuum
                </label>
                <label class="checkBox">
                    <input type="checkbox" id="IndexerIsVacuumOn3Checkbox" disabled>
                    <span class="checkmark"></span>
                    Has vacuum
                </label>
                <label class="checkBox">
                    <input type="checkbox" id="IndexerIsVacuumOn4Checkbox" disabled>
                    <span class="checkmark"></span>
                    Has vacuum
                </label>
                <label class="checkBox">
                    <input type="checkbox" id="IndexerIsVacuumOn5Checkbox" disabled>
                    <span class="checkmark"></span>
                    Has vacuum
                </label>
                <label class="checkBox">
                    <input type="checkbox" id="IndexerIsVacuumOn6Checkbox" disabled>
                    <span class="checkmark"></span>
                    Has vacuum
                </label>
            </div>
        </div>
    </div>
    &nbsp;
    <div class="settings-card">
        <h3>Sensors</h3>
        <div class="row col-11" style="margin: auto auto">
            <label class="checkBox" style="width: 85px">
                <input type="checkbox" id="IndexerIsOnInfeedCheckbox" disabled>
                <span class="checkmark" ></span>
                At infeed
            </label>
            <label class="checkBox" style="width: 85px">
                <input type="checkbox" id="IndexerIsOnOutfeedCheckbox" disabled>
                <span class="checkmark"></span>
                At outfeed
            </label>
        </div>
        &nbsp;
        <div class="row col-11" style="margin: auto auto">
            <label class="checkBox" style="width: 50px; margin: auto auto">
                <input type="checkbox" id="IndexerIsUpCheckbox" disabled>
                <span class="checkmark"></span>
                &nbsp;&nbsp;Up
            </label>
            <label class="checkBox" style="width: 50px; margin: auto auto">
                <input type="checkbox" id="IndexerIsDownCheckbox" disabled>
                <span class="checkmark"></span>
                &nbsp;Down
            </label>
        </div>
    </div>
</form>

<script>
    $("#IndexerUpButton").click(function (e) {
        e.preventDefault();     
        sendCommand("SetupPressModule", "IndexerPinUp");
    });

    $("#IndexerDownButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupPressModule", "IndexerPinDown");
    });

    $("#IndexerLeftButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupPressModule", "IndexerLeft");
    });

    $("#IndexerRightButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupPressModule", "IndexerRight");
    });
</script>

<script>
    $(function () {
        $("#IndexerVacuum1Checkbox").change(function (e) {
            CheckDisablePressVacuumButtons(e);
        });

        $("#IndexerVacuum2Checkbox").change(function (e) {
            CheckDisablePressVacuumButtons(e);
        });

        $("#IndexerVacuum3Checkbox").change(function (e) {
            CheckDisablePressVacuumButtons(e);
        });

        $("#IndexerVacuum4Checkbox").change(function (e) {
            CheckDisablePressVacuumButtons(e);
        });

        $("#IndexerVacuum5Checkbox").change(function (e) {
            CheckDisablePressVacuumButtons(e);
        });

        $("#IndexerVacuum6Checkbox").change(function (e) {
            CheckDisablePressVacuumButtons(e);
        });

        function CheckDisablePressVacuumButtons(e) {
            e.preventDefault();
            if (!IndexerVacuum1Checkbox.checked && !IndexerVacuum2Checkbox.checked &&
                !IndexerVacuum3Checkbox.checked && !IndexerVacuum4Checkbox.checked &&
                !IndexerVacuum5Checkbox.checked && !IndexerVacuum6Checkbox.checked) {
                $("#VacuumOnButton").prop('disabled', true);
                $("#VacuumOffButton").prop('disabled', true);
                $("#ActivateBlowOffButton").prop('disabled', true);
                $("#DeactivateBlowOffButton").prop('disabled', true);
            }
            else {
                $("#VacuumOnButton").prop('disabled', false);
                $("#VacuumOffButton").prop('disabled', false);
                $("#ActivateBlowOffButton").prop('disabled', false);
                $("#DeactivateBlowOffButton").prop('disabled', false);
            }
        }
    });
    $("#VacuumOnButton").click(function (e) {
        e.preventDefault();
        var vacuumChecked = new Array(6);
        vacuumChecked[0] = IndexerVacuum1Checkbox.checked;
        vacuumChecked[1] = IndexerVacuum2Checkbox.checked;
        vacuumChecked[2] = IndexerVacuum3Checkbox.checked;
        vacuumChecked[3] = IndexerVacuum4Checkbox.checked;
        vacuumChecked[4] = IndexerVacuum5Checkbox.checked;
        vacuumChecked[5] = IndexerVacuum6Checkbox.checked;
        sendCommand("SetupPressModule", "IndexerVacuumOn", vacuumChecked);
    });

    $("#VacuumOffButton").click(function (e) {
        e.preventDefault();
        var vacuumChecked = new Array(6);
        vacuumChecked[0] = IndexerVacuum1Checkbox.checked;
        vacuumChecked[1] = IndexerVacuum2Checkbox.checked;
        vacuumChecked[2] = IndexerVacuum3Checkbox.checked;
        vacuumChecked[3] = IndexerVacuum4Checkbox.checked;
        vacuumChecked[4] = IndexerVacuum5Checkbox.checked;
        vacuumChecked[5] = IndexerVacuum6Checkbox.checked;
        sendCommand("SetupPressModule", "IndexerVacuumOff", vacuumChecked);
    });

    $("#ActivateBlowOffButton").click(function (e) {
        e.preventDefault();
        var vacuumChecked = new Array(6);
        vacuumChecked[0] = IndexerVacuum1Checkbox.checked;
        vacuumChecked[1] = IndexerVacuum2Checkbox.checked;
        vacuumChecked[2] = IndexerVacuum3Checkbox.checked;
        vacuumChecked[3] = IndexerVacuum4Checkbox.checked;
        vacuumChecked[4] = IndexerVacuum5Checkbox.checked;
        vacuumChecked[5] = IndexerVacuum6Checkbox.checked;
        sendCommand("SetupPressModule", "IndexerActivateBlowOff", vacuumChecked);
    });

    $("#DeactivateBlowOffButton").click(function (e) {
        e.preventDefault();
        var vacuumChecked = new Array(6);
        vacuumChecked[0] = IndexerVacuum1Checkbox.checked;
        vacuumChecked[1] = IndexerVacuum2Checkbox.checked;
        vacuumChecked[2] = IndexerVacuum3Checkbox.checked;
        vacuumChecked[3] = IndexerVacuum4Checkbox.checked;
        vacuumChecked[4] = IndexerVacuum5Checkbox.checked;
        vacuumChecked[5] = IndexerVacuum6Checkbox.checked;
        sendCommand("SetupPressModule", "IndexerDeactivateBlowOff", vacuumChecked);
    });
</script>

<script>
    $("#GripperOpen").click(function (e) {
        e.preventDefault();
        sendCommand("SetupPressModule", "GripperOpen");
    });
</script>

<script>
    $("#GripperClose").click(function (e) {
        e.preventDefault();
        sendCommand("SetupPressModule", "GripperClose");
    });
</script>

