﻿<form method="post">
    <button class="button" id="CloseTrimDebug" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>
<form method="post">
    <h2>Trim tool</h2>
    <div>&nbsp;</div>
    <div class="settings-card">
        <h3>Tool</h3>
        &nbsp;
        <div class="row" style="margin-left:115px">
            <label style="width:130px">Actual</label>
            <label style="width:130px">Setpoint</label>
        </div>
        <div class="row">
            &nbsp;
            <label for="TrimPositionZ" style="width:80px; margin-left:10px">Position Z</label>
            <input class="textbox" id="TrimActualPositionZ" type="number" disabled />
            <input class="textbox" id="TrimPositionZ" name="TrimPositionZ" type="number" runat="server" value="0.1" min="1" max="1000" step="0.1" />
            <label for="TrimPositionZ">mm</label>
            <button class="halvebutton" id="TrimGoToZButton" name="TrimGoToButton" style="margin-right:10px">
                Go to
            </button>
        </div>
        &nbsp;
        <div class="row">
            &nbsp;
            <label for="TrimVelocityZ" style="width:80px; margin-left:10px">Velocity</label>
            <input class="textbox" id="TrimVelocityZ" name="TrimVelocityZ" type="number" runat="server" value="10" min="1" max="150" step="1" />
            <label for="TrimVelocityZ">mm/s</label>
        </div>
        &nbsp;
    </div>
    &nbsp;
    <div class="settings-card">
        <h3>Sensors</h3>
        &nbsp;
        <div class="row col-11">
            <label class="checkBox">
                <input type="checkbox" id="TrimToolLocked" disabled>
                <span class="checkmark"></span>
                Locked
            </label>
        </div>
        &nbsp;
    </div>
</form>

<script>
    $("#TrimGoToZButton").click(function (e) {
        e.preventDefault();
        var position = document.getElementById("TrimPositionZ").value;
        var velocity = document.getElementById("TrimVelocityZ").value;

        let url = "./SetupPressModule" + "?handler=TrimGoToZ";
        $.ajax({
            type: "POST",
            url: url,
            data: { input1: position, input2: velocity },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (response) {
                console.log("Error handler");
                console.log(response);
            },
            success: function (response) {
                console.log(response);
                $('#result').text(response.message);
            }
        });
    });
</script>

