﻿<form method="post">
    <button class="button" id="CloseVacuumCleanerDebug" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>
<form method="post">
    <h2>Vacuum cleaner</h2>
    <div class="settings-card">
        <h3>Vacuum</h3>
        &nbsp;
        <div class="row">
            <div style="margin: auto auto">
                <button class="button" id="VacuumCleanerOn" name="VacuumOn">
                    <img src="/_content/Platform.HMI/icons/play.png" width="40">
                </button>

                <button class="button" id="VacuumCleanerOff" name="VacuumOff">
                    <img src="/_content/Platform.HMI/icons/stop.png" width="40">
                </button>
            </div>
        </div>
        &nbsp;
    </div>
</form>

<script>
    $("#VacuumCleanerOn").click(function (e) {
        e.preventDefault();     
        sendCommand("SetupPressModule", "VacuumCleanerOn");
    });

    $("#VacuumCleanerOff").click(function (e) {
        e.preventDefault();
        sendCommand("SetupPressModule", "VacuumCleanerOff");
    });
</script>


