﻿<form method="post">
    <button class="button" id="CloseWasteBinDebug" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>
<form method="post">
    <h2>Waste bin</h2>
    <div class="settings-card">
        <h3>Sensors</h3>
        &nbsp;
        <div class="row col-11">
            <label class="checkBox" style="width:150px">
                <input type="checkbox" id="WasteBinCheckbox" disabled>
                <span class="checkmark"></span>
                Bin present
            </label>
        </div>
        &nbsp;
    </div>
</form>
