﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form method="post">
    <button class="button" id="CloseSetupUnloadMagazine" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>
<form method="post">
    <h2>Unload magazine settings</h2>
    <div>&nbsp;</div>
    <div class="settings-card settings">
        <div class="row">
            <label for="LowerConveyorZ" class="col-5">Lower conveyor Z</label>
            <input class="textbox" id="LowerConveyorZ" name="LowerConveyorZ" type="number" value="@Model.UnloadMagazineSettingsModel.LowerConveyorZ.ToString("F2")" min="1.00" max="125.00" step="0.10" />
            <label for="LowerConveyorZ">mm</label>
        </div>
        <div class="row">
            <label for="StartPlaceOffsetZ" class="col-5">Start place offset Z</label>
            <input class="textbox" id="StartPlaceOffsetZ" name="StartPlaceOffsetZ" type="number" value="@Model.UnloadMagazineSettingsModel.StartPlaceOffsetZ.ToString("F2")" min="1.00" max="25.00" step="1" />
            <label for="StartPlaceOffsetZ">mm</label>
        </div>
        <div class="row">
            <label for="PlaceY" class="col-5">Place Y</label>
            <input class="textbox" id="PlaceY" name="PlaceY" type="number" value="@Model.UnloadMagazineSettingsModel.PlaceY.ToString("F2")" min="1.00" max="225.00" step="0.1" />
            <label for="PlaceY">mm</label>
        </div>
        <div class="row">
            <label for="LiftSafePositionY" class="col-5">Lift safe position Y</label>
            <input class="textbox" id="LiftSafePositionY" name="LiftSafePositionY" type="number" value="@Model.UnloadMagazineSettingsModel.LiftSafePositionY.ToString("F2")" min="1.00" max="225.00" step="0.1" />
            <label for="LiftSafePositionY">mm</label>
        </div>
        <div class="row">
            <label for="UnloadVelocityY" class="col-5">Velocity Y</label>
            <input class="textbox" id="VelocityY" name="UnloadVelocityY" type="number" value="@Model.UnloadMagazineSettingsModel.UnloadVelocityY.ToString("F0")" min="10.00" max="200.00" step="5" />
            <label for="UnloadVelocityY">mm/s</label>
        </div>
        <div class="row">
            <label for="UnloadVelocityZ" class="col-5">Velocity Z</label>
            <input class="textbox" id="VelocityZ" name="UnloadVelocityZ" type="number" value="@Model.UnloadMagazineSettingsModel.UnloadVelocityZ.ToString("F0")" min="10.00" max="200.00" step="5" />
            <label for="UnloadVelocityZ">mm/s</label>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="text-center">
        <button class="button" asp-page-handler="DownloadUnloadMagazineSettingsToPLC" title="Download to PLC">
            <img src="/_content/Platform.HMI/icons/download.png" width="30">
        </button>
        <button class="button" asp-page-handler="SaveUnloadMagazineSettings" title="Save to database">
            <img src="/_content/Platform.HMI/icons/save.png" width="30">
        </button>
        <button class="button" asp-page-handler="RefreshUnloadMagazineSettingsFromRecipe" title="Load from database">
            <img src="/_content/Platform.HMI/icons/back.png" width="30">
        </button>
    </div>
</form>
