﻿@page
@using Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@using PressModule.HMI.Pages.Events;
@model PressModule.Pages.DambarCheckNotOk
@{
}
@inject IHtmlLocalizer<EventResource> localizer;
@Html.AntiForgeryToken()
<link rel="stylesheet" href="~/css/events.css">
<div class="container-fluid">
    <span style="padding: 1rem" class="row">@localizer["Material was inspected, but material did not pass the inspection"]</span>   
    <div style="display:table; flex-direction:column;">
        <p style="display:table-row"><span style="display: table-cell">- @localizer["Press button"] '@localizer["Retry"]' @localizer["material will be inspected again"]</span></p>
        <p style="display:table-row"><span style="display: table-cell">- @localizer["Press button"] '@localizer["Unlock"]' @localizer["to stop the equipment to be able to remove the material"]</span></p>
        <p style="display:table-row"><span style="display: table-cell">- @localizer["Press button"] '@localizer["Material removed"]'' @localizer["when the material has been removed"]</span></p>

    </div>
</div>

<form method="post" style="margin-top:50px; max-width:533px; padding:1rem">
    <div class="settings-card">
        <div class="row" style="margin:auto">
            <button class="button" id="ExecuteDambarCheckDambarCheckNotOkRetry" title="Retry">
               @localizer["Retry"]
            </button>
            &nbsp;
            <button class="button" id="ExecuteDambarCheckDambarCheckNotOkUnlockButton">
                <img src="/_content/Platform.HMI/icons/unlock.png" style="width:35px;margin-left: -7px;" />
            </button>
            &nbsp;
            <button class="button" id="ExecuteDambarCheckDambarCheckNotOkRemovedMaterialButton" title="Removed material" disabled>
                @localizer["Removed material"]
            </button>
        </div>       
    </div>
</form>

<script title="commands">
    $("#ExecuteDambarCheckDambarCheckNotOkRetry").click(function (e) {
        e.preventDefault();
        sendCommand("Events/PressModule/DambarCheckNotOk", "Retry");
        disableButtonTimeout("ExecuteDambarCheckDambarCheckNotOkRetry", true, 200)
    });
    $("#ExecuteDambarCheckDambarCheckNotOkUnlockButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/PressModule/DambarCheckNotOk", "Stop")
        disableButtonTimeout("ExecuteDambarCheckDambarCheckNotOkUnlockButton", true, 2000)
    });
    $("#ExecuteDambarCheckDambarCheckNotOkRemovedMaterialButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/PressModule/DambarCheckNotOk", "RemovedMaterial")
        disableButtonTimeout("ExecuteDambarCheckDambarCheckNotOkRemovedMaterialButton", true, 2000)
    });
</script>
<script title="updater">
    $(() => {
        //Create a connection to the signalR hub to receive message updates
        var connection = new signalR.HubConnectionBuilder().withUrl("/SystemHub").build();

        connection.on("Press2ModuleStateUpdate", function (item, state) {
            getPress2ModuleState();
        });

        async function start() {
            try {
                await connection.start().then(function () {
                    getPress2ModuleState();
                });
            } catch (err) {
                console.log(err);
                setTimeout(start, 5000);
            }
        };

        connection.onclose(async () => {
            await start();
        });

        // Start the connection
        start();

        function getPress2ModuleState() {
            $.ajax({
                url: "Events/PressModule/DambarCheckNotOk?handler=GetState",
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (state) {
                        receivePress2ModuleStateChanged(state);
                },
                error: function (response) {
                    console.log("Error handler");
                    console.log(response);
                },
            });
        }
        function receivePress2ModuleStateChanged(state) {
            if (state.state.toLowerCase() == 'stopped' || state.state.toLowerCase() == 'error') {
                disableButton('ExecuteDambarCheckDambarCheckNotOkRemovedMaterialButton', false)
            }
            if (state.state.toLowerCase() == 'running')
            {
                disableButton('ExecuteDambarCheckDambarCheckNotOkUnlockButton', false);
                disableButton('ExecuteDambarCheckDambarCheckNotOkRetry', false);
            }
            else
            {
                disableButton('ExecuteDambarCheckDambarCheckNotOkRetry', true);
            }
        }
    });
    </script>

