﻿@page
@using Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@using PressModule.HMI.Pages.Events;
@model PressModule.Pages.IndexerLostWasteDuringIndexing
@{
}
@inject IHtmlLocalizer<EventResource> localizer;
@Html.AntiForgeryToken()
<div class="sempro-event">
    <div class="container-fluid">
        <span style="padding: 1rem" class="row">@localizer["Leadframe waste could not be picked up, or was lost during indexing"]</span>   
        <div>
            <span style="padding-left: 1rem" class="row">- @localizer["Press button"] '@localizer["Unlock"]' @localizer["to stop the equipment to be able to remove the waste"]</span>
            <span style="padding-left: 1rem" class="row">- @localizer["Press button"] '@localizer["Material removed"]'' @localizer["when the material has been removed"]</span>
            <span style="padding-left: 1rem" class="row">- @localizer["Press start button"] @localizer["to continue production"]</span>
        </div>
    </div>

    <div class="event-commands-card">
        <button class="button" id="ExecuteIndexerLostWasteDuringIndexingUnlockButton">
            <img src="/_content/Platform.HMI/icons/unlock.png" style="width:35px;margin-left: -7px;" />
        </button>
        &nbsp;
        <button class="button" id="ExecuteIndexerLostWasteDuringIndexingRemovedMaterialButton" title="Removed material" disabled>
            @localizer["Material removed"]
        </button>
    </div>
</div>

<script title="commands">
    $("#ExecuteIndexerLostWasteDuringIndexingUnlockButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/PressModule/IndexerLostWasteDuringIndexing", "Stop")
        disableButtonTimeout("ExecuteIndexerLostWasteDuringIndexingUnlockButton", true, 2000)
    });
    $("#ExecuteIndexerLostWasteDuringIndexingRemovedMaterialButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/PressModule/IndexerLostWasteDuringIndexing", "RemovedMaterial")
        disableButtonTimeout("ExecuteIndexerLostWasteDuringIndexingRemovedMaterialButton", true, 2000)
    });
</script>
<script title="updater">
    $(() => {
        //Create a connection to the signalR hub to receive message updates
        var connection = new signalR.HubConnectionBuilder().withUrl("/SystemHub").build();

        connection.on("PressModuleStateUpdate", function (item, state) {
            getPressModuleState();
        });

        async function start() {
            try {
                await connection.start().then(function () {
                    getPressModuleState();
                });
            } catch (err) {
                console.log(err);
                setTimeout(start, 5000);
            }
        };

        connection.onclose(async () => {
            await start();
        });

        // Start the connection
        start();

        function getPressModuleState() {
            $.ajax({
                url: "Events/PressModule/IndexerLostWasteDuringIndexing?handler=GetState",
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (state) {
                        receivePressModuleStateChanged(state);
                },
                error: function (response) {
                    console.log("Error handler");
                    console.log(response);
                },
            });
        }
        function receivePressModuleStateChanged(state) {
            if (state.state.toLowerCase() == 'stopped')
            {
                disableButton('ExecuteIndexerLostWasteDuringIndexingRemovedMaterialButton', false)
            }
            if (state.state.toLowerCase() == 'running')
            {
                disableButton('ExecuteIndexerLostWasteDuringIndexingUnlockButton', false);
            }
        }
    });
    </script>

