﻿@page
@using Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@using PressModule.HMI.Pages.Events;
@model PressModule.Pages.IndexHandlerIndexerFailedToPickUpProductAtInfeed
@{
}
@inject IHtmlLocalizer<EventResource> localizer;
@Html.AntiForgeryToken()
<div class="sempro-event">
    <div class="container-fluid">
        <span style="padding: 1rem" class="row">@localizer["Material is available at infeed, but it could not be picked up by the indexhandler"]</span>   
        <div style="display:table; flex-direction:column;">
            <p style="display:table-row"><span style="display: table-cell">- @localizer["Press button"] '@localizer["Unlock"]' @localizer["to stop the equipment to be able to remove the material"]</span></p>
            <p style="display:table-row"><span style="display: table-cell">- @localizer["Press button"] '@localizer["Material removed"]'' @localizer["when the material has been removed"]</span></p>
            <p style="display:table-row"><span style="display: table-cell">- @localizer["Press start button"] @localizer["to continue production"]</span></p>

        </div>
    </div>

    <div class="event-commands-card">
        <button class="button" id="ExecuteIndexHandlerIndexerFailedToPickUpProductAtInfeedUnlockButton">
            <img src="/_content/Platform.HMI/icons/unlock.png" style="width:35px;margin-left: -7px;" />
        </button>
        &nbsp;
        <button class="button" id="ExecuteIndexHandlerIndexerFailedToPickUpProductAtInfeedRemovedMaterialButton" title="Removed material" disabled>
            @localizer["Removed material"]
        </button>
    </div>       
</div>

<script title="commands">
    $("#ExecuteIndexHandlerIndexerFailedToPickUpProductAtInfeedUnlockButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/PressModule/IndexHandlerIndexerFailedToPickUpProductAtInfeed", "Stop")
        disableButtonTimeout("ExecuteIndexHandlerIndexerFailedToPickUpProductAtInfeedUnlockButton", true, 2000)
    });
    $("#ExecuteIndexHandlerIndexerFailedToPickUpProductAtInfeedRemovedMaterialButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/PressModule/IndexHandlerIndexerFailedToPickUpProductAtInfeed", "RemovedMaterial")
        disableButtonTimeout("ExecuteIndexHandlerIndexerFailedToPickUpProductAtInfeedRemovedMaterialButton", true, 2000)
    });
</script>
<script title="updater">
    $(() => {
        //Create a connection to the signalR hub to receive message updates
        var connection = new signalR.HubConnectionBuilder().withUrl("/SystemHub").build();

        connection.on("PressModuleStateUpdate", function (item, state) {
            getPressModuleState();
        });

        async function start() {
            try {
                await connection.start().then(function () {
                    getPressModuleState();
                });
            } catch (err) {
                console.log(err);
                setTimeout(start, 5000);
            }
        };

        connection.onclose(async () => {
            await start();
        });

        // Start the connection
        start();

        function getPressModuleState() {
            $.ajax({
                url: "Events/PressModule/IndexHandlerIndexerFailedToPickUpProductAtInfeed?handler=GetState",
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (state) {
                        receivePressModuleStateChanged(state);
                },
                error: function (response) {
                    console.log("Error handler");
                    console.log(response);
                },
            });
        }
        function receivePressModuleStateChanged(state) {
            if (state.state.toLowerCase() == 'stopped')
            {
                disableButton('ExecuteIndexHandlerIndexerFailedToPickUpProductAtInfeedRemovedMaterialButton', false)
            }
            if (state.state.toLowerCase() == 'running')
            {
                disableButton('ExecuteIndexHandlerIndexerFailedToPickUpProductAtInfeedUnlockButton', false);
            }
        }
    });
    </script>

