@page
@using Localization;
@using PressModule.HMI.Pages.Event.Events;
@using Microsoft.AspNetCore.Mvc.Localization;
@using PressModule.HMI.Pages.Events;
@model PressModule.HMI.Pages.Event.Events.PressModuleInSimulation
@{
}
@inject IHtmlLocalizer<EventResource> localizer;
@Html.AntiForgeryToken()
<div class="sempro-event">
    <div class="container-fluid">
        <span style="padding: 0.5rem" class="row">@localizer["The Press module is set in simulation"].</span>
        <span style="padding: 0.5rem" class="row">@localizer["In this mode the actuators will not move and the sensors will not be checked for material"].</span>
        <div>
            <span style="padding: 1rem" class="row">- @localizer["Press button"] '@localizer["Disable simulation"]' @localizer["to disable the simulation of movements for this module."]</span>
        </div>
    </div>

    <div class="event-commands-card">
        <button class="button" id="ExecutePressModuleInSimulationDisableSimulationButton" title="Disable simulation">
            @localizer["Disable simulation"]
        </button>
        &nbsp;
        <button class="button" id="ExecutePressModuleInSimulationStopButton" title="Stop">
            <img src="/_content/Platform.HMI/icons/stop.png" width="40">
        </button>
    </div>
</div>

<script title="commands">
    $("#ExecutePressModuleInSimulationDisableSimulationButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/PressModule/PressModuleInSimulation", "DisableSimulation")
        disableButtonTimeout("ExecutePressModuleInSimulationDisableSimulationButton", true, 200)
    });
    $("#ExecutePressModuleInSimulationStopButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/PressModule/PressModuleInSimulation", "Stop")
        disableButtonTimeout("ExecutePressModuleInSimulationStopButton", true, 200)
    });
</script>
