﻿@page
@using Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@using PressModule.HMI.Pages.Events;
@inject IHtmlLocalizer<EventResource> localizer;

<div class="container-fluid">
    <span style="padding: 1rem" class="row">@localizer["Lead frame waste bin sensor indicates it is not present"]</span>   
    <div style="display:table; flex-direction:column;">
        <p style="display:table-row"><span style="display: table-cell">- @localizer["Make sure the lead frame waste bin is placed correctly"]</span></p>
        <p style="display:table-row"><span style="display: table-cell">- @localizer["Check if the lead frame waste bin is not full, and empty if full"]
        </span></p>
        <p style="display:table-row"><span style="display: table-cell">- @localizer["Check if the sensor is working correctly"]</span></p>
    </div>
</div>

