﻿@using Authorization.Lib;
@using Localization;
@using Microsoft.AspNetCore.Identity
@namespace Power_X1_ICT.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Mvc.Localization;
@using Platform.HMI
@using Power_X1_ICT;
@inject IHtmlLocalizer<SharedResource> sharedLocalizer
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
@inject RoleManager<IdentityRole> roleManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Power X1 i-CT</title>
    <link rel="stylesheet" href="/_content/Platform.HMI/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/_content/Platform.HMI/css/site.css" />
    <link rel="stylesheet" href="/_content/Platform.HMI/css/framework.css" />
    <link rel="stylesheet" href="/_content/Platform.HMI/css/sidebar.css" />
    <link rel="stylesheet" href="/_content/Platform.HMI/css/topbar.css" />
    <link rel="stylesheet" href="/_content/Platform.HMI/css/togglebutton.css" />
    <link rel="stylesheet" href="/_content/Platform.HMI/css/button.css" />
    <link rel="stylesheet" href="/_content/Platform.HMI/css/radiobutton.css" />
    <link rel="stylesheet" href="/_content/Platform.HMI/css/label.css" />
    <link rel="stylesheet" href="/_content/Platform.HMI/css/statusbar.css" />
    <link rel="stylesheet" href="/_content/Platform.HMI/css/statebar.css" />
    <link rel="stylesheet" href="/_content/Platform.HMI/css/textbox.css" />
    <link rel="stylesheet" href="/_content/Platform.HMI/css/settings.css" />
    <link rel="stylesheet" href="/_content/Platform.HMI/css/events.css" />
    <link rel="stylesheet" href="/_content/Platform.HMI/css/scrollbar.css" />
    <link rel="stylesheet" href="/_content/Platform.HMI/css/checkBox.css" />
    <link rel="stylesheet" href="/_content/Platform.HMI/css/sempro.css" />
    <link rel="stylesheet" href="/_content/Platform.HMI/css/dropdownbox.css" />
    <link rel="stylesheet" href="/_content/Platform.HMI/css/progressbar.css" />
    <link rel="shortcut icon" href="/_content/Platform.HMI/icons/favicon.ico" type="image/x-icon">

    @*Scripts on top of the body, so the body can make use of these scripts*@
    <script src="/_content/Platform.HMI/lib/jquery/dist/jquery.min.js"></script>
    <script src="/_content/Platform.HMI/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/_content/Platform.HMI/lib/signalr/dist/browser/signalr.js"></script>
    <script src="/_content/Platform.HMI/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/_content/Platform.HMI/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="/_content/Platform.HMI/js/eventManager.js"></script>
    <script src="/_content/Platform.HMI/js/recipeManager.js"></script>
    <script src="/_content/Platform.HMI/js/lineControl.js"></script>
    <script src="/_content/Platform.HMI/js/sempro.js"></script>
</head>
<body id="body-pd" class="d-flex flex-column min-vh-100" style="background: var(--primary-color); overflow: hidden;">
    <header id="header">
        <div class="navbar navbar-expand-lg fixed-top top-maximum" id="top-bar">
            <div class="container-fluid">
                <div class="col-2">
                    <a href="~/">
                        <img src="/_content/Platform.HMI/img/Logo-white.png" id="logo-image" class="logo-maximum" />
                    </a>
                </div>
                <div id="top-bar-content" class="row col-11">
                    <div class="col-2">
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Lot mode
                                    :
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="data" id="lotControlModeLabel">
                                    N/A
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Secs/Gem
                                    :
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="data" id="secsGemLabel">
                                    @sharedLocalizer["Disabled"]
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Dry-run
                                    :
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="data" id="dryRunLabel">
                                    @sharedLocalizer["N/A"]
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label class="data-description">
                                    Cycle time :
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="data" id="CycleTimeLabel">
                                    N/A
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col-5">
                                <label>
                                    Tool 1 @sharedLocalizer["strokes"]
                                    :
                                </label>
                            </div>
                            <div class="col-7">
                                <label class="data" id="tool1StrokesLabel">
                                    0
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label>
                                    Tool 2 @sharedLocalizer["strokes"]
                                    :
                                </label>
                            </div>
                            <div class="col-7">
                                <label class="data" id="tool2StrokesLabel">
                                    0
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label>
                                    Tool 3 @sharedLocalizer["strokes"]
                                    :
                                </label>
                            </div>
                            <div class="col-7">
                                <label class="data" id="tool3StrokesLabel">
                                    0
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label>
                                    UPH
                                    :
                                </label>
                            </div>
                            <div class="col-7">
                                <label class="data" id="UPHLabel">
                                    N/A
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-3" style="float:left">
                        <div class="row">
                            <div class="col-5">
                                <label>
                                    @sharedLocalizer["Recipe"]
                                    :
                                </label>
                            </div>
                            <div class="col-7">
                                <label class="data" id="currentRecipe">
                                    N/A
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label>
                                    @sharedLocalizer["Version"]
                                    :
                                </label>
                            </div>
                            <div class="col-7">
                                <label class="data" id="versionLabel">
                                    @string.Format("V" + typeof(Program).Assembly.GetName().Version)
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label>
                                    @sharedLocalizer["Date time"]
                                    :
                                </label>
                            </div>
                            <div class="col-7">
                                <label class="data" id="dateTimeLabel">
                                    @DateTime.Now.ToString("dd/MM/yy HH:mm:ss")
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label>
                                    @sharedLocalizer["Lot name"]
                                    :
                                </label>
                            </div>
                            <div class="col-7">
                                <div class="scroll-container">
                                    <label id="lotNameLabel" class="data">
                                        @sharedLocalizer["N/A"]
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        @await Html.PartialAsync("~/Pages/Shared/_loginPartial.cshtml")
                    </div>
                    <div class="col-1" style="text-align:end;margin-top:0.5%">
                        <button class="halvebutton" style="border:gray 2px solid; height:75px" id="ExecuteActivationModalButton">
                            <div style="height:5px"></div>
                            <img src="/_content/Platform.HMI/icons/key.png" width="40" />
                            <hr style="background-color:gray;height:5px;border:none" id="LicenseStateIndicator" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="body-view" class="body-view-content-maximum">
        <div>
            <div class="l-navbar" id="nav-bar">
                <nav class="nav">
                    <div class="sidebar">
                        <div class="row col-1 text-center">
                            <button class="hamburger is-closed" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" id="header-toggle">
                                <span class="hamb-top rounded-pill"></span>
                                <span class="hamb-middle rounded-pill"></span>
                                <span class="hamb-bottom rounded-pill"></span>
                            </button>
                        </div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div class="nav_list" style="width:210px">
                            <div class="row">
                                <a href="/Production/Production" class="nav_link" id="Production">
                                    <img class="bx bx-grid-alt nav_icon" src="/_content/Platform.HMI/icons/production.png" height="40" width="40" style="margin-left:15px;" />
                                </a>
                                <ul class="navbar-nav flex-grow-1 nav_link" style="width:100px;" id="Production">
                                    <li>
                                        <a href="/Production/Production" role="button">
                                            <span class="nav_name underline-on-hover">@sharedLocalizer["Production"]</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <a href="/Setup/Setup" class="nav_link" id="Setup">
                                    <img class="bx bx-grid-alt nav_icon" src="/_content/Platform.HMI/icons/setup.png" height="40" width="40" style="margin-left:15px;" />
                                </a>
                                <ul class="navbar-nav flex-grow-1 nav_link" style="width:100px;" id="Setup">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                            <span class="nav_name underline-on-hover">@sharedLocalizer["Setup"]</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-sempro">
                                            <div>
                                                <a type="button" class="dropdown-item" href="/Setup/MagazineLoader/MagazineLoader">Loader</a>
                                                <a type="button" class="dropdown-item" href="/Setup/PressModule/SetupPressModule">Press</a>
                                                <a type="button" class="dropdown-item" href="/Setup/RobotToTrayUnloader/SetupRobotToTrayUnloader">Unloader</a>
                                                <a type="button" class="dropdown-item" href="/Setup/SecsGem/SetupSecsGem">SecsGem</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <a href="/Recipe/Recipe" class="nav_link" id="Recipe">
                                    <img class="bx bx-grid-alt nav_icon" src="/_content/Platform.HMI/icons/recipe.png" height="40" width="40" style="margin-left:15px;" />
                                </a>
                                <ul class="navbar-nav flex-grow-1 nav_link" style="width:100px;" id="Recipe">
                                    <li>
                                        <a href="/Recipe/Recipe" role="button">
                                            <span class="nav_name underline-on-hover">@sharedLocalizer["Recipe"]</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <a href="/Performance/Performance" class="nav_link" id="Performance">
                                    <img class="bx bx-grid-alt nav_icon" src="/_content/Platform.HMI/icons/performance.png" height="40" width="40" style="margin-left:15px;" />
                                </a>
                                <ul class="navbar-nav flex-grow-1 nav_link" style="width:100px;" id="Performance">
                                    <li>
                                        <a href="/Performance/Performance" role="button">
                                            <span class="nav_name underline-on-hover">@sharedLocalizer["Performance"]</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="row" style="position:relative" onclick="location.href='/Event/Event';" id="Events">
                                <a href="/Event/Event" class="nav_link" id="Event">
                                    <img class="bx bx-grid-alt nav_icon" src="/_content/Platform.HMI/icons/events.png" height="40" width="40" style="margin-left:15px;" />
                                </a>
                                <ul class="navbar-nav flex-grow-1 nav_link" style="width:100px;" id="Event">
                                    <li>
                                        <a href="/Event/Event" role="button">
                                            <span class="nav_name  underline-on-hover">@sharedLocalizer["Events"]</span>
                                        </a>
                                    </li>
                                </ul>
                                <span class="notification errorNotification" id="ErrorNotification" style="display:none">
                                    <span class="count" id="ErrorCount" style="display:none">0</span>
                                </span>
                                <span class="notification assistNotification" id="AssistNotification" style="display:none">
                                    <span class="count" id="AssistCount" style="display:none">0</span>
                                </span>
                                <span class="notification warningNotification" id="WarningNotification" style="display:none">
                                    <span class="count" id="WarningCount" style="display:none">0</span>
                                </span>
                                <span class="notification informationNotification" id="InformationNotification" style="display:none">
                                    <span class="count" id="InformationCount" style="display:none">0</span>
                                </span>
                            </div>
                            <div id="eventTooltipContainer" class="eventTooltip" onclick="location.href='/Event/Event';">
                                New event added:
                                <label></label>
                            </div>
                        </div>
                    </div>
                    <div style="width:90px;padding-bottom:50px;display: flex;flex-direction: column;align-items: center;">
                        <button class="button" id="startButton" style="width:70px;height:70px;border-radius:0; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);background:gray" disabled>
                            <img src="/_content/Platform.HMI/icons/play_white.png" width="60">
                        </button>
                        <button class="button" id="stopButton" style="width:70px;height:70px;border-radius:0; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);background:gray" disabled>
                            <img src="/_content/Platform.HMI/icons/stop_white.png" width="60">
                        </button>
                        <div class="state" id="lineControl" style="left:15px;bottom: 25px;width: 70px;height: 10px;position: absolute;"></div>
                    </div>
                </nav>
            </div>
        </div>
        @RenderBody()

    </div>
    <!-- Modal for activation key-->
    <div class="modal center fade" role="dialog" id="activationModal" tabindex="-1" aria-labelledby="activationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:630px">
                <div class="modal-header">
                    <h4 class="modal-title">@sharedLocalizer["Activation license"]</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body col-12">
                    <div class="row">
                        <div class="col-8">
                            @sharedLocalizer["Current license is valid until end of"]:
                        </div>
                        <div class="col-4">
                            <label id="ActivationCodeValidUntill">January 2022 </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            @sharedLocalizer["Enter license for month"]:
                        </div>
                        <div class="col-4" id="">
                            <label id="ActivationCodeCurrentMonth">
                                @DateTime.Now.AddMonths(-1).ToString("MMMM yyyy")
                            </label>
                        </div>
                    </div>
                    &nbsp;
                    <div class="row">
                        <div class="col-8">
                            @sharedLocalizer["Activation code"]*:
                        </div>
                        <div class="col-4">
                            <input class="textbox" id="ActivationCodeInput" name="Name" type="text" value="" placeholder="xxxx-xxxx" />
                        </div>
                    </div>
                    <div style="text-align:end; margin-right:19px;display:none" id="ActivationCodeFeedback">
                        @sharedLocalizer["Activation code is invalid"]
                    </div>
                    &nbsp;
                    <div class="row" style="padding:17px">
                        *@sharedLocalizer["Code has been sent by e-mail to contact persons"].
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Submit" class="btn btn-primary" id="ExecuteActivateLicenseButton" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        @sharedLocalizer["Close"]
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for login-->
    <div class="modal center fade" role="dialog" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@sharedLocalizer["Login"]</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @await Html.PartialAsync("~/Areas/Identity/Pages/Account/_LoginModalPartial.cshtml")
                </div>
            </div>
        </div>
    </div>
    <footer>
    </footer>

    @Html.AntiForgeryToken()
    @*Scripts that reference other content needs to be post body*@
    <script src="/_content/Platform.HMI/js/lotControl.js"></script>
    <script src="/_content/Platform.HMI/js/framework.js"></script>
    <script src="/_content/Platform.HMI/js/licenseManager.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        var translations = {
            enabled: '@sharedLocalizer["Enabled"]',
            disabled: '@sharedLocalizer["Disabled"]'
        }
    </script>
</body>
</html>
