﻿@page
@{
    Layout = null;
}
@model RobotTrayUnloader.Pages.Assistants.TeachPlacePositionsModel
@{
}
@await Html.PartialAsync("/Pages/Assistants/BasePages/_AssistantBodyPartial.cshtml")


<script src="/_content/RobotToTrayUnloader.HMI/js/Assistants/teachPlacePositionsUpdater.js"></script>


<script>
    $(document).ready(function () {
        initializeAssistant('/Setup/RobotToTrayUnloader', 'TeachPlacePositions');
    });
</script>


