﻿@page
@model Power_X1_iCT.Pages.Setup.SetupMagazineLoaderModel
@{
}
@Html.AntiForgeryToken()
<head>
    <link rel="stylesheet" href="/_content/Platform.HMI/css/setup.css" />
</head>
<div>
    <div class="backgroundImage">
        <img src="~/img/Modules/magazine-loader.png" />
    </div>
    <div class="col-12 row">
        <div class="col-5">
            <div class="main-settings-sempro-card">
                <div class="row" style="margin:0px">
                    <button class="smallbutton" id="ExecuteLockCoversButton" title="Lock" style="display:block;">
                        <img src="/_content/Platform.HMI/icons/lock.png" width="30">
                    </button>
                    <button class="smallbutton" id="ExecuteUnlockCoversButton" title="Unlock" style="display:none">
                        <img src="/_content/Platform.HMI/icons/unlock.png" width="30">
                    </button>
                    <button class="halvebutton" id="ExecuteInitializeButton" title="Initialize">
                        <img src="/_content/Platform.HMI/icons/init.png" width="30">
                    </button>
                    <button class="halvebutton" id="ExecuteStartButton" title="Start">
                        <img src="/_content/Platform.HMI/icons/play.png" width="40">
                    </button>
                    <button class="halvebutton" id="ExecuteStopButton" title="Stop">
                        <img src="/_content/Platform.HMI/icons/stop.png" width="40">
                    </button>
                    <div class="statusBar" id="MagazineLoaderStatus">Ready</div>
                    <div class="stateBar" id="MagazineLoaderState">Stopped</div>
                    &nbsp;
                    <button class="smallbutton" title="Setup" id="SetupMainMagazineLoader" style="float:right;">
                        <img src="/_content/Platform.HMI/icons/settings.png" width="30">
                    </button>
                </div>
            </div>
            <div class="main-settings-sempro-card">
                <h5 class="font-weight-bold d-inline-flex settings-label">Processes</h5>
                <div class="row">
                    <span class="process-label">Load magazine</span>
                    <button class="button" title="Execute" id="ExecuteLoadMagazineButton">
                        <img src="/_content/Platform.HMI/icons/repeat_once.png" width="30">
                    </button>
                    <div class="statusBar" id="LoadMagazineStatus">Ready</div>
                    &nbsp;
                    <button class="button" title="Setup" id="SetupLoadMagazine" style="float:right; width:50px;">
                        <img src="/_content/Platform.HMI/icons/settings.png" width="30">
                    </button>
                </div>
                <div class="row">
                    <span class="process-label">Provide material</span>
                    <button class="button" title="Execute" id="ExecuteProvideMaterialButton">
                        <img src="/_content/Platform.HMI/icons/repeat_once.png" width="30">
                    </button>
                    <div class="statusBar" id="ProvideMaterialStatus">Ready</div>
                    &nbsp;
                    <div style="float: right;">
                        <button class="button" title="Setup" id="SetupProvideMaterial" style="width:50px;">
                            <img src="/_content/Platform.HMI/icons/settings.png" width="30">
                        </button>
                    </div>
                </div>
                <div class="row">
                    <span class="process-label">Unload magazine</span>
                    <button class="button" title="Execute" id="ExecuteUnloadMagazineButton">
                        <img src="/_content/Platform.HMI/icons/repeat_once.png" width="30">
                    </button>
                    <div class="statusBar" id="UnloadMagazineStatus">Ready</div>
                    &nbsp;
                    <button class="button" title="Setup" id="SetupUnloadMagazine" style="float:right; width:50px;">
                        <img src="/_content/Platform.HMI/icons/settings.png" width="30">
                    </button>
                </div>
            </div>
            <div class="main-settings-sempro-card">
                <div>
                    <h5 class="font-weight-bold d-inline-flex settings-label">Resources</h5>
                    <div class="row">
                        <span class="process-label">Upper conveyor</span>
                        <button class="button" title="Debug" id="DebugUpperConveyor">
                            <img src="/_content/Platform.HMI/icons/tool.png" width="30">
                        </button>
                        <div class="statusBar" id="UpperConveyorStatus">Ready</div>>
                    </div>
                    <div class="row">
                        <span class="process-label">Upper hatch</span>
                        <button class="button" title="Debug" id="DebugUpperHatch">
                            <img src="/_content/Platform.HMI/icons/tool.png" width="30">
                        </button>
                        <div class="statusBar" id="UpperHatchStatus">Ready</div>
                    </div>
                    <div class="row">
                        <span class="process-label">Lift</span>
                        <button class="button" title="Debug" id="DebugLift">
                            <img src="/_content/Platform.HMI/icons/tool.png" width="30">
                        </button>
                        <div class="statusBar" id="LiftStatus">Ready</div>
                    </div>
                    <div class="row">
                        <span class="process-label">Leadframe pusher</span>
                        <button class="button" title="Debug" id="DebugLeadFramePusher">
                            <img src="/_content/Platform.HMI/icons/tool.png" width="30">
                        </button>
                        <div class="statusBar" id="LeadFramePusherStatus">Ready</div>
                    </div>
                    <div class="row">
                        <span class="process-label">Lower hatch</span>
                        <button class="button" title="Debug" id="DebugLowerHatch">
                            <img src="/_content/Platform.HMI/icons/tool.png" width="30">
                        </button>
                        <div class="statusBar" id="LowerHatchStatus">Ready</div>
                    </div>
                    <div class="row">
                        <span class="process-label">Lower conveyor</span>
                        <button class="button" title="Debug" id="DebugLowerConveyor">
                            <img src="/_content/Platform.HMI/icons/tool.png" width="30">
                        </button>
                        <div class="statusBar" id="LowerConveyorStatus">Ready</div>
                    </div>
                    <div class="row">
                        <span class="process-label">Outfeed</span>
                        <button class="button" title="Debug" id="DebugOutfeed">
                            <img src="/_content/Platform.HMI/icons/tool.png" width="30">
                        </button>
                        <div class="statusBar" id="OutfeedStatus" style="visibility: hidden">Ready</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div style="display: inline-flex">
                @* Main process *@
                <div id="SetupMainMagazineLoaderContainer" style="display:none;" class="settings">
                    @await Html.PartialAsync("Main/MagazineLoaderSettingsPartial")
                </div>

                @* Sub processes *@
                <div id="SetupLoadMagazineContainer" style="display:none;" class="settings">
                    @await Html.PartialAsync("Subprocesses/LoadMagazine/LoadMagazineSettingsPartial")
                </div>
                <div id="SetupProvideMaterialContainer" style="display:none;" class="settings">
                    @await Html.PartialAsync("Subprocesses/ProvideMaterial/ProvideMaterialSettingsPartial")
                </div>
                <div id="SetupUnloadMagazineContainer" style="display:none;" class="settings">
                     @await Html.PartialAsync("Subprocesses/UnloadMagazine/UnloadMagazineSettingsPartial")
                </div>

                @* Resources *@
                <div id="DebugUpperConveyorContainer" style="display:none;" class="settings">
                     @await Html.PartialAsync("Resources/UpperConveyorDebugPartial")
                </div>
                <div id="DebugUpperHatchContainer" style="display:none;" class="settings">
                     @await Html.PartialAsync("Resources/UpperHatchDebugPartial")
                </div>
                <div id="DebugLiftContainer" style="display:none;min-width:520px" class="settings">
                     @await Html.PartialAsync("Resources/LiftDebugPartial")
                </div>
                <div id="DebugLeadframePusherContainer" style="display:none;" class="settings">
                     @await Html.PartialAsync("Resources/LeadframePusherDebugPartial")
                </div>
                <div id="DebugLowerConveyorContainer" style="display:none;" class="settings">
                    @await Html.PartialAsync("Resources/LowerConveyorDebugPartial")
                </div>
                <div id="DebugLowerHatchContainer" style="display:none;" class="settings">
                    @await Html.PartialAsync("Resources/LowerHatchDebugPartial")
                </div>
                <div id="DebugOutfeedContainer" style="display:none;" class="settings">
                    @await Html.PartialAsync("Resources/OutfeedDebugPartial")
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/_content/MagazineLoader.HMI/js/magazineLoader.js"></script>

<script title="commands">
    $("#ExecuteLockCoversButton").click(function (e) {
        e.preventDefault();
        disableButtonTimeout("ExecuteLockCoversButton", true, 100);
        $.ajax({
            url: "/Setup/Setup?handler=LockCovers",
            type: 'POST',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (response) {
                console.log(response);
            },
        });
    });

    $("#ExecuteUnlockCoversButton").click(function (e) {
        e.preventDefault();
        disableButtonTimeout("ExecuteUnlockCoversButton", true, 100);
        $.ajax({
            url: "/Setup/Setup?handler=UnlockCovers",
            type: 'POST',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (response) {
                console.log(response);
            },
        });
    });

    $("#ExecuteInitializeButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupMagazineLoader", "Initialize");
    });

    $("#ExecuteStartButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupMagazineLoader", "Start");
    });

    $("#ExecuteStopButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupMagazineLoader", "Stop");
    });

    $("#ExecuteLoadMagazineButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupMagazineLoader", "LoadMagazine");
    });

    $("#ExecuteProvideMaterialButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupMagazineLoader", "ProvideMaterial");
    });

    $("#ExecuteUnloadMagazineButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupMagazineLoader", "UnloadMagazine");
    });
</script>

<script title="Simulation">
    $(function () {
        $("#Simulation").change(function (e) {
            e.preventDefault();
            sendCommand("SetupMagazineLoader", "SimulationChanged");
        });
    })
</script>

<script title="Velocity">
    $(function () {
        $("#VelocityPercentage").change(function (e) {
            e.preventDefault();
            var percentage = $("#VelocityPercentage")[0].value;
            // submit form with ajax
            $.ajax(
                {
                    type: 'POST',
                    dataType: 'JSON',
                    url: './SetupMagazineLoader?handler=SetVelocityPercentage',
                    data: { percentage: percentage },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    error:
                        function (response) {
                            console.log(response);
                            alert("Error: " + "PLC returned error string");
                        }
                });
        });
    });
</script>

