﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form method="post">
    <button class="button" id="CloseProvideMaterial" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>
<form method="post">
    <h2>Provide material settings</h2>
    <div>&nbsp;</div>
    <div class="settings-card">
        <div  class="row">
            <label for="MagazineSlotOffset" class="col-5">Magazine slot offset</label>
            <input class="textbox" id="MagazineSlotOffset" name="MagazineSlotOffset" type="number" value="@Model.ProvideMaterialSettingsModel.MagazineSlotOffset.ToString("F2")" min="1.00" max="50.00" step="0.01" data-decimal="2" oninput="enforceNumberValidation(this)" />
            <label for="MagazineSlotOffset">mm</label>
        </div>
        <div class="row">
            <label for="MagazineBottomSlotOffset" class="col-5">Magazine bottom to last slot offset Z</label>
            <input class="textbox" id="MagazineBottomSlotOffset" name="MagazineBottomSlotOffset" type="number" value="@Model.ProvideMaterialSettingsModel.MagazineBottomSlotOffset.ToString("F2")" min="1.00" max="30.00" step="0.01" data-decimal="2" oninput="enforceNumberValidation(this)" />
            <label for="MagazineBottomSlotOffset">mm</label>
        </div>
        <div class="row">
            <label for="DeviceCountPerLeadFrame" class="col-5">Pushes per leadframe</label>
            <input class="textbox" id="DeviceCountPerLeadFrame" name="DeviceCountPerLeadFrame" type="number" value="@Model.ProvideMaterialSettingsModel.DeviceCountPerLeadFrame" min="1" max="3" step="1" data-decimal="2" oninput="enforceNumberValidation(this)" />
            <label for="DeviceCountPerLeadFrame">#</label>
        </div>
        <div class="row">
            <label for="MagazineLiftStartPositionZ" class="col-5">Lift start position Z</label>
            <input class="textbox" id="MagazineLiftStartPositionZ" name="MagazineLiftStartPositionZ" type="number" value="@Model.ProvideMaterialSettingsModel.MagazineLiftStartPositionZ.ToString("F2")" min="500.00" max="600.00" step="0.01" data-decimal="2" oninput="enforceNumberValidation(this)" />
            <label for="MagazineLiftStartPositionZ">mm</label>
        </div>
        <div class="row">
            <label for="MagazineLiftStartPositionY" class="col-5">Lift push position Y</label>
            <input class="textbox" id="MagazineLiftStartPositionY" name="MagazineLiftStartPositionY" type="number" value="@Model.ProvideMaterialSettingsModel.MagazineLiftStartPositionY.ToString("F2")" min="1.00" max="225.00" step="0.01" data-decimal="2" oninput="enforceNumberValidation(this)" />
            <label for="MagazineLiftStartPositionY">mm</label>
        </div>
        <div class="row">
            <label for="MagazineWidth" class="col-5">Magazine width</label>
            <input class="textbox" id="MagazineWidth" name="MagazineWidth" type="number" value="@Model.ProvideMaterialSettingsModel.MagazineWidth.ToString("#,##0.00#")" min="1.00" max="225.00" step="0.01" data-decimal="2" oninput="enforceNumberValidation(this)" />
            <label for="MagazineWidth">mm</label>
        </div>
         <div class="row">
            <label for="ProvideVelocityY" class="col-5">Velocity Y</label>
            <input class="textbox" id="ProvideVelocityY" name="ProvideVelocityY" type="number" value="@Model.ProvideMaterialSettingsModel.ProvideVelocityY.ToString("F0")" min="10.00" max="200.00" step="5" data-decimal="0" oninput="enforceNumberValidation(this)"/>
            <label for="ProvideVelocityY">mm/s</label>
        </div>
         <div class="row">
            <label for="ProvideVelocityZ" class="col-5">Velocity Z</label>
            <input class="textbox" id="ProvideVelocityZ" name="ProvideVelocityZ" type="number" value="@Model.ProvideMaterialSettingsModel.ProvideVelocityZ.ToString("F0")" min="10.00" max="200.00" step="5" />
            <label for="ProvideVelocityZ">mm/s</label>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="text-center">
        <button class="button" asp-page-handler="DownloadProvideMaterialSettingsToPLC" title="Download to PLC">
            <img src="/_content/Platform.HMI/icons/download.png" width="30">
        </button>
        <button class="button" asp-page-handler="SaveProvideMaterialSettings" title="Save to database">
            <img src="/_content/Platform.HMI/icons/save.png" width="30">
        </button>
        <button class="button" asp-page-handler="RefreshProvideMaterialSettingsFromRecipe" title="Load from database">
            <img src="/_content/Platform.HMI/icons/back.png" width="30">
        </button>
    </div>
</form>

