﻿@using Power_X1_iCT.Pages.Setup;
@using Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IHtmlLocalizer<SetupRobotToTrayUnloaderModel> localizer;
@inject IHtmlLocalizer<SharedResource> sharedLocalizer;

<form method="post">
    <button class="button" id="Close3DCamaeraControllerDebug" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>
<form method="post">
    <h2>@localizer["Camera 3D"]</h2>
    &nbsp;
    <div class="settings-card">
        <div class="col-12 row" style="Left: 10%">
            <label for="3dCameraControllerCommandNumber" style="width:100px; margin-left:10px">@localizer["Command number"]</label>
            <input class="textbox" id="3dCameraControllerCommandNumber" type="number" disabled />
        </div>
        <div class="col-12 row" style="Left: 10%">
            <label for="3dCameraControllerResult" style="width:100px; margin-left:10px">Result</label>
            <input class="textbox" id="3dCameraControllerResult" type="number" disabled />
        </div>
    </div>
    &nbsp;
    <div class="settings-card">
        <h3>@sharedLocalizer["Sensors"]</h3>
        &nbsp;
        <label class="checkBox row" style="width:150px">
            <input type="checkbox" id="3dCameraControllerControllerReadyCheckbox" disabled>
            <span class="checkmark"></span>
            @localizer["Controller ready"]
        </label>
        <label class="checkBox row" style="width:150px">
            <input type="checkbox" id="3dCameraControllerControllerBusyCheckbox" disabled>
            <span class="checkmark"></span>
            @localizer["Controller busy"]
        </label>
        <label class="checkBox row" style="width:150px">
            <input type="checkbox" id="3dCameraControllerControllerIsRunningCheckbox" disabled>
            <span class="checkmark"></span>
            @localizer["Controller running"]
        </label>
        &nbsp;
    </div>
</form>