﻿@using Power_X1_iCT.Pages.Setup;
@using Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IHtmlLocalizer<SetupRobotToTrayUnloaderModel> localizer;
@inject IHtmlLocalizer<SharedResource> sharedLocalizer;
<form method="post">
    <button class="button" id="CloseRobotDebug" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>
<form method="post">
    <h2>Robot</h2>
    <div>&nbsp;</div>
    <div class="settings-card">
        <h3>Movement</h3>
        <div class="row" style="margin-left:115px">
            <label style="width:130px">Actual</label>
            <label style="width:130px">Setpoint</label>
        </div>
        <div class="row">
            &nbsp;
            <label for="RobotActualPositionX" style="width:80px; margin-left:10px">Position X</label>
            <input class="textbox" id="RobotActualPositionX" type="number" disabled />
            <input class="textbox" id="RobotPositionX" name="RobotPositionX" type="number" runat="server" value="0.1" min="5" max="260" step="0.1" />
            <label for="RobotPositionX">mm</label>

        </div>
        &nbsp;
        <div class="row">
            &nbsp;
            <label for="RobotActualPositionY" style="width:80px; margin-left:10px">Position Y</label>
            <input class="textbox" id="RobotActualPositionY" type="number" disabled />
            <input class="textbox" id="RobotPositionY" name="RobotPositionY" type="number" runat="server" value="0.1" min="5" max="260" step="0.1" />
            <label for="RobotPositionX">mm</label>

        </div>
        &nbsp;
        <div class="row">
            &nbsp;
            <label for="RobotActualPositionZ" style="width:80px; margin-left:10px">Position Z</label>
            <input class="textbox" id="RobotActualPositionZ" type="number" disabled />
            <input class="textbox" id="RobotPositionZ" name="RobotPositionZ" type="number" runat="server" value="0.1" min="5" max="260" step="0.1" />
            <label for="RobotPositionX">mm</label>
        </div>
        &nbsp;
        <div class="row">
            &nbsp;
            <label for="RobotActualPositionR" style="width:80px; margin-left:10px">Position R</label>
            <input class="textbox" id="RobotActualPositionR" type="number" disabled />
            <input class="textbox" id="RobotPositionR" name="RobotPositionR" type="number" runat="server" value="0.1" min="5" max="260" step="0.1" />
            <label for="RobotPositionX">deg</label>
        </div>
        &nbsp;
        <div class="row">
            &nbsp;

            <label for="RobotVelocity" style="width:80px; margin-left:10px">Velocity</label>
            <input class="textbox" id="RobotVelocity" name="RobotVelocity" type="number" runat="server" value="10" min="1" max="100" step="5" />
            <label for="RobotVelocity">%</label>
            <div class="col-2"></div>
            <button class="halvebutton" id="RobotGoToButton" name="RobotGoToButton" style="margin-right:10px">
                Go to
            </button>
        </div>
        &nbsp;
    </div>
    &nbsp;
    <div class="settings-card">
    <h3>Sensors</h3>
        <div class="row">
            <div style="margin: auto auto" class="row col-12">
                <div class="col-2"></div>
                <button class="button" id="VacuumOnButton">
                    <img src="/_content/Platform.HMI/icons/VacuumOn.png" width="50">
                </button>

                <button class="button" id="VacuumOffButton">
                    <img src="/_content/Platform.HMI/icons/stop.png" width="45">
                </button>
                <div class="col-2"></div>
            </div>
        </div>
        <div class="row">
            <div style="margin: auto auto" class="row col-12">
                <div class="col-2"></div>
                <button class="button" id="ActivateBlowOffButton">
                    <img src="/_content/Platform.HMI/icons/BlowOff.png" width="50">
                </button>
                <button class="button" id="DeactivateBlowOffButton">
                    <img src="/_content/Platform.HMI/icons/stop.png" width="45">
                </button>
                <div class="col-2"></div>
            </div>
        </div>
        &nbsp;
        <div class="row">
            <label class="checkBox row" style="width:150px">
                <input type="checkbox" id="RobotIsVacuumOnCheckbox" disabled>
                <span class="checkmark"></span>
                @localizer["Is vacuum on"]
            </label>
            <label class="checkBox row" style="width:150px">
                <input type="checkbox" id="RobotIsPauseCheckbox" disabled>
                <span class="checkmark"></span>
                @localizer["Is pause"]
            </label>
        </div>
        &nbsp;
    </div>
</form>

<script>
    $("#RobotGoToButton").click(function (e) {
        e.preventDefault();
        var positionX = document.getElementById("RobotPositionX").value;
        var positionY = document.getElementById("RobotPositionY").value;
        var positionZ = document.getElementById("RobotPositionZ").value;
        var positionR = document.getElementById("RobotPositionR").value;
        var velocity = document.getElementById("RobotVelocity").value;

        let url = "./SetupRobotToTrayUnloader" + "?handler=RobotGoTo";
        $.ajax({
            type: "POST",
            url: url,
            data: { input1: positionX, input2: positionY, input3: positionZ, input4: positionR, input5: velocity},
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (response) {
                console.log("Error handler");
                console.log(response);
            },
            success: function (response) {
                console.log(response);
                $('#result').text(response.message);
            }
        });
    });
</script>

<script>
$("#VacuumOnButton").click(function(e) {
    e.preventDefault();
    sendCommand("SetupRobotToTrayUnloader", "VacuumOnCommand");
});

$("#VacuumOffButton").click(function(e) {
    e.preventDefault();
        sendCommand("SetupRobotToTrayUnloader", "VacuumOffCommand");
});

$("#ActivateBlowOffButton").click(function(e) {
    e.preventDefault();
    sendCommand("SetupRobotToTrayUnloader", "ActivateBlowOff");
});

$("#DeactivateBlowOffButton").click(function(e) {
    e.preventDefault();
        sendCommand("SetupRobotToTrayUnloader", "DeactivateBlowOff");
});
</script>
