﻿<form method="post">
    <button class="button" id="CloseScanningStageDebug" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>
<form method="post">
    <h2>Scanning stage</h2>
    <div>&nbsp;</div>
    <div class="settings-card">
        <h3>Scanning stage</h3>
        &nbsp;
        <div class="row" style="margin-left:115px">
            <label style="width:130px">Actual</label>
            <label style="width:130px">Setpoint</label>
        </div>
        <div class="row">
            &nbsp;
            <label for="ScanningStageActualPositionX" style="width:80px; margin-left:10px">Position X</label>
            <input class="textbox" id="ScanningStageActualPositionX" type="number" disabled />
            <input class="textbox" id="ScanningStagePositionX" name="ScanningStagePositionX" type="number" runat="server" value="0.1" min="5" max="260" step="0.1" />
            <label for="ScanningStagePositionX">mm</label>
            <button class="halvebutton" id="ScanningStageGoToXButton" name="ScanningStageGoToButton" style="margin-right:10px">
                Go to
            </button>
        </div>
        &nbsp;
        <div class="row">
            &nbsp;
            <label for="ScanningStageVelocity" style="width:80px; margin-left:10px">Velocity</label>
            <input class="textbox" id="ScanningStageVelocity" name="ScanningStageVelocity" type="number" runat="server" value="10" min="1" max="150" step="5" />
            <label for="ScanningStageVelocity">mm/s</label>
        </div>
        &nbsp;
    </div>
    &nbsp;
    <div class="settings-card">
        <h3>Sensors</h3>
        &nbsp;
        <div class="row col-11">
            <label class="checkBox" style="width:200px">
                <input type="checkbox" id="ProductAtScanningStage" disabled>
                <span class="checkmark"></span>
                Product present at infeed
            </label>
        </div>
        &nbsp;
    </div>
</form>

<script>
    $("#ScanningStageGoToXButton").click(function (e) {
        e.preventDefault();
        var position = document.getElementById("ScanningStagePositionX").value;
        var velocity = document.getElementById("ScanningStageVelocity").value;

        let url = "./SetupRobotToTrayUnloader" + "?handler=ScanningStageGoToX";
        $.ajax({
            type: "POST",
            url: url,
            data: { input1: position, input2: velocity },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (response) {
                console.log("Error handler");
                console.log(response);
            },
            success: function (response) {
                console.log(response);
                $('#result').text(response.message);
            }
        });
    });
</script>
