﻿@page
@model Power_X1_iCT.Pages.NoEmptyPocketFoundAssist
@{
}
@Html.AntiForgeryToken()
<link rel="stylesheet" href="~/css/events.css">
<div class="container-fluid">
    <span style="padding: 1rem" class="row">Robot place process was unable to find an empty pocket.</span>
    <span style="padding: 1rem" class="row">1. Replace full trays with empty trays.</span>
    <span style="padding: 1rem" class="row">2. Place empty trays.</span>
    <span style="padding: 1rem" class="row">3. Check recipe if outfeed type for device under robot is available.</span>
    <span style="padding: 1rem" class="row">4. Check if tray present sensors are working correctly.</span>
    <div style="display:table; flex-direction:column;">
        <p style="display:table-row"><span style="display: table-cell">Click on retry to retry placement.</span></p>
    </div>
</div>

<form method="post" style="margin-top:50px; max-width:370px; padding:1rem">
    <div class="settings-card">
        <div class="row" style="margin:auto">
            <button class="button" id="ExecuteRetryButton" title="Retry">
                <img src="/_content/Platform.HMI/icons/green_checkmark.png" width="30">
            </button>
            &nbsp;
            <button class="button" id="ExecuteStopButton" title="Stop">
                <img src="/_content/Platform.HMI/icons/stop.png" width="40">
            </button>
        </div>       
    </div>
</form>

<script src="/_content/Platform.HMI/lib/jquery/dist/jquery.min.js"></script>
<script src="/_content/Platform.HMI/js/sempro.js"></script>

<script title="commands">
    $("#ExecuteRetryButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/RobotTrayUnloader/NoEmptyPocketFoundAssist", "Retry")
    });
    $("#ExecuteStopButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/RobotTrayUnloader/NoEmptyPocketFoundAssist", "Stop")
    });
    </script>

