﻿<div class="container-fluid">
        <span style="padding: 1rem" class="row">The left front cover of the robot tray unloader module is open.</span>
        <span style="padding: 1rem" class="row">The robot cannot continue production untill the door is closed.  </span>
        <div style="display:table; flex-direction:column;">
            <p style="display:table-row"><span style="display: table-cell">1. Close the cover</span></p>
        </div>
</div>