﻿@page
@using Localization;
@using RobotTrayUnloader.HMI.Pages.Event.Events;
@using Microsoft.AspNetCore.Mvc.Localization;
@using RobotTrayUnloader.HMI.Pages.Events;
@model RobotTrayUnloader.HMI.Pages.Event.Events.RobotToTrayUnloaderInSimulation
@{
}
@inject IHtmlLocalizer<EventResource> localizer;
@Html.AntiForgeryToken()
<div class="sempro-event">
    <div class="container-fluid">
        <span style="padding: 0.5rem" class="row">@localizer["The magazine loader module is set in simulation"].</span>
        <span style="padding: 0.5rem" class="row">@localizer["In this mode the actuators will not move and the sensors will not be checked for material"].</span>
        <div>
            <span style="padding-left: 1rem" class="row">- @localizer["Press button"] '@localizer["Disable simulation"]' @localizer["to disable the simulation of movements for this module."]</span>
        </div>
    </div>

    <div class="event-commands-card">
        <button class="button" id="ExecuteMagazineLoaderInSimulationDisableSimulationButton" title="Disable simulation">
            @localizer["Disable simulation"]
        </button>
        &nbsp;
        <button class="button" id="ExecuteMagazineLoaderInSimulationStopButton" title="Stop">
            <img src="/_content/Platform.HMI/icons/stop.png" width="40">
        </button>
    </div>
</div>

<script title="commands">
    $("#ExecuteMagazineLoaderInSimulationDisableSimulationButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/MagazineLoader/MagazineLoaderInSimulation", "DisableSimulation")
        disableButtonTimeout("ExecuteMagazineLoaderInSimulationDisableSimulationButton", true, 200)
    });
    $("#ExecuteMagazineLoaderInSimulationStopButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/MagazineLoader/MagazineLoaderInSimulation", "Stop")
        disableButtonTimeout("ExecuteMagazineLoaderInSimulationStopButton", true, 200)
    });
</script>

