﻿@page
@model Power_X1_iCT.Pages.ProductionModel
@{
}
@Html.AntiForgeryToken()   
<link rel="stylesheet" href="/_content/Platform.HMI/css/production.css">
    <script src="~/js/materialTracking.js"></script>

    <div class="row">

        <div class="col-4 sempro-lotcontrol-card" style="height: 550px">
            <div style="overflow: auto; max-height: 500px">
                <table class="table">
                    <thead class="table-head" style="position:sticky; top:0; z-index:1; opacity:0.8">
                        <tr>
                            <th style="width: 150px;">State</th>
                            <th>Lot name</th>
                            <th width="45px">
                                <button class="smallbutton" id="AddLotButton" title="Add lot">
                                    <img src="/_content/Platform.HMI/icons/plus.png" width="40">
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblLots" />
                </table>
            </div>
        </div>
        <div id="AddLotContainer" style="display:none" class="sempro-lotcontrol-card col-4">
            @await Html.PartialAsync("_AddLotPartial.cshtml")
        </div>
        <div id="ViewLotContainer" style="display:none; min-width:330px" class="sempro-lotcontrol-card col-4">
            @await Html.PartialAsync("_LotViewPartial.cshtml")
        </div>
        <div id="ViewMaterialContainer" style="display:none; min-width:330px" class="sempro-lotcontrol-card col-4">
            @await Html.PartialAsync("_MaterialViewPartial.cshtml")
        </div>

        <div style="position:fixed; right:20px">            
            <button class="halvebutton" style="width:90px; height:90px;" onclick="openSaveLotDataModalPopUp()">
                <img title="Save lot data" src="/_content/Platform.HMI/icons/save.png" style="width:80px; height:80px;" />
            </button>           
        </div>        
    </div>   

    <div class="row" >
        <div class="sempro-materialtracking-card col-3">
            <div style="position: absolute; left: 100px; top: 73px;">
                <img src="/_content/Platform.HMI/icons/magazine.png" width="240" style="opacity:0.1;" />
            </div>
            <div class="checkbox-container" style="width: 55%; display: inline-block">
                <label class="checkbox-label magazine" style="left:75%;position:relative;">
                    <input type="checkbox" id="UpperConveyorHasMagazine" disabled>
                    <span class="checkbox-custom"></span>
                </label>
                <div class="conveyor"></div>
            </div>
            <div style="height:120px">
                <div class="row" style="height:48px;">
                    <div style="width:61%"></div>
                    <div>
                        <div style="height:15px"></div>
                        <div style="width:25px;transform:rotate(-90deg)" class="arrow"></div>
                    </div>
                </div>
                <div class="row" style="height:55px">
                    <div style="width:58%"></div>
                    <div class="checkbox-container">
                        <label class="checkbox-label magazine">
                            <input type="checkbox" id="MagazineLoaderLiftHasMagazine" disabled>
                            <span class="checkbox-custom"></span>
                        </label>
                    </div>
                    <div style="width:3%;display:inline-flex"></div>
                    <div class="checkbox-container">
                        <label class="checkbox-label device">
                            <input type="checkbox" id="OutfeedHasMaterial" disabled>
                            <span class="checkbox-custom"></span>
                        </label>
                    </div>
                    <div>
                        <div style="height:15px"></div>
                        <div style="width:0px;height:5px" class="arrow"></div>
                    </div>
                </div>
                <div class="row" style="height: 25px;">
                    <div style="width:61%"></div>
                    <div>
                        <div style="height:15px"></div>
                        <div style="width:25px;transform:rotate(90deg)" class="arrow"></div>
                    </div>
                </div>
            </div>
            <div class="checkbox-container" style="width: 55%; display: inline-block">
                <label class="checkbox-label magazine" style="left:75%;position:relative;">
                    <input type="checkbox" id="LowerConveyorHasMagazine" disabled>
                    <span class="checkbox-custom"></span>
                </label>
                <div class="conveyor"></div>
            </div>
            <div class="state" id="magazineLoaderTracking"></div>
        </div>
        <div class="sempro-materialtracking-card col-5">
            <div style="position: absolute; left: 14%; top: 70px;">
                <img src="/_content/Platform.HMI/icons/press.png" width="300" style="opacity:0.1;" />
            </div>
            <div style="position: absolute; left: 47%; top: 70px;">
                <img src="/_content/Platform.HMI/icons/press.png" width="300" style="opacity:0.1;" />
            </div>
                <div class="col-sm12" >
                    <div class="row" style="height:67px;justify-content:center; align-items:flex-end">
                        <div style="width:17%"></div>
                        <hr class="indexer" />
                    </div>

                    <div class="row" style="width:99%;top:70px; justify-content: flex-start; position: absolute">
                        <div class="col-sm-2" style="display:flex; justify-content:start; align-items:center"></div>
                        <div class="col-sm-2" style="display: flex; justify-content: center; align-items: start; padding: 0px">
                            <div class="arrow" style="transform:rotate(-90deg)"></div>
                        </div>
                        <div class="col-sm-2" style="display: flex; justify-content: center; align-items: start; padding: 0px">
                            <div class="arrow" style="transform:rotate(-90deg)"></div>
                        </div>
                        <div class="col-sm-2" style="display: flex; justify-content: center; align-items: start; padding: 0px">
                            <div class="arrow" style="transform:rotate(-90deg)"></div>
                        </div>
                        <div class="col-sm-2" style="display: flex; justify-content: center; align-items: start; padding: 0px">
                            <div class="arrow" style="transform:rotate(-90deg)"></div>
                        </div>
                        <div class="col-sm-2" style="display: flex; justify-content: center; align-items: start; padding: 0px">
                            <div class="arrow" style="transform:rotate(-90deg)"></div>
                        </div>
                    </div>
                    <div class="row" style="justify-content:flex-start;">
                        <div class="col-sm-2" style="display:flex; justify-content:start; align-items:center"></div>
                        <div class="col-sm-2" style="display: flex; justify-content: center; align-items: start; padding: 0px">
                            <div class="checkbox-container">
                                <label class="checkbox-label device">
                                    <input type="checkbox" id="IndexerPosition0HasMaterial" onclick="return false">
                                    <span class="checkbox-custom"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2" style="display: flex; justify-content: center; align-items: start; padding: 0px">
                            <div class="checkbox-container">
                                <label class="checkbox-label device">
                                    <input type="checkbox" id="IndexerPosition1HasMaterial" onclick="return false">
                                    <span class="checkbox-custom"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2" style="display: flex; justify-content: center; align-items: start; padding: 0px">
                            <div class="checkbox-container">
                                <label class="checkbox-label device">
                                    <input type="checkbox" id="IndexerPosition2HasMaterial" onclick="return false">
                                    <span class="checkbox-custom"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2" style="display: flex; justify-content: center; align-items: start; padding: 0px">
                            <div class="checkbox-container">
                                <label class="checkbox-label device">
                                    <input type="checkbox" id="IndexerPosition3HasMaterial" onclick="return false">
                                    <span class="checkbox-custom"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2" style="display: flex; justify-content: center; align-items: start; padding: 0px">
                            <div class="checkbox-container">
                                <label class="checkbox-label device">
                                    <input type="checkbox" id="IndexerPosition4HasMaterial" onclick="return false">
                                    <span class="checkbox-custom"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="justify-content:flex-start;">
                        <div class="col-sm-4" style="display:flex; justify-content:start; align-items:center"></div>
                        <div class="col-sm-2" style="display:flex; justify-content: center; align-items: start; padding: 0px">
                            <div class="checkbox-container">
                                <label class="checkbox-label device">
                                <input type="checkbox" id="IndexerPosition1HasWaste" disabled>
                                <span class="waste-image"></span>
                                </label>
                            </div>
                        </div>              
                    </div>
                    <div class="row" style="justify-content:flex-start;">
                        <div class="col-sm-1" style="display:flex; justify-content:start; align-items:center"></div>
                        <div title="Infeed" class="col-sm-2" style="display:flex; justify-content:center; align-items:start; padding:0px">
                            <div class="checkbox-container">
                                <label class="checkbox-label device">
                                <input type="checkbox" id="InfeedHasMaterial" onclick="return false">
                                    <span class="checkbox-custom"></span>
                                </label>
                            </div>
                        </div>
                        <div title="Trim" class="col-sm-2" style="display:flex; justify-content:center; align-items:start; padding:0px">
                            <div class="checkbox-container">
                                <label class="checkbox-label device">
                                    <input type="checkbox" id="TrimmingHasMaterial" onclick="return false">
                                    <span class="checkbox-custom"></span>
                                </label>
                            </div>
                        </div>
                        <div title="Wastebin" class="col-sm-2" style="display:flex; justify-content:center; align-items:start; padding:0px">
                            <div class="checkbox-container">
                                <label class="checkbox-label device">
                                    <input type="checkbox" id="WasteBinHasMaterial" onclick="return false">
                                    <span class="checkbox-custom"></span>
                                </label>
                            </div>
                        </div>
                        <div title="Dambar" class="col-sm-2" style="display:flex; justify-content:center; align-items:start; padding:0px">
                            <div class="checkbox-container">
                                <label class="checkbox-label device">
                                    <input type="checkbox" id="DambarHasMaterial" onclick="return false">
                                    <span class="checkbox-custom"></span>
                                </label>
                            </div>
                        </div>
                        <div title="Form" class="col-sm-2" style="display:flex; justify-content:center; align-items:start; padding:0px">
                            <div class="checkbox-container">
                                <label class="checkbox-label device">
                                    <input type="checkbox" id="FormingHasMaterial" onclick="return false">
                                    <span class="checkbox-custom"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="state" id="pressModuleTracking"></div>
            </div>
        <div class="sempro-materialtracking-card col-3">
            <div style="position: absolute; left: 122px; top: 69px;">
                <img src="/_content/Platform.HMI/icons/production-robot.png" width="180" style="transform: scaleX(-1); opacity:0.1;" />
            </div>
            <div class="col-sm-12" style="height:280px;">
                <div class="row" style="height: 93px; justify-content: flex-end ">
                    <div class="col-sm-3"></div>
                    <div class="trayLocation col-sm-3">
                        <label class="checkbox-label tray">
                                <input type="checkbox" id="Tray6HasTray" onclick="return false">
                                <span class="tray-image"></span>
                        </label>
                    </div>
                    <div class="trayLocation col-sm-3">
                    <label class="checkbox-label tray">
                        <input type="checkbox" id="Tray5HasTray" onclick="return false">
                        <span class="tray-image"></span>
                    </label>
                    </div>
                    <div class="trayLocation col-sm-3">
                        <label class="checkbox-label tray">
                            <input type="checkbox" id="Tray4HasTray" onclick="return false">
                            <span class="tray-image"></span>
                        </label>
                    </div>
                </div>
                <div class="row" style="height: 93px;justify-content: flex-end ">
                    <div class="col-sm-6"></div>
                    <div class="trayLocation col-sm-3">
                        <label class="checkbox-label tray">
                            <input type="checkbox" id="Tray3HasTray" onclick="return false">
                            <span class="tray-image"></span>
                        </label>
                    </div>
                </div>
                <div class="row" style="height:93px;justify-content:flex-end;">
                    <div class="col-sm-6" style="display:flex; justify-content:flex-start; align-items:flex-start; padding:0px">
                        <div style=" width:50px; height:50px; padding:0px ; margin:0px">
                            <label class="checkbox-label device">
                                <input type="checkbox" id="RobotInfeedHasMaterial" onclick="return false">
                                <span class="checkbox-custom"></span>
                            </label>
                        </div>
                        &nbsp;
                        <div style="width: 50px; height: 50px; padding: 0px; margin: 0px ">
                            <label class="checkbox-label device">
                                <input type="checkbox" id="RobotHasMaterial" onclick="return false">
                                <span class="checkbox-custom"></span>
                            </label>
                        </div>
                    </div>
                    <div class="trayLocation col-sm-3">
                        <label class="checkbox-label tray">
                            <input type="checkbox" id="Tray1HasTray" onclick="return false">
                            <span class="tray-image"></span>
                        </label>
                    </div>
                    <div class="trayLocation col-sm-3">
                        <label class="checkbox-label tray">
                            <input type="checkbox" id="Tray2HasTray" onclick="return false">
                            <span class="tray-image"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="state" id="robotToTrayUnloaderTracking"></div>
        </div>

    </div>

    <!-- Save lot data modal -->
    <div id="saveLotDataModal" class="modal fade">
        <div class="modal-dialog"  style="left:-490px">

            <!-- Modal content-->
            <div class="modal-content" style="width: 1500px;height:780px">
                <div class="modal-header">
                    <h4 class="modal-title">Save lot data</h4>
                    <button type="button" class="close" data-dismiss="modal" style="float:right">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row" style="margin:0px">
                            <div class="col-4>">
                                <div class="sempro-lotcontrol-card" style="height: 500px;max-width:550px">
                                <div style="overflow: auto; max-height: 450px">
                                    <table class="table">
                                        <thead class="table-head" style="position:sticky; top:0; z-index:1; opacity:0.8">
                                            <tr>
                                                <th style="width: 150px;">State</th>
                                                <th>Lot name</th>
                                                <th width="45px">
                                                    <label class="checkBox">
                                                        <input type="checkbox" id="lotsAllSelected">
                                                        <span class="checkmark "></span>
                                                    </label>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblLotDataLots" />
                                    </table>
                                </div>
                            </div>
                            </div>
                            <div class="col-4>">
                                <div class="sempro-lotcontrol-card" style="min-height: 500px;max-width:535px">
                                <div style="overflow: auto; max-height: 450px">
                                    <table class="table">
                                        <thead class="table-head" style="position:sticky; top:0; z-index:1; opacity:0.8">
                                            <tr>
                                                <th>Recipe name</th>
                                                <th width="45px">
                                                    <label class="checkBox">
                                                        <input type="checkbox" id="recipesAllSelected">
                                                        <span class="checkmark "></span>
                                                    </label>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblLotDataRecipes" />
                                    </table>
                                </div>
                            </div>
                            </div>
                            <div class="col-4>">
                                <div class="sempro-lotcontrol-card" style="height: 500px;max-width:500px">
                                <div style="overflow: auto; max-height: 450px">
                                    <table class="table">
                                        <thead class="table-head" style="position:sticky; top:0; z-index:1; opacity:0.8">
                                            <tr>
                                                <th>Log file</th>
                                                <th width="45px">
                                                    <label class="checkBox">
                                                        <input type="checkbox" id="logsAllSelected">
                                                        <span class="checkmark "></span>
                                                    </label>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblLotDataLogs" />
                                    </table>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="row sempro-lotcontrol-card"  style="height: 107px;width:1457px">
                            <div class="col-4">
									<select id="saveLotDataLocation" style="height:50px; width:140px">
									  <option selected value="C:"></option>
									</select>
                            </div>
                            <div class="col-6" style="color:white">
                                <img title="Folder name" src="/_content/Platform.HMI/img/download-folder.png" style="width:50px; height:50px;" />
                                : @DateTime.Now.ToString("yyyy-MM-dd_HHmm")
                            </div>
                            <div class="col-1">
                                <button class="button" onclick="saveLotDataItems()">
                                    <img title="Save lot data" src="/_content/Platform.HMI/icons/save.png" style="width:40px; height:40px;" />
                                </button>
                            </div>
                        </div>
                        </form>
                </div>
            </div>
        </div>
    </div>

    <script>
$(function() {
    //Fill drive options
    $.ajax({
        url: "./Production?handler=GetDrives",
        type: 'POST',
        beforeSend: function(xhr) {
            xhr.setRequestHeader("XSRF-TOKEN",
                $('input:hidden[name="__RequestVerificationToken"]').val());
        },
        error: function(response) {
            console.log("Error handler");
            console.log(response);
        },
        success: function(drives) {
            var selectDrives = document.getElementById("saveLotDataLocation");
            while (selectDrives.options.length > 0) {
                selectDrives.remove(0);
            }

            for (let i = 0; i < drives.drives.length; i++) {
                const option = new Option(drives.drives[i], drives.drives[i]);
                selectDrives.add(option, undefined);
            };
        }
    });

    //Fill lot reports
    $.ajax({
        url: "./Production?handler=GetLots",
        type: 'POST',
        beforeSend: function(xhr) {
            xhr.setRequestHeader("XSRF-TOKEN",
                $('input:hidden[name="__RequestVerificationToken"]').val());
        },
        error: function(response) {
            console.log("Error handler");
            console.log(response);
        },

        success: function(data) {
            var tblLotDataLots = $('#tblLotDataLots');

            if (tblLotDataLots == null) {
                return;
            }
            tblLotDataLots.empty();

            $.each(data.lots, function(i, lotItem) {
                if (lotItem.State != "Planned") {
                    tblLotDataLots.append
                        (
                            '<tr style="opacity:0.2">' +
                            '<td style="vertical-align:middle">' + lotItem.State + '</td>' +
                            '<td style="vertical-align:middle">' + lotItem.CustomerName + '</td>' +
                            '</tr>'
                        );
                }
            });
        }
    });

    //Fill recipe names
    $.ajax({
        url: "./Production?handler=GetRecipeNames",
        type: 'POST',
        beforeSend: function(xhr) {
            xhr.setRequestHeader("XSRF-TOKEN",
                $('input:hidden[name="__RequestVerificationToken"]').val());
        },
        error: function(response) {
            console.log("Error handler");
            console.log(response);
        },

        success: function(data) {
            var tblLotDataRecipes = $('#tblLotDataRecipes');

            if (tblLotDataRecipes == null) {
                return;
            }
            tblLotDataRecipes.empty();

            $.each(data.recipeNames, function(i, recipeItem) {
                tblLotDataRecipes.append
                    (
                        '<tr style="opacity:0.2">' +
                        '<td style="vertical-align:middle">' + recipeItem + '</td>' +
                        '</tr>'
                    );
            });
        }
    });

    //Fill log files
    $.ajax({
        url: "./Production?handler=GetLogFiles",
        type: 'POST',
        beforeSend: function(xhr) {
            xhr.setRequestHeader("XSRF-TOKEN",
                $('input:hidden[name="__RequestVerificationToken"]').val());
        },
        error: function(response) {
            console.log("Error handler");
            console.log(response);
        },

        success: function(data) {
            var tblLotDataLogs = $('#tblLotDataLogs');

            if (tblLotDataLogs == null) {
                return;
            }
            tblLotDataLogs.empty();

            $.each(data.logs, function(i, logItem) {
                tblLotDataLogs.append
                    (
                        '<tr style="opacity:0.2">' +
                        '<td style="vertical-align:middle">' + logItem + '</td>' +
                        '</tr>'
                    );
            });
        }
    });

});

function openSaveLotDataModalPopUp(){

    $("#saveLotDataModal").modal();
}
function saveLotDataItems(){

    var allLots = document.querySelector('#lotsAllSelected').checked;
    var allRecipes = document.querySelector('#recipesAllSelected').checked;
    var allLogs = document.querySelector('#logsAllSelected').checked;
    var location = document.querySelector('#saveLotDataLocation').value;
	
	var lots = { All:allLots };
    var recipes = { All: allRecipes };
    var logs = { All: allLogs };
    var items = {Location: location, Lots:lots, Recipes:recipes, Logs:logs};

    sendCommand("Production", "SaveLotDataItems", items);
}
</script>
