﻿<form method="post">
    <button class="button" id="CloseLeadframePusherDebug" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>

<form method="post">
    <h2>Leadframe pusher</h2>    
    <div class="settings-card">        
        <h3>Primair</h3>
        <div class="row" style="margin-left:10px">
            <button class="button" id="PrimairPusherRetrieve" name="PrimairPusherRetrieve" style="margin-right:10px">
                <img src="/_content/Platform.HMI/icons/arrow_left.png" width="40">
            </button>
            <button class="button" id="PrimairPusherPush" name="PrimairPusherPush">
                <img src="/_content/Platform.HMI/icons/arrow_right.png" width="40">
            </button>
        </div>
        <h3>Secondair</h3>
        <div class="row" style="margin-left:10px">
            <button class="button" id="SecondairPusherRetrieve" name="SecondairPusherRetrieve" style="margin-right:10px">
                <img src="/_content/Platform.HMI/icons/arrow_left.png" width="40">
            </button>
            <button class="button" id="SecondairPusherPush" name="SecondairPusherPush">
                <img src="/_content/Platform.HMI/icons/arrow_right.png" width="40">
            </button>
        </div>
    </div>
    &nbsp;    
    <div class="settings-card">
        <h3>Sensors</h3>
        &nbsp;
        <h3>Primair</h3>
        <div class="row col-11">
            <label class="checkBox" style="width:50px">
                <input type="checkbox" id="PrimairRetrievedCheckbox" disabled>
                <span class="checkmark"></span>
                Retrieved
            </label>
            <label class="checkBox" style="width: 50px">
                <input type="checkbox" id="PrimairPushedCheckbox" disabled>
                <span class="checkmark"></span>
                Pushed
            </label>
        </div>
        <hr style="margin-top:0.2rem;margin-bottom:0.2rem; border: 1px solid black" />
        <h3>Secondair</h3>
        <div class="row col-11">
            <label class="checkBox" style="width:50px">
                <input type="checkbox" id="SecondairRetrievedCheckbox" disabled>
                <span class="checkmark"></span>
                Retrieved
            </label>
            <label class="checkBox" style="width: 50px">
                <input type="checkbox" id="SecondairPushedCheckbox" disabled>
                <span class="checkmark"></span>
                Pushed
            </label>
        </div>
        &nbsp;
    </div>
</form>
