﻿<form method="post">
    <button class="button" id="CloseLiftDebug" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>
<form method="post">
    <h2>Lift</h2>
    <div class="settings-card">
        <h3>Gripper</h3>
        &nbsp;
        <div class="row">
            <div style="margin: auto auto">
            <button class="button" id="GripperOpen" name="GripperOpen" >
                <img src="/_content/Platform.HMI/icons/arrow_up.png" width="40">
            </button>

            <button class="button" id="GripperClose" name="GripperClose">
                <img src="/_content/Platform.HMI/icons/arrow_down.png" width="40">
            </button>
        </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="settings-card">
        <h3>Lift</h3>
        &nbsp;
        <div class="row" style="margin-left:115px">
            <label style="width:130px">Actual</label>
            <label style="width:130px">Setpoint</label>
        </div>
        <div class="row">
            &nbsp;
            <label for="LiftPositionY" style="width:80px; margin-left:10px">Position Y</label>
            <input class="textbox" id="LiftActualPositionY" type="number" disabled/>
            <input class="textbox" id="LiftPositionY" name="LiftPositionY" type="number" runat="server" value="0.1" min="1" max="1000" step="0.1" />
            <label for="LiftPositionY">mm</label>
            <button class="halvebutton" id="LiftGoToYButton" name="LiftGoToButton" style="margin-right:10px">
                Go to
            </button>
        </div>
        <div class="row">
            &nbsp;
            <label for="LiftPositionZ" style="width:80px; margin-left:10px">Position Z</label>
            <input class="textbox" id="LiftActualPositionZ" type="number" disabled />
            <input class="textbox" id="LiftPositionZ" name="LiftPositionZ" type="number" runat="server" value="0.1" min="1" max="1000" step="0.1" />
            <label for="LiftPositionZ">mm</label>
            <button class="halvebutton" id="LiftGoToZButton" name="LiftGoToButton" style="margin-right:10px">
                Go to
            </button>
        </div>
        &nbsp;
        <div class="row">
            <label for="LiftVelocity" style="width:80px; margin-left:10px">Velocity</label>
            <input class="textbox" id="LiftVelocity" name="LiftVelocity" type="number" runat="server" value="10" min="1" max="150" step="5" />
            <label for="LiftVelocity">mm/s</label>
         </div>
    </div>
    &nbsp;
    <div class="settings-card">
        <h3>Sensors</h3>
        &nbsp;
        <div class="row col-11">
            <label class="checkBox" style="width:50px">
                <input type="checkbox" id="GripperOpenCheckbox" disabled>
                <span class="checkmark"></span>
                Open
            </label>
            <label class="checkBox" style="width: 50px">
                <input type="checkbox" id="GripperClosedCheckbox" disabled>
                <span class="checkmark"></span>
                Closed
            </label>
        </div>
        &nbsp;
    </div>
</form>

<script>
    $("#LiftGoToYButton").click(function (e) {
        e.preventDefault();
        var positionY = document.getElementById("LiftPositionY").value;        
        var velocity = document.getElementById("LiftVelocity").value;

        let url = "./SetupMagazineLoader" + "?handler=LiftGoToY";
        $.ajax({
            type: "POST",
            url: url,
            data: { position: positionY, velocity: velocity},
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (response) {
                console.log("Error handler");
                console.log(response);
            },
            success: function (response) {
                console.log(response);
                $('#result').text(response.message);
            }
        });
    });
</script>

<script>
    $("#LiftGoToZButton").click(function (e) {
        e.preventDefault();
        var positionZ = document.getElementById("LiftPositionZ").value;        
        var velocity = document.getElementById("LiftVelocity").value;

        let url = "./SetupMagazineLoader" + "?handler=LiftGoToZ";
        $.ajax({
            type: "POST",
            url: url,
            data: { position: positionZ, velocity: velocity},
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (response) {
                console.log("Error handler");
                console.log(response);
            },
            success: function (response) {
                console.log(response);
                $('#result').text(response.message);
            }
        });
    });
</script>

<script>
    $("#GripperOpen").click(function (e) {
        e.preventDefault();
        sendCommand("SetupMagazineLoader", "GripperOpen");
    });
</script>

<script>
    $("#GripperClose").click(function (e) {
        e.preventDefault();
        sendCommand("SetupMagazineLoader", "GripperClose");
    });
</script>

