﻿<form method="post">
    <button class="button" id="CloseLowerConveyorDebug" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>

<form method="post">
    <h2>Lower conveyor</h2>    
    <div class="settings-card">
        <h3>Conveyor</h3>
        &nbsp;
        <div class="row" style="margin-left:10px">
            <button class="button" id="ExecuteLowerConveyorStart" name="LowerConveyorStart" style="margin-right:10px">
                <img src="/_content/Platform.HMI/icons/play.png" width="40">
            </button>

            <button class="button" id="ExecuteLowerConveyorStop" name="LowerConveyorStop">
                <img src="/_content/Platform.HMI/icons/stop.png" width="40">
            </button>
        </div>
        &nbsp;
    </div>
    &nbsp;
    <div class="settings-card">
        <h3>Sensors</h3>
        &nbsp;
        <div class="row col-11">
            <label class="checkBox" style="width:50px">
                <input type="checkbox" id="LowerConveyorMagazinePresent" disabled>
                <span class="checkmark"></span>
                Magazine present
            </label>
            <label class="checkBox" style="width: 50px">
                <input type="checkbox" id="LowerConveyorAlmostFull" disabled>
                <span class="checkmark"></span>
               Almost full
            </label>
        </div>
        &nbsp;
    </div>
</form>

<script title="commands">
    $("#ExecuteLowerConveyorStart").click(function (e) {
        e.preventDefault();
        sendCommand("SetupMagazineLoader", "LowerConveyorStart");
    });

    $("#ExecuteLowerConveyorStop").click(function (e) {
        e.preventDefault();
        sendCommand("SetupMagazineLoader", "LowerConveyorStop");
    });
</script>