﻿<form method="post">
    <button class="button" id="CloseOutfeedDebug" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>

<form method="post">
    <h2>Outfeed</h2>      
    &nbsp;
    <div class="settings-card">
        <h3>Sensors</h3>
        &nbsp;
        <div class="row col-11">
            <label class="checkBox" style="width:50px">
                <input type="checkbox" id="ProductAtOutfeed" disabled>
                <span class="checkmark"></span>
                At outfeed
            </label>  
            </div>
        &nbsp;
    </div>
</form>