﻿<form method="post">
    <button class="button" id="CloseUpperHatchDebug" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>

<form method="post">
    <h2>Upper hatch</h2>

    <div class="settings-card">
        <h3>Hatch</h3>
        &nbsp;
        <div class="row" style="margin-left:10px">
            <button class="button" id="ExecuteUpperHatchOpen" name="UpperHatchOpen" style="margin-right:10px">
                <img src="/_content/Platform.HMI/icons/arrow_up.png" width="40">
            </button>
            <button class="button" id="ExecuteUpperHatchClose" name="UpperHatchClose">
                <img src="/_content/Platform.HMI/icons/arrow_down.png" width="40">
            </button>
        </div>
        &nbsp;
    </div>
    &nbsp;
    <div class="settings-card">
        <h3>Sensors</h3>
        &nbsp;
        <div class="row col-11">
            <label class="checkBox" style="width:50px">
                <input type="checkbox" id="UpperHatchOpenCheckbox" disabled>
                <span class="checkmark"></span>
                Hatch open
            </label>
            <label class="checkBox" style="width: 50px">
                <input type="checkbox" id="UpperHatchDownCheckbox" disabled>
                <span class="checkmark"></span>
                Hatch closed
            </label>
        </div>
        &nbsp;
    </div>
</form>

<script title="commands">
    $("#ExecuteUpperHatchOpen").click(function (e) {
        e.preventDefault();
        sendCommand("SetupMagazineLoader", "UpperHatchOpen");
    });

    $("#ExecuteUpperHatchClose").click(function (e) {
        e.preventDefault();
        sendCommand("SetupMagazineLoader", "UpperHatchClose");
    });
</script>