﻿<form method="post">
    <button class="button" id="CloseUpperConveyorDebug" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="/_content/Platform.HMI/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>

<form method="post">
    <h2>Upper Conveyor</h2>    
    <div class="settings-card">
        <h3>Conveyor</h3>
        &nbsp;
        <div class="row" style="margin-left:10px">
            <button class="button" id="ExecuteUpperConveyorStart" name="UpperConveyorStart" style="margin-right:10px">
                <img src="/_content/Platform.HMI/icons/play.png" width="40">
            </button>

            <button class="button" id="ExecuteUpperConveyorStop" name="UpperConveyorStop">
                <img src="/_content/Platform.HMI/icons/stop.png" width="40">
            </button>
        </div>
        &nbsp;
    </div>
    &nbsp;
    <div class="settings-card">
        <h3>Sensors</h3>
        &nbsp;
        <div class="row col-11">
            <label class="checkBox" style="width:50px">
                <input type="checkbox" id="UpperConveyorProductAtTransfer" disabled>
                <span class="checkmark"></span>
                At transfer
            </label>
            <label class="checkBox" style="width: 50px">
                <input type="checkbox" id="UpperConveyorAlmostEmpty" disabled>
                <span class="checkmark"></span>
                Almost empty
            </label>
        </div>
        &nbsp;
    </div>
</form>

<script title="commands">
    $("#ExecuteUpperConveyorStart").click(function (e) {
        e.preventDefault();
        sendCommand("SetupMagazineLoader", "UpperConveyorStart");
    });

    $("#ExecuteUpperConveyorStop").click(function (e) {
        e.preventDefault();
        sendCommand("SetupMagazineLoader", "UpperConveyorStop");
    });
</script>